[2019-04-05 11:02] harshalmittal4 commented on #503
Yes, @valeriocos, agreed. `format` seems to put stricter restrictions, I get it :thinking:
I have made the PR accordingly, please review.
Thanks!

[2019-04-05 17:29] harshalmittal4 opened #510 "Adding google yapf formatter to the repository for better code maintenance."
While working on an issue in perceval, this idea appeared.
I propose adding the google yapf formatter to the repository. It will :

- do **initial yapf formatting** of the entire code to conform to the best style guides.

- add **pre-commit formatting**, which would automtically format the code for any commit so that the style is consistent throughout the codebase.

I would be happy working on thi

[2019-04-07 07:24] harshalmittal4 opened #511 "Displaying available options for the --category param in the help message specific for each backend.."
Currently the **help message for the backends** shows the param `--category` as a general argument, without showing the available options. While to make it more user-friendly, we can show the different available options for the param `--catagory` in the help message specific to each backend, something like:
<br>
[code]
in case of Github.
<br>
[code]
in case of Gitlab.

This would add the param `--

[2019-04-07 10:41] valeriocos commented on #511
Thank you for proposing this idea @harshalmittal4 . Before deciding how to proceed with this, I would suggest you to finalize the PRs #508 #508 to avoid having pending work, which might be postponed if we started working on new things :)

[2019-04-07 12:04] harshalmittal4 commented on #511
@valericos, done with those PR's, please review when you get time.

[2019-04-08 13:51] #494 closed

[2019-04-08 14:06] valeriocos commented on #511
Thank you @harshalmittal4 . I like the idea so: +1, let's wait for @jgbarah and @sduenas feedback

[2019-04-08 14:25] #507 closed

[2019-04-08 14:25] #459 closed

[2019-04-08 15:26] sduenas commented on #511
Yeah, to have it will be awesome.

[2019-04-08 15:30] valeriocos commented on #511
@harshalmittal4 feel free to start working on the PR when you have time, thanks!

[2019-04-08 16:16] valeriocos commented on #510
Thank you @harshalmittal4 for sharing this idea. I'm not sure about the advantage of including google yapf formatter, since the grimoirelab repos already use flake8 (which enforces style guide) when executing the tests on Travis (https://github.com/chaoss/grimoirelab-perceval/blob/master/.travis.yml#L20).

Any thoughts @sduenas @jgbarah ?

[2019-04-08 16:43] harshalmittal4 commented on #510
Actually flake8 just highlights the errors, while the idea is to add yapf plugin as a pre-commit hook so it corrects the errors automatically for each commit, while could also do initial code formatting.

[2019-04-08 17:33] jgbarah commented on #510
I have to say that I don't have experience working with yapf. But from a working-flow point of view, I think it would be much better that, in case we want to use it, devels run it before committing, than having it run as a pre-commit hook.

From another point of view, I'm not sure we need yapf, or any other formater for that matter. But that's just my view ;-) @sduenas @valeriocos what do you thin

[2019-04-08 20:12] sduenas commented on #510
To be honest, I'd rather not use this by default.

I don't have experience with this tool and I don't want to introduce anything that I don't really know or understand.

I also think it will make developers lazy about their style. I'm not saying we shouldn't improve code style but I don't think this is the way. It's up to every developer to use it or not, but we shouldn't force to use it because I

[2019-04-08 20:12] #510 closed

[2019-04-09 01:20] harshalmittal4 commented on #510
Sure @sduenas, @jgbarah, @valeriocos, thanks for your valuable feedback! Lets put this down for now, can always turn up to this later in case someone feels :slightly_frowning_face:

[2019-04-10 13:24] #470 closed

[2019-04-15 04:38] harshalmittal4 opened #514 "Regarding the metric definition for pull_request_participants"
While trying to implement pull_request_participants (for a microtask), I realised that some elaboration is needed on who all are to be considered as participants in a pull_request.

Participants can be defined as those who review a PR **or** comment on a PR **or** both (anyone who either reviews or comments on a PR).
I feel it should be the last option, i.e. anyone who either reviews or comments o

[2019-04-15 11:33] harshalmittal4 commented on #514
The issues which are actually pull_requests, include the comments, but the reviews aren't included in this case which is why we can't use them directly.

[2019-04-15 12:34] valeriocos commented on #514
@harshalmittal4 I'm not sure this issue should have been opened in the perceval repo, since it seems more a question regarding a specific microtask.

To answer your question, you are free to include any information which is not provided by Perceval. However, note that if you plan to include this info to Perceval, it should be done as discussed at: https://github.com/chaoss/wg-gmd/issues/81#issueco

[2019-04-17 08:11] harshalmittal4 commented on #514
Hey @valeriocos I realised this issue is more suited to wg-gmd repo :sweat_smile:
(But since now it is present here, may I ask about it here)

I tried getting the comments from the url using python's requests, but after certain time it is asking for authentication, so had to provide access_token again to fetch the comments seperately. Will push it by today (after adding some other stuff), for you

[2019-04-18 07:57] harshalmittal4 opened #515 "Inclusion of commit comments in the JSON response for pull_request"
Following the discussion, this issue is about including the commit messages to the JSON response for pull_request.

[https://api.github.com/repos/chaoss/wg-gmd/pulls/12/commits](https://api.github.com/repos/chaoss/wg-gmd/pulls/12/commits) provides all the fields that can be included in `commits_data`  section of the response. Currently, it contains only the commit hash. Along with the **hash, comm

[2019-04-18 08:39] valeriocos commented on #515
I would start by adding only the comments since commit message, author and committer are already retrieved via the Git backend.

Thanks @harshalmittal4

[2019-04-18 08:48] valeriocos commented on #514
please close this issue @harshalmittal4 and open it in wg-gmd. For related technical details, we can keep talking here: https://github.com/chaoss/grimoirelab-perceval/issues/515

Thank you :)

[2019-04-18 11:31] harshalmittal4 commented on #515
Thanks for the reply @valeriocos, but this^ appears confusing.

Here is what I understand :
1) issue comments (= regular comments, via [https://api.github.com/repos/chaoss/wg-gmd/issues/12/comments](https://api.github.com/repos/chaoss/wg-gmd/issues/12/comments))
2) review comments (or line comments, via  [https://api.github.com/repos/chaoss/wg-gmd/pulls/12/comments](https://api.github.com/repos/ch

[2019-04-18 11:32] harshalmittal4 commented on #515
Thanks for the reply @valeriocos, but this^ appears confusing.

Here is what I understand :
1) issue comments (= regular comments, via [https://api.github.com/repos/chaoss/wg-gmd/issues/12/comments](https://api.github.com/repos/chaoss/wg-gmd/issues/12/comments))
2) review comments (or line comments, via  [https://api.github.com/repos/chaoss/wg-gmd/pulls/12/comments](https://api.github.com/repos/ch

[2019-04-18 11:33] harshalmittal4 commented on #515
Thanks for the reply @valeriocos, but this^ appears confusing.

Here is what I understand :
1) issue comments (= regular comments, via [https://api.github.com/repos/chaoss/wg-gmd/issues/12/comments](https://api.github.com/repos/chaoss/wg-gmd/issues/12/comments))
2) review comments (or line comments, via  [https://api.github.com/repos/chaoss/wg-gmd/pulls/12/comments](https://api.github.com/repos/ch

[2019-04-18 11:33] harshalmittal4 commented on #515
Thanks for the reply @valeriocos, but this^ appears confusing.

Here is what I understand :
1) issue comments (= regular comments, via [https://api.github.com/repos/chaoss/wg-gmd/issues/12/comments](https://api.github.com/repos/chaoss/wg-gmd/issues/12/comments))
2) review comments (or line comments, via  [https://api.github.com/repos/chaoss/wg-gmd/pulls/12/comments](https://api.github.com/repos/ch

[2019-04-18 11:34] #514 closed

[2019-04-18 12:01] valeriocos commented on #515
Sorry for not being clear @harshalmittal4 :)

Point 4. should focus on collecting the commit comments, which may be left during a code review. This point was discussed here: https://github.com/chaoss/wg-gmd/issues/81#issuecomment-482813346

For this iteration I'd say that it's better to focus only on commit comments. The remaining info about commits is already available via the Git backend.

Let m

[2019-04-18 13:16] harshalmittal4 commented on #515
Hey @valeriocos, are these the line comments (mentioned in Point (2) above) you are talking about ? They are already there in the response.

[2019-04-18 14:27] valeriocos commented on #515
point 2. is about review comments, which are different from point 4 (please see the endpoints calls).
If you open https://api.github.com/repos/chaoss/wg-gmd/pulls/12/commits, you will see that it contains:
comments_url": "https://api.github.com/repos/chaoss/wg-gmd/commits/df277ff9269cd26e907f0c4b4fb5b08b4a9a3c8b/comments. There you will find the comments for that given commit.

[2019-04-19 09:30] harshalmittal4 commented on #515
Thanks @valeriocos for the nice explanation, got it :sweat_smile:

I made the additions in the code for this, but during execution it runs into an error saying `perceval.errors.ArchiveError: data storage error; cause: duplicated entry`. I will try figuring it out, but would be slightly delayed since I am a bit occupied at present. Would make the PR once it is resolved, but could make it now with t

[2019-04-19 17:29] valeriocos commented on #515
@harshalmittal4 thank you, please submit the PR so we can have a look at it :)

[2019-04-20 12:43] Polaris000 opened #516 "[feature] Include comments from /reviews in pull_request fetched by Perceval"
The raw pull request data Perceval fetches from /pull/<number> has several attributes, like, the number of review comments, commits, etc.
which are missing for the comments present at /reviews.  This feature includes the missing comments as "reviews"

The discussion started [here](https://github.com/chaoss/wg-gmd/issues/81#issuecomment-482809284
).

My current plan:
1. In the [pulls function (gith

[2019-04-20 15:26] jgbarah opened #517 "Use chardet to find out character encodings"
For data sources for which character encodings cannot be determined otherwise, it could make sense to use [chardet](https://chardet.readthedocs.io/en/latest/) which does a good job in finding out the most likely charset for a given binary string. This could be used for example for commit messages, etc.

[2019-04-20 17:29] valeriocos commented on #516
Yes, the plan looks good. To add more info, which may help you in the implementation, you should:

- add `reviews` to the list [TARGET_PULL_FIELDS](https://github.com/chaoss/grimoirelab-perceval/blob/b5dec01c90407e28efce2a04a4b8a9d5bfedf0e6/perceval/backends/core/github.py#L61)
- add another elif statement [here](https://github.com/chaoss/grimoirelab-perceval/blob/b5dec01c90407e28efce2a04a4b8a9d5b

[2019-04-22 14:35] #503 closed

[2019-04-22 17:25] Polaris000 commented on #516
I have pushed the changes to my fork of grimoirelab-perceval [here](https://github.com/Polaris000/grimoirelab-perceval/tree/PullRequestReviews_branch).
Only thing I have n't done yet is the tests part.

Should I still open a pull-request now and then add tests later?
Or will you check my fork and then I can send everything at once?

Let me known @valericos, thanks!

[2019-04-23 04:44] Polaris000 commented on #516
Thanks for the reply @valeriocos (on my fork). I deleted the comment I made in this issue yesterday since right after making that comment, it became apparent to me that it would be much better to review the changes in a pull request rather than elsewhere.

I am working on the tests now.

Very sorry for the delay. Since there are only about 10 days of classes left at my university, several class te

[2019-04-23 08:03] valeriocos commented on #516
no worries @Polaris000 , feel free to submit the PR when you have time.
Good luck with the last days of classes :)

[2019-04-24 13:28] Polaris000 commented on #516
@valeriocos, the tests use data from a repository named "repo", owned by "zhquan_example". I am unable to access it.

I realized that parameters like the rate limit are fetched with respect to example.com but haven't worked with example.com before.

What am I missing?
Thanks in advance!

[2019-04-24 13:32] harshalmittal4 commented on #516
Hey @Polaris000, all the reference data for github tests can be found within [this](https://github.com/chaoss/grimoirelab-perceval/tree/6aa7968f2ecfbc90b64bc81ccfed7f0a4152bea0/tests/data/github) directory :)

[2019-04-24 13:34] harshalmittal4 commented on #516
Hey @Polaris000, all the reference data for github tests can be found in [this](https://github.com/chaoss/grimoirelab-perceval/tree/6aa7968f2ecfbc90b64bc81ccfed7f0a4152bea0/tests/data/github) directory :)

[2019-04-24 13:34] Polaris000 commented on #516
Thanks for the reply @harshalmittal4. I am aware of that. The feature I need to test requires data from elsewhere, which is why I raised the question.

[2019-04-24 13:35] valeriocos commented on #516
Tests against APIs (like GitHub, GitLab) rely on `httpretty`, which is a HTTP client mocking tool for Python.

If we focus on the following test:
https://github.com/chaoss/grimoirelab-perceval/blob/master/tests/test_github.py#L176, you can see that from line 180 - 232, we are setting up the mocked data (for given URLs, some predefined data is returned). To enable httpretty, it is needed to add `@h

[2019-04-24 13:38] #511 closed

[2019-04-24 13:39] Polaris000 commented on #516
But where do you get the mocked data from?
For example, the file github_issue_comments_1 contains issue comments. But how were they fetched?

[2019-04-24 13:41] sduenas commented on #511
@harshalmittal4 thanks for the patch. I've just merged it. There are some other repositories that should be also updated:

https://github.com/chaoss/grimoirelab-perceval-mozilla
https://github.com/chaoss/grimoirelab-perceval-opnfv
https://github.com/chaoss/grimoirelab-perceval-puppet

It will be great if you can update them too!

[2019-04-24 13:42] harshalmittal4 commented on #516
Yes @Polaris000, I also required the mocked data for commit comments (sorry I understood your question late as soon as I made the reply!).
Hey @valeriocos, how can we get the mocked data for reviews and commit comments respectively..

[2019-04-24 13:52] valeriocos commented on #516
Sorry @Polaris000 I misunderstood your question.

You can take it directly from the GitHub API via `curl` or using perceval. In the latter case, once a feature is ready, you can launch perceval (with the new feature) on a given repo and add some code to print the results of the API. For instance, if we want to get some test data for issue comments we can modify the method `__get_issue_comments` in

[2019-04-24 14:01] harshalmittal4 commented on #516
Me too!

Regarding the data, does it not need to be aligned with the "zhquan_example", I mean can it be from any repo,
@valeriocos, please see, need some guidance, thanks!

[2019-04-24 14:11] valeriocos commented on #516
yes, sure, it is not needed to be aligned with that repo

[2019-04-25 06:55] valeriocos commented on #511
@harshalmittal4 let me know if you can modify the above repos. In case you are busy, I can do take care of them.

Thanks!

[2019-04-25 07:08] harshalmittal4 commented on #511
Sure @valeriocos, I aleready made the fork and would produce the PR by today ;)

[2019-04-25 07:09] valeriocos commented on #511
great! thanks for the quick reply!

[2019-04-26 07:35] valeriocos commented on #516
@Polaris000 let me know when I can review your work (either in your repo or on your upcoming PR), thank you!

[2019-04-27 06:32] Polaris000 commented on #516
@valeriocos, since pull_request "reviews" are now included in the pull request data fetched by perceval, every test using the data from zhquan_example would fail, since there are no reviews for that.

The test_reviews() test which I have written compares the reviews fetched by perceval with the reviews for a grimoirelab-tutorial pull request. Of course,  this test is passed, but any test dealing w

[2019-05-03 11:39] #516 closed

[2019-05-03 12:22] MonikaEve commented on #331
Hi,
I have encountered the same problem and I've been trying to fix it for some time now. I also installed grimoirelab and perceval successfully inside a virtual environment. The problem is that there are only perceval and grimoirelab files of the type "File" in the \Scripts folder. I searched the virtual environment folder for a perceval file of the type 'application', but I couldn't find one.
He

[2019-05-03 14:58] valeriocos commented on #331
Hi @MonikaEve thank you for bringing this issue to life again.

Grimoirelab is developed on Linux and should work on any Linux-like platform. Currently, having Grimoirelab running on Windows is on the wishlist, but not at priority. However, if there is specific reason/advantage to use windows, please let us know and we can check all together how to move things forward.

PS that file is python and

[2019-05-04 14:53] valeriocos commented on #331
I executed perceval on my Windows machine using the following steps:
- Download python 3.6 from https://www.python.org/downloads/
- Create a shortcut of python.exe (e.g., `python36.lnk`) and move it to the Desktop. Python.exe is located where python has been installed, in my case is: `C:\Users\mylaptop\AppData\Local\Programs\Python\Python36`
- Install perceval from the terminal: `C:\Users\mylaptop

[2019-05-07 13:41] paultyng opened #520 "[github] Add GitHub release data collection (or Git branch/tag information)"
In addition to issues / commits from GitHub, it would be nice to be able to correlate releases with certain activity (forum traffic, etc).

[2019-05-07 14:08] valeriocos commented on #520
Thank you @paultyng for your interest in Perceval. Please, could you elaborate a bit more on your feature request and clarify the terms below ?

- Does the term `release` refer to this endpoint: https://developer.github.com/v3/repos/releases/ or to git branches/tags ?
- Does forum traffic is related to this endpoint: https://developer.github.com/v3/repos/traffic/ or to other data sources (maybe al

[2019-05-08 18:33] cewilliams opened #523 "[github] __get_pull_requested_reviewers error on Github Enterprise"
Github returns a dict from _.../pulls/{number}/requested_reviewers_ with `users` and `teams` keys. Github Enterprise returns a plain list of users. This causes

https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L387

to throw:

    File ".../lib/python3.7/site-packages/perceval/backends/core/github.py", line 397, in __get_pull_requested_reviewers
    for r

[2019-05-08 19:25] valeriocos commented on #523
Thank you @cewilliams for reporting this issue.

Since we don't have a GitHub entreprise instance to replicate the error, would be possible to provide some test data like the one here: https://github.com/chaoss/grimoirelab-perceval/blob/master/tests/data/github/github_request_requested_reviewers (maybe adding also team information) ? In this way, we could easily rework the test [test_fetch_pull_en

[2019-05-08 23:44] cewilliams commented on #523
Will do. I was already planning on submitting a patch - is there an expected way to determine when Perceval is talking to an Enterprise server? The two options I came up with were: 1) Check during GithubClient __init__ for base_url and setting a flag in the object, or 2) just checking if the returned value was a list and creating a dict with the list in it.

Having the client know that it is talki

[2019-05-09 00:00] valeriocos commented on #523
Great @cewilliams ! I would go for option 2) since it seems more like bug* than something wanted. However, I agree with you for option 1) in case there are other responses that differ from the public api.

*The doc [here](https://developer.github.com/enterprise/2.16/v3/enterprise-admin/) says that the enterprise API offers some additional endpoints plus the public ones.

[2019-05-09 14:30] sduenas commented on #515
As we commented in #518, this is no longer supported. It's supported only for commits. I'm gonna close this issue for that reason.

A possible solution to have this feature would be to have a category `commit`, that will use the [API for commits](https://developer.github.com/v3/repos/commits/) and include this within it. Feel free to work on it.

[2019-05-09 14:30] #515 closed

[2019-05-09 15:13] valeriocos commented on #515
That sounds good @sduenas !

@harshalmittal4 if you need any help, just ping us. When you have time, please open an issue and we can discuss there about the details.

Thanks!

[2019-05-11 09:33] valeriocos commented on #474
It seems that kubernetes/kubernetes issue data can be fetched without problems. I tried a normal execution and an execution with the recent feature https://github.com/chaoss/grimoirelab-perceval/commit/637f280519539ee5afa54dfa6e7d8e07b316c99c, and the fetch process ended successfully.

@sduenas should we close this issue ?

[2019-05-13 18:34] sduenas opened #527 "Simplify fetch() and fetch_items()"
To retrieve items from a data source, `Backend` abstract class implements the method `fetch`. This method creates a generator that will get data calling to `fetch_items`. By default, this method is not implemented because the logic to fetch data is specific for each data source.

Backends also have to override `fetch` method to add specific parameters. This method also needs to call to the parent

[2019-05-13 18:40] sduenas opened #528 "Error in backend calling fetch more than once when archive is set"
When we implemented the `Archive` object, we considered it will only store the items of a single `fetch` call. It can't be reused to store the raw responses of several fetch tasks.

If the archive is set, it will produce an error because the archive object is given when the object is initialized and not when `fetch` is called.

To fix this issue, #527 must be completed first.

[2019-05-13 18:53] sduenas opened #529 "Summary of results"
It will be awesome to have a summary with the results after each call to `fetch`.

The summary will keep the number of items read, generated, ignored or skipped; the log of the process; when the task started and when it finished; and probably some important notes, for example, like in Git when new branches are retrieved and others are deleted.

[2019-05-13 18:54] sduenas commented on #474
Yeah, let's close it. Feel free to reopen it if we find the same error again.

[2019-05-13 18:54] #474 closed

[2019-05-13 18:56] lukaszgryglicki commented on #474
Great, thanks!

[2019-05-14 08:32] #523 closed

[2019-05-28 09:59] propol opened #532 "Data of different versions"
Greetings! In case I want to construct an analysis about the history of one project based on its past releases, is there a way to gather the data of  only specific versions (tags) of a github repo through Perceval?

[2019-05-28 10:38] valeriocos commented on #532
Hi @propol ,
unfortunately Perceval doesn't provide this info, since there is no direct link between issues and releases in GitHub (afaik). However you could modify Perceval to fetch issues / pull requests based on:
- the start and end dates of a release (if you can obtain them)
- their tags/labels (if they follow some naming convention for releases)

If you have an example of repo you would like

[2019-05-28 10:59] propol commented on #532
Thank you for the quick response @valeriocos ,
let's say I want to analyze the versions of a big repo like Laravel: https://github.com/laravel/framework .
I believe I would prefer the first solution you gave as it was something I was thinking of my own because I saw that Perceval supports the --from-date argument (only missing an end-date I suppose, if I have understood correctly) and because vari

[2019-05-28 15:28] valeriocos commented on #532
You're welcome @propol and thank you for sharing an example of the repo you want to analyze :) I agree with you wrt the first solution.

Please, note that the github backend includes also the `to_date` param:
https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L133

Feel free to close the issue, thanks!

[2019-05-28 15:46] propol commented on #532
Oh I see, I'll make sure to look into it!

Closing the issue, thank you again @valeriocos for your help :)

[2019-05-28 15:46] #532 closed

[2019-06-11 08:00] GeorgLink opened #535 "Error with `perceval git` on a new Ubuntu 18.04"
I installed Ubuntu 18.04 fresh.
Then followed the tutorial to install GrimoireLab (`v.0.2.23`) with Perceval (`v 0.12.16`) from pip3.

Trying to use perceval using the following command:
[code]

I get the following error messages:
[code]

[2019-06-11 08:00] GeorgLink commented on #535
the reason may be that I don't have git installed

[2019-06-11 08:03] GeorgLink commented on #535
yes, now it works :/

Idea: include in the pip installation a check for all dependencies, including:
- git
- build-essential

[2019-06-11 11:08] valeriocos commented on #476
@sanacl if you agree we can close this issue, since it was fixed upstream.l

[2019-06-11 11:18] #476 closed

[2019-06-18 07:36] lukaszgryglicki opened #537 "[Question] how to use supybot backend"
Hi, I'm trying to get any data from `supybot` Perceval data source, but I always get 0 messages.
I've read the class documentation and tried many many different URLs and I'm unable to fetch anything.
For example, I'm trying to get data from `#zephyrproject` channel on `irc.freenode.net`server.
No luck, tried:
[code]
No idea what is wrong.
Always getting the response:
[code]
I was trying to figure

[2019-06-18 08:02] lukaszgryglicki opened #538 "[Question] trying to use groups backend"
Hi, I'm trying to use `Groups.io` Perceval backend.
The documentation says that I need `GitHub OAuth token` but groups.io doesn't have an option to login via GitHub. I've created an account on groups.io and it can only allow logging in via standard email/password pair or via Google or via Facebook. I've checked all groups.io setting and there is no way to create API token there and their documenta

[2019-06-18 08:37] sduenas commented on #538
**Groups.io** is full of tricks. I've been working with it recently and it was hard to understand how to run it.

To get a token you need to run the next command:
[code]
The user must be `123456`.

Next, you have to subscribe your user to the mailing lists you want to track.

Once you have that, to analyze those mailing lists in `groups.io`  under a different domain, you have to use the name of th

[2019-06-18 08:39] lukaszgryglicki commented on #538
Thanks a lot. Will let you know soon.

[2019-06-18 08:39] sduenas commented on #537
Supybot backend doesn't download anything. It only analyzes files from a local directory. You have to have your own process to download the archives or to provide them to Perceval.

Sorry if the documentation is not clear about it.

[2019-06-18 08:54] lukaszgryglicki commented on #537
OK, that clear - would be great to have that info in the docs.

[2019-06-18 08:54] #537 closed

[2019-06-18 08:55] lukaszgryglicki commented on #537
Do you have any suggestions about tools to download IRC logs? Obviously, somebody who created that data source must have something to get that data - would be great to have that example in the docs as well.

[2019-06-18 09:00] sduenas commented on #537
Well, `supybot` is the name of the bot that generates those data :). So, if the bot is subscribed to that channel, it can generate and store the logs wherever you need them.

[2019-06-18 09:04] lukaszgryglicki commented on #537
Ok, so data source only supports IRC channels that have that bot installed. Also, a good candidate to add to the docs. I guess I cannot install that bot on every repo that I want to track, so this is a bit unusable for me atm. Thanks for the info.

[2019-06-18 09:20] lukaszgryglicki commented on #538
So the first part (token related) works, I've created the following bash script to get token value and then call Perceval:
[code]

- User is subscribed to the given list (zephyrproject).

But then using that token gives 400 error (just like before, 400 error means permission error):
[code]

[2019-06-18 09:22] valeriocos commented on #538
@lukaszgryglicki , in case you want to know the group names your token is subscribed you can use this script: https://gist.github.com/valeriocos/676d90c58c56e2b17b882f2603283d39

Further info about how to get a token can be found also here:
https://beta.groups.io/g/api/topic/getting_a_auth_token/23025030?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,23025030

[2019-06-18 09:24] lukaszgryglicki commented on #537
Correct me if I'm wrong, i want to 100% confirm: to have `supybot` data source working I have to ask every single IRC channel owners to install the additional bot on their channels, right?

[2019-06-18 09:29] valeriocos commented on #538
I successfully subscribe to zephyrproject main, the corresponding perceval command should be the following:
[code]

[2019-06-18 09:30] sduenas commented on #537
The only way to get data from IRC channels (as far as I know) is to have something listening on those channels. Either you or the admins of the channel should have a user/bot listening there to get the data. Admins used to have that and `supybot` was the most common some years ago.

Supybot produces a specific output format. If data was generated by other bot, you will have to create something to

[2019-06-18 09:30] lukaszgryglicki commented on #538
Hi, I have "fdsfsdhsgfsdjh" in token value because it comes from `| jq '.token'` - my bad. I'll fix my script and retry - I've got this from your gist, thanks!

[2019-06-18 09:36] lukaszgryglicki commented on #538
Works, thanks!

[2019-06-18 09:36] #538 closed

[2019-06-18 10:02] valeriocos commented on #538
You are welcome @lukaszgryglicki . It sounds like a good idea to update docs with all these details.

[2019-06-18 13:50] lukaszgryglicki opened #541 "[Question] How to use meetup backend tokens?"
Hi, I'm wondering how to set up meetup token to be used for Perceval.
[Here](https://github.com/LF-Engineering/perceval-scripts#meetups) I'm trying to get Hyperledger meetup data using Perceval. I'm running this without tokens via: `perceval meetup --sleep-for-rate hyperledger`.
BTW: how should I set `--min-rate-to-sleep MIN_RATE_TO_SLEEP` parameter? I just want it to wait until rate limit is rese

[2019-06-18 14:00] valeriocos commented on #541
Hi @lukaszgryglicki , you can get an API token for meetup on this page: https://secure.meetup.com/meetup_api/key/

Then, you can execute perceval in the following way:
[code]

[2019-06-18 14:03] lukaszgryglicki commented on #541
Hi, I've tried this before creating an issue:
![Screenshot 2019-06-18 at 16 02 26](https://user-images.githubusercontent.com/2469783/59690934-874b3480-91e2-11e9-9698-d3e9f0ae1a3e.png)

[2019-06-18 14:06] valeriocos commented on #541
![captura-07](https://user-images.githubusercontent.com/6515067/59691130-d729fb80-91e2-11e9-86ea-36777e3d4a87.png)

Interesting, in my case I can still get the API Key. We will look into this and update you, thanks!

[2019-06-18 14:07] lukaszgryglicki commented on #541
Thanks, I cannot do it. Tried different browsers. maybe this is because of a new account created specially for this?

[2019-06-18 14:12] valeriocos commented on #541
Yes, it seems so, I've just created an account and got the same result you posted:
![captura-09](https://user-images.githubusercontent.com/6515067/59691772-de053e00-91e3-11e9-98b5-accb96c2474b.png)

[2019-06-18 14:24] lukaszgryglicki commented on #541
Great that you can replicate, now I see a problem because OAUth2 seems to be a lot more complex to handle in a simple python command like `perceval`. it requires server callbacks etc. So my question is: is the `meetup` backed dead for now?

[2019-06-18 14:33] valeriocos commented on #541
In the case you don't have a previous account, the answer is yes. In any case, this is going to bite as soon, we should provide a quick fix @sduenas

[2019-06-18 14:48] lukaszgryglicki commented on #541
I don't have an old meetup account, so, unfortunately, it is dead for me :-(

[2019-06-19 04:50] lukaszgryglicki opened #542 "[Feature request] Add support for OAuth2 in meetup backend"
This is a follow up from [this issue](https://github.com/chaoss/grimoirelab-perceval/issues/541). Meetup API keys are deprecated, and new accounts no longer have the option to create API keys (old account still can do it). Meetup forces to use `OAuth2` instead.

[2019-06-19 04:53] lukaszgryglicki opened #543 "[Feature request] Add support for Rocket.Chat"
Hi, any chance to add backend support for Rocket.Chat, for example, to be able to get data from https://chat.hyperledger.org.
Thanks, best regards.

[2019-06-19 07:16] sduenas commented on #543
I don't think this is under our plan yet but PRs are always welcome.

[2019-06-19 07:19] lukaszgryglicki commented on #543
Ok, so I'll ask my team if they want me to implement this.

[2019-06-19 10:24] valeriocos commented on #542
a WIP PR is available at: https://github.com/chaoss/grimoirelab-perceval/pull/544. The creation of an oauth token is assisted by a script: https://gist.github.com/valeriocos/e16424bc7dc0f2d6dd8bb9295c6f9a4b

[2019-06-19 10:25] valeriocos commented on #541
Can we close this issue @sduenas @lukaszgryglicki  ?

[2019-06-19 10:46] lukaszgryglicki commented on #542
Wow, this is fast, but you need some service running on your own domain `https://example.com` listening for call-backs right?

[2019-06-19 10:50] lukaszgryglicki commented on #541
I think we should wait for meetup OAuth support PR to be merged and make sure docs are updated. But this is only my opinion.

[2019-06-19 10:54] valeriocos commented on #542
it seems that it's not needed, afaiu the `redirect_uri` is needed just to get the code, which will appear as a param of the redirect_uri. I tried with `https://example.com/test` as `redirect_uri` and got this `https://example.com/test?code=683f3ebe...`

[2019-06-19 10:55] lukaszgryglicki commented on #542
OK, I'll check.

[2019-06-19 11:06] lukaszgryglicki commented on #542
@valeriocos if I save your gist python says:
[code]
You have broken whitespace in your example. I'll fix this locally, but I'm just letting you know.

[2019-06-19 11:08] lukaszgryglicki commented on #542
My fixed version is:
[code]

[2019-06-19 11:13] valeriocos commented on #542
Thanks @lukaszgryglicki , I have just updated the gist

[2019-06-19 11:17] lukaszgryglicki commented on #542
Your code works:
[code]

It says `expires_in`: `3600`. Does it mean that I have to run this python shell every hour?

[2019-06-19 11:23] lukaszgryglicki commented on #542
Also, this code is one time, only, the next time you run this, the code is invalid, so you have to reauthenticate using browser. I see no easy way to automate this from a shell script, I've tried:
[code]
But this works only once, and only when you generated the code from the browser.
How do you imagine to use meetup backend "headless" I mean running somewhere from the Kubernetes cron job for examp

[2019-06-19 11:45] lukaszgryglicki commented on #542
I would rather think about passing all stuff needed to generate `OAuth2` token (which is `key` and `redirect_uri`) generating code, then using all 4 items (key, secret, redirect_uri and code) to get a token. All of this should happen automatically, without the need to use any manual steps.  I can accept manual steps, even complex if they need to be done once, but if this is needed every hour then

[2019-06-19 11:53] lukaszgryglicki opened #545 "[Question] How to use discourse tokens?"
Suppose I want to get discourse data, I can do it tokenless via: `perceval discourse https://edgex.discourse.group`, but I expect to hit some rate limit or be banned by IP or whatever after some time.

The documentation says that I can use token.

I'm going to `https://edgex.discourse.group` site, create an account and then I want to create a token, but I don't see any option to create token there

[2019-06-19 12:34] valeriocos commented on #542
Thank you for your feedback @lukaszgryglicki

[2019-06-19 12:36] lukaszgryglicki commented on #542
You're welcome.

[2019-06-20 10:15] valeriocos commented on #542
@lukaszgryglicki I have been testing the use of the same oauth token on different days and with a battery of meetup groups (around 120). The token doesn't seem to expire, so I'm not sure the param `expires_in` is active.

I also had a look at the [RFC](https://tools.ietf.org/html/rfc6749#section-4.2.2), from the description below , it may be possible that what we see it's the default value, which

[2019-06-20 10:23] lukaszgryglicki commented on #542
Ok, I will try to generate another one and just use it, and then let you know. Thanks.

[2019-06-20 18:51] svysali opened #546 "[github] "Rate limit not initialized: 401 Client Error" when invoked from python script"
Hi,

I'm trying to fetch issues from a GitHub repository. I have perceval version 0.12.16. When I invoker perceval from the command line, I am able to fetch the issues.

However, when I try to get the issues through a python script, it fails. I downloaded [perceval_github_1.py](https://chaoss.github.io/grimoirelab-tutorial/perceval/scripts/perceval_github_1.py) and ran it and here's the error:

Ra

[2019-06-20 19:00] valeriocos commented on #546
Hi @svysali , thank you for using Perceval.

Please try to include the token in a list. One of the latest features added to the GitHub backend is the possiblity to pass a list of tokens, for instance:
[code]

Let us know if this solves your issue, otherwise please share your code.
Thanks!

[2019-06-20 19:04] svysali commented on #546
Thank you @valeriocos. Once I changed the api_token to a list, I was able to retrieve the issues.
Thank you once again !

[2019-06-20 19:26] valeriocos commented on #546
Great! thank you for the quick reply @svysali

[2019-06-20 19:26] #546 closed

[2019-06-24 12:40] sduenas commented on #545
From[ Discourse documentation](https://docs.discourse.org/), under **Authentication** section:

[code]

Most of these answers can be answered either reading the README file or running `perceval <backend> --help`, but of course, it needs a lot of improving.

README file contain info for those backends where authentication methods are more complicated than others. I'd like to have a good manual for

[2019-06-24 12:42] lukaszgryglicki commented on #545
Thanks for the info. I have no time to dive into it during the current or maybe even next week :(, but there was no admin panel at all AFAIR.

[2019-06-24 12:45] #542 closed

[2019-06-25 08:00] valeriocos commented on #541
PR merged: https://github.com/chaoss/grimoirelab-perceval/pull/544

@lukaszgryglicki @sduenas if it's OK on your side, we could close this issue, thanks

[2019-06-25 08:05] lukaszgryglicki commented on #541
OK to close.

[2019-06-25 10:37] sduenas commented on #545
I think to see the admin panel you need special permissions. You would have to ask the token to the admin of the site, I think.

I'm closing this issue. Feel free to open it if you have more troubles about it.

[2019-06-25 10:37] #545 closed

[2019-06-25 10:38] #541 closed

[2019-07-10 08:28] #432 closed

[2019-07-19 08:59] sduenas commented on #529
To get the results the backend should implement a method like `backend.result()`. This method will return the result of the last execution of the backend. It should return `None` when an execution is still running or no result has been produced yet.

Another option is to implement the method `backend.results()` to return all results produced by this backend. Maybe this can be implemented later if

[2019-07-22 00:28] brainwane opened #557 "remove obsolete httpretty warning in README"
The README right now mentions:

but https://pypi.org/project/httpretty/#history has 0.9.6. So you can probably remove this warning.

[2019-07-22 08:25] valeriocos commented on #557
Hi @brainwane , thank you for the pointer!

[2019-07-24 10:00] #557 closed

[2019-07-25 15:09] aklapper opened #561 "Index Gerrit hashtags"
Gerrit allows to add so-called "Hashtags" to changesets: https://gerrit-review.googlesource.com/Documentation/intro-user.html#hashtags

They are currently not indexed in the DB (according to Kibana's "Discover") but probably could be.

[2019-08-01 04:24] Polaris000 opened #563 "[feature-request] Fetch events for issues"
Apart from the information fetched for issues (`<api_url>/issues/<issue_num>`), it may be a good idea to also fetch event information, or atleast the last re-open event for issues (`<api_url>/issues/<issue_num>/events`).
Apart from the `created_at`, `closed_at` and `updated_at` fields, there could be an `events` field added to the issue data Perceval fetches.

Though I couldn't find any call to th

[2019-08-13 17:00] valeriocos commented on #563
Hi @Polaris000 , a PR addressing your request has been just made available.
I noticed some inconsistency in the documentation at: https://developer.github.com/v3/activity/events/#list-public-events. In particular, it is reported that:
[code]

However from the tests I did (fetching events from grimoirelab-perceval repo), I was able to fetch events that happened before 90 days ago. Since you are goi

[2019-08-13 17:24] Polaris000 commented on #563
I'll have a look, thanks @valeriocos.

[2019-08-20 23:00] foundjem opened #566 "failure extracting issues from openstack at launchpad"
I am trying to use Perceval to extract bug data from OpenStack at Launchpad, but every time I ran to this error:

`Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/perceval/archive.py", line 181, in store
    payload_dump, headers_dump, data_dump))
sqlite3.IntegrityError: UNIQUE constraint failed: archive.hashcode

During handling of the above exception, another ex

[2019-08-20 23:40] valeriocos commented on #566
Hi @foundjem , thank you for using perceval. The error is due to a duplicated entry in the archive (a mechanism that stores the requests done to an API and the corresponding response into a relational database), please try to use the param `--no-archive`.

[2019-08-22 08:07] valeriocos commented on #566
any news on this issue @foundjem ? thanks

[2019-08-22 13:29] foundjem commented on #566
Hello @valeriocos, it seems working now.  Thanks for your help.

[2019-08-22 13:30] valeriocos commented on #566
thank you for answering @foundjem , let's close this issue. Feel free to reopen it if needed

[2019-08-22 13:30] #566 closed

[2019-08-29 10:03] jjmerchante opened #567 "[meetup] The token is visible in the logs"
When you try to analyze a group that does not exist, an error is generated and the token that was being used is shown, for example for `events` group (does not exist):

`Error: Not Found for url: https://api.meetup.com/events/events?fields=event_hosts,featured,group_topics,plain_text_description,rsvpable,series&status=cancelled,upcoming,past,proposed,suggested&page=200&order=updated&access_token=x

[2019-08-29 10:26] valeriocos commented on #567
Thank you @jjmerchante for reporting this issue, I'll have a look at it ASAP

[2019-08-29 12:29] valeriocos commented on #567
The referenced PR should solve the problem. The output for a failing meetup group is now the following:
[code]

[2019-08-29 14:39] #567 closed

[2019-08-31 14:37] valeriocos opened #569 "[groupsio] update endpoints to fetch archives"
Due to recent breaking changes on groupsio, the endpoints used by the corresponding backend should be updated.

Note that existing Basic Auth tokens will continue to work until the end of September, or when they expire, whichever comes first. More details at: https://beta.groups.io/g/api/message/115

[2019-09-02 15:54] #569 closed

[2019-09-03 22:27] gleehokie opened #572 "GitHub clones"
The GitHub traffic API (https://developer.github.com/v3/repos/traffic/#clones) includes the information regarding clones.  I would like this to be included in Perceval information collection so it can be added to the Cauldron project (see https://github.com/Bitergia/cauldron.io/issues/15).

[2019-09-03 23:06] valeriocos commented on #572
Hi @gleehokie, thank you for your interest in Perceval.
The main limitation with this feature is that you need an access token with push permission (something that is generally not granted to external tools).

[2019-09-09 16:59] #529 closed

[2019-09-10 11:15] sduenas commented on #563
As I said in #565, we'll keep this on hold until there's a solution that doesn't break Perceval.

[2019-09-10 11:15] #563 closed

[2019-10-01 08:41] sanacl opened #578 "List of HTTP codes to retry the petition should be customizable"
From grimoirelab-elk it is not possible to control when retries should be launched. In some cases like the one below, we need to retry when a 500 error response is provided by the server. Due to it is not possible to modify the hardcoded list of numeric HTTP responses, the data collection of Merge Requests from gitlab.com is taking more time than expected.

[code]

The HTTP responses where Perceva

[2019-10-01 10:41] valeriocos commented on #578
A PR addresses this issue: https://github.com/chaoss/grimoirelab-perceval/pull/579

please @zhquan @sanacl have a look at it

[2019-10-07 13:02] valeriocos commented on #578
Closed by #579

[2019-10-07 13:02] #578 closed

[2019-10-16 22:12] aaronnickovich commented on #367
I'd like to contribute a bitbucket interface for this project. bitbucket has similar APIs to github.

[2019-10-17 10:41] sduenas commented on #367
That would be great! Please take as reference [github.py](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py) and [gitlab.py](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/gitlab.py) as reference.

[2019-10-17 13:20] valeriocos commented on #367
Hi @aaronnickovich, thank you for your interest! If you need some help don't hesitate to ping us!

[2019-10-22 11:00] RCheesley opened #582 "[Feature request] Add support for Transifex"
Transifex is quite a popular way of managing translations and has an open API: https://docs.transifex.com/api/introduction

It would be great to be able to bring this important volunteer activity into the dashboards!

[2019-10-22 11:52] valeriocos commented on #582
Thank you @RCheesley for opening this issue. Which data should be retrieved from the Transifex API? [resources](https://docs.transifex.com/api/resources) and their [translations](https://docs.transifex.com/api/translations) for a given project should be OK or you are thinking about something different?

[2019-10-22 12:15] RCheesley commented on #582
I'm pretty new with Transifex myself but I would think it makes sense to be able to define either an organisation or specific projects, and then from that you would want to pull in the languages available, % translated, and the info about the people who have been contributing.

I'm not sure how much you can pull on the individual users, as when I was reviewing the API docs I could only find the us

[2019-10-22 12:48] valeriocos commented on #582
thank you for the pointer @RCheesley, I'll check it out in the next days.

[2019-10-30 11:54] sarthak0906 commented on #367
Hello everyone,
Is anyone working on the sonarqube interface for the project? If it is still open I would like to contribute to it.

[2019-10-30 15:14] valeriocos commented on #367
Hi @sarthak0906! You're contribution is more than welcome.

Please have a look to the [github.py](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py) and [gitlab.py](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/gitlab.py) as reference. You can also have a look at a prototype of the sonarqube backend [here](https://github

[2019-10-30 17:31] aaronnickovich commented on #367
I have a question for the community. I've been working on a bitbucket implementation and the public domain bitbucket uses an API V2. However, enterprise bitbucket is typically using the v1 API. They are very different.
Would anyone like to help suggest if Perceval should have a bitbucketv1 and a bitbucket, or would it be better to do a bitbucket interface with something like an --api-version flag

[2019-10-30 22:01] jgbarah commented on #367
From my point of view, having a --api (or similar) flag would be the way to go (even if we start with a single API supported). This happens not only in Bitbucket, we have other data sources with different APIs too.

Maybe a reason for not having that flag would be that it can be automagically inferred from a simple query to the API which version it is implementing.

[2019-10-31 00:29] aaronnickovich commented on #367
These data sources you refer to appear to be minor changes in how to fetch something with a slightly different server version. For instance, mediawiki and gerrit. When I talk about bitbucket APIs, it's actually two different products offered by Atlassian:
**Bitbucket Server**: [https://docs.atlassian.com/bitbucket-server/rest/6.7.1/bitbucket-rest.html](url)
**Bitbucket Cloud**: [https://developer.

[2019-11-03 16:50] sarthak0906 commented on #367
Hey everyone.
I have a doubt regarding the sonarqube backend, What all data should be fetched from the sonar database.

[2019-11-04 08:09] valeriocos commented on #367
Hi @sarthak0906, sorry for the late reply.
I can have a closer look to the sonar API, but it seems that following endpoint should be enough https://sonarcloud.io/web_api/api/measures. The backend could receive the name of a component and then iterate over the measures for each metric, WDYT?

[2019-11-04 09:54] sduenas commented on #367
I have a doubt. Does data have the same fields and structure depending which version you use?

[2019-11-04 17:58] #535 closed

[2019-11-04 18:10] aaronnickovich commented on #367
Hi @sduenas,
No the input and output of each have about as much in common as gitlab and github. It's actually bitbucket server and bitbucket cloud which look like 2 different product offerings.

<img width="1135" alt="Screen Shot 2019-11-04 at 9 47 34 AM" src="https://user-images.githubusercontent.com/23493031/68144710-184c4f00-fee9-11e9-8f29-e13dba2b673b.png">

The field for 'name' in cloud is 's

[2019-11-05 03:18] sarthak0906 commented on #367
That does sound amazing
Thanks for the help

[2019-11-09 13:41] lukaszgryglicki opened #585 "Perceval github with --fetch-archive (when there is no archive yet) fails"
I want to execute `perceval github` on some repo periodically. I don't want it to redo its full analysis every time. This seems to work OK when running without `--from-archive` for the first time and then subsequent runs can use `--from-archive` flag (to save time processing data already processed), but when I try to run with `--from-archive` when perceval was never run before:

`perceval github -

[2019-11-09 13:45] lukaszgryglicki commented on #585
BTW: is `--fetch-archive` actually doing what I think it does?
My understanding is that it fetches whatever was already processed from its SQLite archives database *and then fetches new GitHub data for newer activity*, right?

[2019-11-09 14:02] lukaszgryglicki commented on #585
cc @valeriocos @sduenas

[2019-11-09 14:29] lukaszgryglicki commented on #585
The conclusion is that I can resume `perceval git` during the next run (so it only fetches new data since then) via `--latest-items` flag - this works.

But for GitHub `perceval github` there is no such flag, the closest thing I’ve found is `--fetch-archive` but this behaves like this:
My local perceval version (older) receives nothing when run with this flag for the first time, the newest version

[2019-11-10 14:46] lukaszgryglicki opened #586 "groupsio backend is not working"
`perceval -g groupsio hyperledger -e "(redacted)" -p "(redacted)" --from-date 2019-10-01`:
[code]
Credentials are correct, check on the groups.io site and I can login with them. Group exists, if I change group name other error is returned.

Can anybody show me a working `perceval groupsio` example?

[2019-11-10 15:18] valeriocos commented on #586
@lukaszgryglicki, I guess the group doesn't have enabled the permission to download archives. We experienced the same issue with another group, the solution was to ask the group's owner to enable that permission. More details at:
- https://beta.groups.io/g/api/topic/enable_download_archives/34544765?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,34544765
- https://groups.io/g/GroupManagersForum/t

[2019-11-10 16:13] lukaszgryglicki opened #587 "bugzillarest datasource error"
`p2o.py --enrich --index lf-sds-bugzilla-raw --index-enrich lf-sds-bugzilla -e redacted --db-host mariadb.mariadb --db-sortinghat sortinghat --db-user sortinghat --db-password redacted bugzillarest https://bugs.dpdk.org/ -u redacted -p redacted --from-date 2019-10-01 --no-archive`:
[code]

[2019-11-11 07:21] lukaszgryglicki commented on #586
OK thanks for the info, that wasn't obvious from the error returned.

[2019-11-11 07:23] valeriocos commented on #586
you are right! maybe a log message would help. Thanks for the feedback

[2019-11-11 08:09] lukaszgryglicki opened #588 "meetup backend is not working"
When you try to use `meetup` backend, it returns permission error (with correct `-t TOKEN`).
I was thinking that the token is incorrect and tried to create a new one.
Token authorization is no longer supported, see:
![Screenshot 2019-11-11 at 09 04 50](https://user-images.githubusercontent.com/2469783/68571274-e8f68e80-0462-11ea-8ee9-bdd811a7be88.png)

[2019-11-11 08:22] lukaszgryglicki commented on #586
There is no `OPNFV` group (at least Perceval says that):
[code]

[2019-11-11 08:34] valeriocos commented on #586
Are you registered to https://lists.opnfv.org/g/main? If you don't join the group, you cannot download the archives (AFAIK).

[2019-11-11 08:34] sduenas commented on #585
Perceval doesn't have that feature but in the case of Git. The archive is only conceived for testing purposes and not as a source of truth.
Perceval doesn't resume because it lets others to decide whether the downloaded data was valid or not. If you need something to do this work, use Arthur.

The only exception we have is with git due to how it works internally returning data when `git log` is ca

[2019-11-11 08:39] lukaszgryglicki commented on #585
OK, I've used `p2o.py` instead, it uses `ES` when running multiple times.

[2019-11-11 09:01] #585 closed

[2019-11-11 09:15] valeriocos commented on #588
@lukaszgryglicki you should generate an oauth2 token. You can use the following script:
https://gist.github.com/valeriocos/e16424bc7dc0f2d6dd8bb9295c6f9a4b.

Let us know if this solves your issue, thanks!

[2019-11-12 15:12] valeriocos commented on #588
@lukaszgryglicki feel free to reopen the issue if needed

[2019-11-12 15:12] #588 closed

[2019-11-13 07:13] lukaszgryglicki commented on #588
So I need some URL registered right? If I put some example URL it fails due to callback URL not found error.

[2019-11-13 08:00] valeriocos commented on #588
Have you tried to use `"https://example.com/test"` has callback?

[2019-11-13 08:08] lukaszgryglicki commented on #588
No, I will, thanks.

[2019-11-13 08:31] lukaszgryglicki commented on #588
`https://example.com/test` work and returns:
[code]

But it says refresh in `3600s` - does it mean that I need to do this every 1 hour? It's a manual operation requiring user action so not practical at all.
Or maybe I can ignore this "expires in"?

[2019-11-13 08:56] valeriocos commented on #588
You can ignore it.

We investigated `expires_in` in the past and it's not used/active. We are using oauth2 tokens in our prd envs and the collection runs smoothly.

Hope it helps

[2019-11-13 10:25] lukaszgryglicki commented on #588
Yes, thank you very much, so I should be good to go, but cannot spot check now, due to big data collection already running for 3150 endpoints.

[2019-11-14 09:24] lukaszgryglicki opened #590 "GitHub data source error: NoneType' object is not subscriptable"
GitHub data source error:
[code]

[2019-11-14 10:02] valeriocos commented on #590
The error is with this pull request: https://github.com/hyperledger/sawtooth-core/pull/93.
The last requested reviewer (right side) is `None`, you can see in the UI only a yellow circle (without name)

[2019-11-14 10:04] valeriocos commented on #590
I'm preparing the fix, thanks @lukaszgryglicki for reporting this issue.

[2019-11-14 10:11] lukaszgryglicki opened #591 "Perceval jenkins datasource fails (internal python error)"
`p2o.py --enrich --index (redacted) --index-enrich (redacted) -e (redacted) --db-host mariadb.mariadb --db-sortinghat sortinghat --db-user sortinghat --db-password (redacted) jenkins https://jenkins.zowe.org --no-archive --category build`:
[code]

[2019-11-14 10:15] lukaszgryglicki commented on #590
Thanks! There will be more probably, I'm running Perceval on 3152 endpoints...

[2019-11-14 10:23] lukaszgryglicki opened #592 "jira perceval error - is this due to permission denied?"
Is this due to permission denied? If so can we have a better error message, becaus enow whatever I change I'm getting the same error and I can't find why it fails even with `-g` flag turned on:
`perceval -g jira https://jira.hyperledger.org --project BUR -u (redacted) -p (redacted) --no-archive --verify False`:
[code]

[2019-11-14 10:47] lukaszgryglicki opened #593 "Perceval gerrit backend - KeyError"
SSH priv key is put in `/root/.ssh/id_rsa`, public kay is added to gerrit:
`p2o.py --enrich --index (redacted) --index-enrich (redacted) -e (redacted) --db-host mariadb.mariadb --db-sortinghat sortinghat --db-user sortinghat --db-password (redacted) gerrit gerrit.hyperledger.org --user (redacted) --disable-host-key-check --no-archive`:
[code]

[2019-11-14 12:26] lukaszgryglicki commented on #593
[code]

[2019-11-14 12:32] lukaszgryglicki commented on #586
Just added a user to this group, will see if that helps, thanks.

[2019-11-14 13:07] lukaszgryglicki commented on #586
So for `edgexfoundry` with correct email/password pair (because otherwise, the error is different):
[code]
Same for `hyperledger`:
[code]

If I put wrong goup name or wrong credentials error is different:
[code]

For both groups I've subscribed to groups and received email confirming that I'm subscribed.

Any ideas (or is it just disabled downloading archives)?

[2019-11-14 14:06] valeriocos commented on #586
I guess it's due to disabled downloading of archives. For `hyperledger`, the permission of the group are:
[code]

[2019-11-14 14:10] lukaszgryglicki commented on #586
Ok, so we can close this unless there is a way to do that anyway, but I guess if API disallows this there is nothing you can do, right?

[2019-11-14 14:20] valeriocos commented on #586
Yes, you should ask the admin groups to enable it (https://groups.io/g/GroupManagersForum/topic/39414187#21350)

[2019-11-14 14:39] #586 closed

[2019-11-14 17:13] #590 closed

[2019-11-14 19:35] lukaszgryglicki commented on #590
Hi, so quick question - should I just built new `grimoire` images from corresponding master branches and I will have the fixed version?

[2019-11-16 14:40] valeriocos commented on #592
Hi @lukaszgryglicki , yes it seems to. However, it is a bit strange because I have tried without credentials and it works: `jira https://jira.hyperledger.org --project BUR`.

[2019-11-17 15:28] lukaszgryglicki commented on #592
OK, thanks for an info.

[2019-11-17 16:16] valeriocos commented on #592
you're welcome! It may be better to keep this issue open to investigate this behavior.

[2019-11-18 11:16] valeriocos opened #596 "Investigate support for Jenkins pipelines"
After checking the issue #591 with @sduenas, it seems that Jenkins may return jobs of different types. For instance, here https://jenkins.zowe.org/, the jobs below are related to  multibranch pipelines.

- https://jenkins.zowe.org/job/zowe-dockerimage-test/ (not configured)
- https://jenkins.zowe.org/job/zowe-docs-site/ (a job inside)
- https://jenkins.zowe.org/job/zowe-helloworld-jjb/ (not config

[2019-11-21 09:57] #591 closed

[2019-11-23 14:27] sarthak0906 commented on #367
Hey, I had a doubt,
How can I test for a new backend from the command line?
Also is there any gitter chat or any other platform to connect and ask a few more doubts if needed.

[2019-11-23 15:09] valeriocos commented on #367
HI @sarthak0906,

You can install Perceval with the new backend in a virtual env (see details below) or test it from pycharm (you should create a configuration and pass the params, details about how to run Perceval with Pycharm can be found here: https://github.com/inishchith/chaoss-microtasks/tree/master/microtask-1, an example of configuration is at [1])
[code]

[1]
![captura_141](https://user-i

[2019-11-23 17:24] aaronnickovich commented on #367
Hi @sarthak0906 and @valeriocos,
I actually just started adding tests for one of the backends this week. I figured out a test workflow for myself that works for me. I like to run tests with code coverage reports to see what areas I'm missing in the test cases so I'm not making redundant tests.

Once you have run the steps mentioned by valeriocos above to setup your environment:
[code]

I like to r

[2019-11-23 17:57] valeriocos commented on #367
Nice pointer @aaronnickovich!

I use just `coverage` and execute it twice:
- `coverage/__main__.py run run_tests.py --source=perceval` to generate the `.coverage` file
- `coverage/__main__.py report -m` to get a textual output from `.coverage` as the one below

[code]

[2019-11-25 18:29] sduenas commented on #596
This was already fixed by #597

[2019-11-25 18:29] #596 closed

[2019-11-26 18:58] sarthak0906 commented on #367
I'm still trying to complete the task before I go on to test it,
but it definitely is very helpful and will remember it

[2019-11-28 16:22] valeriocos commented on #592
@lukaszgryglicki I'm not able to replicate the issue, I tried with the following commands and all of them worked.
- perceval jira -u ... -p ... https://jira.hyperledger.org --project BUR
- perceval jira https://jira.hyperledger.org --project BUR
- perceval jira -u ... -p ...  jira https://jira.hyperledger.org
- perceval jira https://jira.hyperledger.org

let's close this issue, feel free to reopen

[2019-11-28 16:22] #592 closed

[2019-12-04 05:11] PrajwalM2212 commented on #416
I would like to work on this

[2019-12-04 06:15] valeriocos commented on #416
that's great, @PrajwalM2212 !

Please have a look at https://github.com/inishchith/chaoss-microtasks/tree/master/microtask-1 and https://github.com/chaoss/grimoirelab-sirmordred#setting-up-a-pycharm-dev-environment to set up a dev environment.

Thanks

[2019-12-04 12:01] musman-ashraf opened #601 "commits count"
Hi,
I noticed a difference between commits mentioned on GitHub and when I fetched through perceval (always more). Why is that?

Thanks in advance.

[2019-12-04 12:41] jgbarah commented on #601
Could this explain it?:

If that's not the case, please provide an specific example.

[2019-12-04 12:46] musman-ashraf commented on #601
Thanks. It says, "All statistics exclude merge commits",  yet there are some linked commits to pull request which are part of statistics and some are not.

[2019-12-04 13:10] jgbarah commented on #601
Yes. Perceval fetches all commits in the repository, except that a branch is specified, in which case only commits in that branch are fetched.

[2019-12-04 13:14] musman-ashraf commented on #601
Thanks a lot.

[2019-12-04 13:35] jgbarah commented on #601
Thanks to you for caring!

Can we close this issue then?

[2019-12-04 13:36] sduenas commented on #601
Yeah. I think this is already resolved.

[2019-12-04 13:36] #601 closed

[2019-12-04 13:38] sduenas commented on #601
By the way, for completion, GitHub only shows the number of commits from `master` (or the default branch), not from other branches.

[2019-12-05 06:11] lukaszgryglicki opened #602 "Gerrit backend: KeyError: 'owner'"
User's SSH key is set in `~/.ssh/id_rsa`
`p2o.py --enrich --index sds-hyperledger-sawtooth-gerrit-raw --index-enrich sds-hyperledger-sawtooth-gerrit -e (redacted) --db-host mariadb.mariadb --db-sortinghat sortinghat --db-user sortinghat --db-password (redacted) gerrit gerrit.hyperledger.org --user (redacted) --disable-host-key-check --no-archive`:
[code]

[2019-12-05 07:52] lukaszgryglicki opened #603 "Jira backend is not working for the correct email/password pair (only some Jira URLs not all)"
Command: `p2o.py --enrich --index sds-o-ran-documentation-jira-raw --index-enrich sds-o-ran-documentation-jira -e (redacted) --db-host mariadb.mariadb --db-sortinghat sortinghat --db-user sortinghat --db-password (redacted) jira https://jira.o-ran-sc.org --project DOC -u (redacted) -p (redacted) --no-archive --verify False`:
[code]

I was debugging this a lot and those credentails are 100% sure OK

[2020-01-08 13:29] valeriocos opened #605 "[phabricator] You must use withSourcePHIDs() to query edges. (code: ERR-CONDUIT-CORE)"
[code]

[2020-01-10 15:37] svdo opened #606 "[gitlab] Getting 404 client errors; incorrect URL encoding?"
I have configured a gitlab repo in my projects json, like this:

[code]

When I run Grimoirelab (0.2.36, built myself as full-3p including third-party tools), I get errors about issues and merge requests. The error looks like this:

[code]

What strikes me as potentially incorrect, is that the URL in the error message contains both slashes ('/') and escaped slashes ('%2F'). I'm aware of the need t

[2020-01-10 16:22] valeriocos commented on #606
Hi @svdo,

I guess the error is due to wrong URLs in the projects.json. For instance, taking as a reference the call at: `https://gitlab.my-enterprise.com/api/v4/projects/my-project%2Fmy-repo.git/issues?updated_after=1970-01-01T00%3A00%3A00%2B00%3A00&sort=asc&per_page=100&order_by=updated_at&state=all`, it fails since there is no project `my-project%2Fmy-repo.git` (the one available via the API is

[2020-01-10 16:41] valeriocos commented on #605
I wasn't able to reproduce the issue found in the logs.
It seems that it can be due to inconsistent data stored in two different SQL tables (https://secure.phabricator.com/T10705), thus the problem has been probably fixed in upstream.

[2020-01-10 16:41] #605 closed

[2020-01-11 10:27] svdo commented on #606
Thanks for your assistance, @valeriocos. Unfortunately this does _not_ solve the error, it is still the same. For completeness, this is the one about the merge requests:

[code]

[2020-01-11 11:38] valeriocos commented on #606
You're welcome @svdo, can you share the dashboard.cfg/setup.cfg and the credentials.cfg?

[2020-01-11 18:48] svdo commented on #606
This is my [credentials.cfg](https://github.com/chaoss/grimoirelab-perceval/files/4049694/credentials.cfg.txt). Besides the `projects.json` shown above I don't have anything else. I'm running it like this:

[code]

[2020-01-13 09:56] valeriocos commented on #606
Your credentials.cfg looks OK (I generally put only the tokens there, while the other section info are in the dashboard.cfg), it only misses the token attributes.

[code]

Can you try the following projects.json?
[code]

[2020-01-13 10:30] svdo commented on #606
Right, including the api tokens does the trick. So that means that the tokens have to be BOTH in credentials.cfg and projects.json?

[2020-01-13 10:30] #606 closed

[2020-01-13 10:34] valeriocos commented on #606
Just for git or graal backends (the latter inherit from the git backend), since this is the way of cloning a private repo. In the other cases, it shouldn't be needed.

[2020-01-16 07:26] lukaszgryglicki opened #607 "[groups.io] support rate limiting and start_msg_num parameter for /downloadarchives API"
Feature request:
groups.io is now rate limiting calls to `/downloadarchives` API

- Please add support for `--sleep-for-rate`, something similar to GitHub perceval backend.

Additionally, groups.io now allows "resuming" data processing. This is the informations we gotfrom groups.io developers:
*I've added a start_msg_num parameter to the `/downloadarchives` API. Also, in the message headers of the

[2020-01-17 07:32] lukaszgryglicki commented on #607
OK, starting work on this.

[2020-01-20 11:04] valeriocos commented on #607
@lukaszgryglicki are you with this issue? if needed I can take it over. Let me know, thanks

[2020-01-20 11:08] lukaszgryglicki commented on #607
I need to work on something else at least one day, so you can take it.

[2020-01-20 15:26] valeriocos commented on #607
Hi @lukaszgryglicki,

I'm not sure the sleep for rate can be useful in this case, since the remaining time before issuing another request to the API isn't returned in the response (or at least, I didn't find it). In token-based backends (e.g., github and gitlab), that time is included in the response, thus it's pretty easy to stop and resume the fetching process. It would be great if that info wou

[2020-01-21 12:05] valeriocos commented on #607
@lukaszgryglicki the discussion on the groupsio link above is ongoing, feel free to jump on it if you see it useful.

[2020-01-21 12:09] lukaszgryglicki commented on #607
I've seen the discussion, is there any problem to implement resuming using last message ID instead of date?
And "sleep for rate" needs some work on groups.io side, right? Like returning the number of seconds before rate limit expires, right?

[2020-01-21 12:21] valeriocos commented on #607
It requires more effort, since the current backend isn't offset-based. The new backend could look like the NNTP one: https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/nntp.py.

Yes, right!

[2020-01-22 14:35] lukaszgryglicki commented on #607
So, any decisions?
Like do we wait for groups.io to implement "timestamp" approach in their API?
-- or --
We are implementing last message ID approach

How about rate for sleep?
Do we want groups.io to implement returning "time to reset" value?
-- or --
We're skipping support for sleep for rate?
-- or --
Are we trying to implement `--sleep-for-rate` flag to specify maximum wait time (like for exam

[2020-01-23 10:08] valeriocos commented on #607
Hi @lukaszgryglicki

Yes

Yes

In the meanwhile, the data from groups.io can be downloaded every X days to avoid stressing their servers.

WDYT?

[2020-01-23 10:57] lukaszgryglicki commented on #607
And it works that way currently, we just get rate limit error but then, after some time we're OK. The biggest issue is that we download all the data again and again... instead of resuming from the last message.

[2020-01-29 16:29] lukaszgryglicki commented on #607
Did groups.io guys implemented the timestamp approach, if not do they plan to do that or should I attempt to implement `start_msg_num` approach. Anybody know which field saved by grimoire's groups.io backend is the actual `start_msg_num` so I can search for it in ES index, find the highest and pass it to the backend to start resuming with?

[2020-01-29 17:24] valeriocos commented on #607
Hi @lukaszgryglicki,

According to the last message at https://beta.groups.io/g/api/topic/feature_request_add/69933215?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,69933215, they plan to implement it.

The field is the header `X-Groupsio-MsgNum` and it is supposedly included in all messages, however when I tried with the group `group onap+onap-zoom-hosts`, I didn't find it.

[2020-01-29 18:11] lukaszgryglicki commented on #607
The same with me, and I didn't see any filed that is similar to `msg_num`. So ideally groups.io will support `start_msg_date`, so I should ping them, right?

[2020-01-29 21:46] valeriocos commented on #607
it would be great if you can ping them too, thanks!

[2020-01-30 06:23] lukaszgryglicki commented on #607
I've just got an email:
`I've added a `start_time` parameter that takes a date. Cheers, Mark`
So you can proceed with the `date` approach.

[2020-01-30 06:24] valeriocos commented on #607
Great! I'll have a look at it, thanks for the info

[2020-01-30 06:26] lukaszgryglicki commented on #607
Thanks!

[2020-01-30 13:59] ioiobzit opened #608 "[twitter] backend usage with docker grimoirelab/full"
Hello,

I've made a test installation with docker and so far so good. The ```git``` and ```github``` backends are working.
Now I tried to add data from Twitter.

I've created the Twitter bearer token using [this script](https://gist.github.com/valeriocos/7d4d28f72f53fbce49f1512ba77ef5f6) edited the credentials.cfg and added the twitter token like so. _please note that the access_token has a % symb

[2020-01-30 14:16] valeriocos commented on #608
Please try %%. I couldn't test it, but if I remember correctly it should work.

Let me know how it goes

[2020-01-30 14:52] ioiobzit commented on #608
That worked.

The next error were:

[code]

This is how I set the **credentials.cfg** to make it work:

[code]

Thank you.

[2020-01-30 14:52] #608 closed

[2020-02-03 10:42] valeriocos commented on #607
@lukaszgryglicki I'm working on the fix to use the `start_time` param

[2020-02-03 10:47] lukaszgryglicki commented on #607
Great, thanks!

[2020-02-04 08:42] valeriocos opened #610 "[perceval] Evaluate support for --no-verify param"
In some cases, a certificate is needed to execute Perceval against a remote data source (e.g, mattermost, gitlab). The approach of non verifying the certificates has been already applied to different backends such as [groupsio](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/groupsio.py#L64), [pipermail](https://github.com/chaoss/grimoirelab-perceval/blob/master/p

[2020-02-04 10:01] #607 closed

[2020-02-06 11:37] valeriocos opened #611 "Classified fields in Perceval docs should correspond to the fields actually removed"
When executing the github backend with the option `--filter-classified`, the list of all classified [fields](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L102) is reported in each JSON document ([pointer](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backend.py#L168)). Thus, it isn't possible to derive which fields were removed f

[2020-02-06 11:55] sduenas commented on #611
The idea of these fields is all or nothing. You don't decide which fields you want to remove and which you don't want.

Is there anything I'm missing?

[2020-02-06 12:17] valeriocos commented on #611
Based on the classified fields declared at https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L102, for each document only the classified fields actually removed from it should appear in the `classified_fields_filtered` attribute.

Having a look at the code, I'm basically saying that in case of a [KeyError](https://github.com/chaoss/grimoirelab-perceval/blo

[2020-02-06 20:09] sduenas commented on #611
Is that really necessary? What would be the difference? In the end, data is not going to be there which is what we really want with that option.

[2020-02-08 11:34] valeriocos commented on #611
We can live with it, so feel free to close this issue.

The point is that the classified fileds at https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L102 include a mix of attributes present in issues and pull requests. It would be better to have classified fields per category, then we can decide whether to include in the `classified_fields_filtered` of eac

[2020-02-08 12:58] valeriocos opened #614 "[telegram] Missing `message` attribute"
The perceval backend works in the following way:
  - The updates on the channel are fetched using the endpoint [getupdates](https://core.telegram.org/bots/api#getupdates), which returns a list of [Updates](https://core.telegram.org/bots/api#update)
  - Each `Update` contains an `update_id` and optionally an attribute `message`.
  - Each message contains an `message_id`, that is used to [identify](

[2020-02-12 08:59] valeriocos commented on #610
The param has been merged to the perceval code base. Before closing this issue, we need to update the perceval-based components (perceval for puppet, mozilla, etc.)

[2020-02-12 11:06] valeriocos commented on #614
A possible solution is to apply the patch below:
[code]

The advantage is that this change doesn't affect other components (i.e., ELK), and automatically handle edited message. Furthermore, it doesn't require to change the way [EXTRA_SEARCH_FIELDS](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/telegram.py#L68) are derived.

[2020-02-13 09:33] AlexandreDecan opened #616 "Enable external backends to register with Perceval"
Hello,

I haven't looked into the details, but it seems to me that for the moment, it is not possible to use Perceval CLI with backends that are not bundled with Perceval.

An interesting possibility of the Python packaging system is the support of "entry points". A package (e.g. Perceval) can declare these entry points, and other packages (e.g. other backends) can register with these entry points

[2020-02-13 11:06] sduenas commented on #616
Perceval support external packages and backends in a different way. We use namespaces: https://packaging.python.org/guides/packaging-namespace-packages/.

Perceval main package declares the namespace `perceval` (https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/__init__.py#L22) and `perceval/backends` (https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/_

[2020-02-13 11:06] #616 closed

[2020-02-13 11:22] AlexandreDecan commented on #616
Thanks for this answer.

However, namespaces induce "extension packages" to follow a fixed structure, while entry points are much more flexible. Notably, it is easy to register to entry points in an already existing packages, since it only requires to specify the entry point to register to in setup.py, and to define a new function somewhere. Maybe supporting both (namespaces *and* entry points) co

[2020-02-14 08:30] sduenas commented on #616
As Perceval can be used as library, the original idea was to have a common place to organize the backends and to import them. The function `find_backends` looks for those backends classes that are installed under `perceval.backends` namespace.

Yes, that's a bug. Now we only show a predefined list, which is wrong. I think there's an open issue about this topic somewhere.

[2020-02-14 08:42] AlexandreDecan commented on #616
This is not incompatible with entry points ;-) It is even more appropriate to use entry points in such cases :)

[2020-02-14 09:22] sduenas commented on #616
Good to know. When I checked entry points a few years ago it wasn't clear that was the purpose. It was something more specific to running different kind of scripts. Probably I understood it wrong. I'll be more than happy to know how to apply that to Perceval.

[2020-02-14 09:44] AlexandreDecan commented on #616
Actually, entry points serve for both purposes: for CLI, and to support "plugins" or extensions from other packages. I strongly suggest to have a look at https://amir.rachum.com/blog/2017/07/28/python-entry-points/ to know more about the latter.

It is very easy to integrate, both from the "host" and "client" package point of views.
For host packages, it simply requires to define a named entry poi

[2020-02-14 13:49] jgbarah commented on #616
@AlexandreDecan thanks a lot for the pointers. I will read the reference you comment. If you're familiar with entry points, and @sduenas is happy with the experiment, i would love to see a proof of concept or a complete pull request adapting Perceval to support entry points. What do you thnk, @sduenas?

[2020-02-14 14:31] AlexandreDecan commented on #616
I'm not really familiar with entry points, I've quite recently read the link I provided since I was interested in how packages can register plugins in Python, and I thought it was interesting ;)

I'll have a look at `perceval` and see if I can provide a proof of concept. I still need to understand how `Backend`, `BackendCommand`, etc. are related and if all or only one of them has to be provided.

[2020-02-14 16:36] jgbarah commented on #616
Great! Thanks. In any case, after reading about entry points with more detail, I realize it is a very good idea. Thanks a lot for the tip!

[2020-02-16 10:46] valeriocos commented on #610
Fixed wiht #612. The change has been applied also to the other percevals:
- https://github.com/chaoss/grimoirelab-perceval-mozilla
- https://github.com/chaoss/grimoirelab-perceval-opnfv
- https://github.com/chaoss/grimoirelab-perceval-puppet
- https://github.com/Bitergia/grimoirelab-perceval-finos

[2020-02-16 10:46] #610 closed

[2020-02-17 08:12] #614 closed

[2020-02-22 15:12] ederag opened #618 "Failed to establish a new connection: [Errno 111] Connection refused"
Following https://chaoss.github.io/grimoirelab-tutorial/basics/install.html (nice docs, by the way !)
on openSUSE Leap-15.1

[code]

There were errors above, but they do not seem related to the main issue:
[code]

Trying with ssh or giving a `--github-token <token>` did not change anything
(in agreement with the doc).
What is strange is that `perceval` works just fine.

`elasticsearch-7.5.0` is on

[2020-02-22 18:58] valeriocos commented on #618
Hi @ederag , thank for your interest in GrimoireLab! I transfer the issue to the grimoirelab repo, since the issue doesn't seem to be related with Perceval.

The full platform works with elasticsearch 6.1.x. Elasticsearch 7.x is not fully supported yet (in particular the loading of the dashboards to Kibana/Kibiter).

Yes, it makes sense since Perceval takes care only of collecting data from a data

[2020-03-01 12:34] animeshk08 commented on #416
Hi!! @valeriocos As no updates have been there on this issue for a while can I work on it.

[2020-03-01 19:32] valeriocos commented on #416
Hi @animeshk08 , thank you for your interest in this issue.

It would be great if you can work on this issue. As references, you can rely on the gitlab and github backends. Feel free to open a pull request linked to this issue, so we can help you with the implementation.

Categories are the types of the data we can extract from a backend. They are generally defined based on some business needs/sce

[2020-03-02 07:24] animeshk08 commented on #416
Thank you @valeriocos for the detailed clarification.

[2020-03-02 16:34] valeriocos commented on #416
Great @animeshk08 !

Are the comments returned by the Pagure API for a given issue paginated (i.e., only the first X are returned and we need to iterate on the different pages)? If this is the case, it makes sense to have the comments in a different attribute (comments_data), since the backend/client will have some code to fetch the whole set of comments.

Reactions and comments_data don't have a

[2020-03-02 17:19] animeshk08 commented on #416
Thank you for the fast reply @valeriocos .

To the best of my understanding the comments are not paginated. However, a given comment object is returned as below
[code]
As you can see there is no `user_data` key present in this object. So it still may be considered to either edit the same or create a `comment_data` key to accommodate `user_data` in it; if that level of depth is needed. Whichever, i

[2020-03-03 09:40] valeriocos commented on #416
Yes, you are right @animeshk08! The pagination seems to exist only for issues.

I would not add any `*_data` attribute, since the user information is already included in the comment. Generally the attributes `*_data` contain data extracted from a specific endpoint. For instance, if we focus on GitHub, the comments_data: https://github.com/chaoss/grimoirelab-perceval/blob/fe3b3a3632177b7b61fb382cd8

[2020-03-08 18:35] #416 closed

[2020-03-09 12:44] abhiandthetruth opened #625 "Readthedocs not updated properly"
For example, the Github backend categories, checkout below links for differences
https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L48
https://perceval.readthedocs.io/en/latest/perceval.backends.core.html#module-perceval.backends.core.github

[2020-03-09 12:55] valeriocos commented on #625
@jgbarah do you know when the readthedocs is updated (e.g., when the package is uploaded to pypi)?

[2020-03-10 15:42] mbbroberg opened #626 "No way to set API Username for Discourse"
Hey gang, I run a private Discourse instance and I'm unable to run perceval successfully against it.

[code]
(Note: I forgot to delete my token when first uploading so I've reset them in Discourse 🤦‍♂)

I confirmed that Discourse requires a username to accompany the API token:

[code]
☝️ Works perfectly.

I took a [look at `discourse.py`](https://github.com/chaoss/grimoirelab-perceval/blob/master/

[2020-03-10 15:48] valeriocos commented on #626
Hi @mbbroberg ,

Maybe I'm missing something. The command line param is here: https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/discourse.py#L428 ?

Have you tried the following?
[code]

[2020-03-12 15:15] code-sleuth opened #633 "[gerrit] sortKey error when enriching gerrit data"
Command:
[code]

Error:
[code]

[2020-03-13 13:23] mbbroberg commented on #626
Hey @valeriocos, that param isn't recognized from the cli:

[code]

[2020-03-13 15:44] valeriocos commented on #626
Interesting, I'll try to have a look at it asap.

[2020-03-13 18:06] mbbroberg commented on #626
@valeriocos nothing urgent on my end - enjoy your weekend 😄

[2020-03-14 11:36] Syn3rman commented on #626
Hey @mbbroberg,
I tried setting up the dev environment for Perceval, which appeared to work (it accepted the cli argument but gave me a forbidden error because I had set a bogus api token). However, the same command when run outside the venv gave me the error that you are facing. Thus, I downloaded the source code for the [current release for perceval](https://github.com/chaoss/grimoirelab-perceva

[2020-03-14 15:04] valeriocos commented on #626
sorry for the late reply @Syn3rman ! Thanks for helping with this issue! Yes, the issue will be fixed as soon as the pypi version is updated. In the meanwhile, your solution is a great workaround! Could you write the steps to help @mbbroberg run perceval on his discourse using the master branch (e.g, create/activate a virtual env, clone the repo, install perceval using the requirements.txt, ...)?

[2020-03-14 16:11] Syn3rman commented on #626
Sure @valeriocos!

Hey @mbbroberg,
If you decide to go this way, you can use the following commands to set up a dev env to run perceval:

1. Clone the repo locally using:
[code]

2. Navigate into the directory:
[code]
3. Create and activate a virtual environment:
[code]

4. Install requirements:
[code]

5. Now you can use perceval using:
[code]
and you'll be good to go :tada:

[2020-03-14 16:14] valeriocos commented on #626
thanks @Syn3rman

[2020-03-15 17:34] mbbroberg commented on #626
Wow, very kind of yoou @Syn3rman and @valeriocos. Thank you both 🥇

[2020-03-15 17:42] valeriocos commented on #626
You're welcome @mbbroberg . If the solution at https://github.com/chaoss/grimoirelab-perceval/issues/626#issuecomment-599088032 solves your problem, please close this issue.

Thanks!

[2020-03-15 17:50] mbbroberg commented on #626
Great - confirmed it's fixed as of https://github.com/chaoss/grimoirelab-perceval/commit/745b467e1f82cdd25bf438dc6f4b7cfeb2feef5b.

[2020-03-15 17:50] #626 closed

[2020-03-18 21:09] vchrombie opened #630 "[Feature Request] Add support for Zulip"
How about adding backend support for Zulip?

Zulip is another important chat and collaborative software, just like Rocket.Chat and Slack and it is open-source too.
https://anitab-org.zulipchat.com/

[2020-03-18 21:10] vchrombie commented on #630
If the feature is ok, then I would like to work on its implementation.

[2020-03-18 21:13] valeriocos commented on #630
Hi @vchrombie, thank you for proposing the inclusion of a new backend.

Zulip is a popular oss chat application, I believe that this inclusion will attract more people around grimoirelab, so +1 to your proposal.

[2020-03-18 21:57] animeshk08 commented on #630
Hi, @valeriocos I think including Zulip as a new backend is a great idea.

Also, I have found a lot of organizations using [Gitter](https://gitter.im/) as a communication channel as well. Do you think we should include that as a backend as well? I would be interested in doing that. I can open a new issue and we can move this discussion there if it interests you :)

[2020-03-19 08:28] valeriocos commented on #630
It sounds a good idea @animeshk08 , please open another issue to support gitter and start implementing the backend. Thanks!

[2020-03-19 08:36] animeshk08 opened #631 "[Feature Request] Add support for Gitter backend"
[Gitter](https://gitter.im/) is a chat and networking platform that helps to manage, grow and connect communities through messaging, content and discovery.

It would be a good idea to include Gitter as a backend for Perceval.

The API documentation of Gitter can be found here: https://developer.gitter.im/docs/rest-api

[2020-03-19 08:54] valeriocos commented on #631
I like the idea @animeshk08! While waiting for others to comment on this issue, please can you start having a look at the API and check which data could be extracted (a couple of target Gitter instances can be useful to test the code too)?

Thanks

[2020-03-19 10:10] animeshk08 commented on #631
Hi, I have had a look at the API documentation of Gitter.
We can fetch the messages from a Gitter room, similar to Slack.
The `List Messages` API found [here](https://developer.gitter.im/docs/messages-resource) can be used for that.

However, it does require the `roomid` endpoint which can be found in a way similar to `groupsio` backend where we list the rooms a user has joined using the `List roo

[2020-03-19 14:04] valeriocos commented on #631
Thank you @animeshk08 ! Your proposal looks good!

+1

+1

WRT the authentication, please consider to write a script to get the token (there is something similar for twitter https://gist.github.com/valeriocos/7d4d28f72f53fbce49f1512ba77ef5f6)

I wasn't able to find info about rate limit at https://developer.gitter.im/docs/. Please let me know if you find something, thanks!

[2020-03-19 14:13] animeshk08 commented on #631
Sure! Thank you for the reference.

I also was not able to find any rate limit info. I will ping you in case I have any new findings!!

[2020-03-23 12:10] valeriocos commented on #633
Hi @code-sleuth, thank you for reporting this issue and @lukaszgryglicki for having a look at it.

The `sortKey` param has been deprecated in gerrit 2.9 (https://stackoverflow.com/questions/24606079/gerrit-rest-api-cannot-use-sortkey-to-resume-a-query) in favor of the `--start` param (https://gerrit-review.googlesource.com/Documentation/cmd-query.html#_options). The latter is already supported by

[2020-03-23 12:12] lukaszgryglicki commented on #633
Will it be merged into master?

[2020-03-23 12:14] valeriocos commented on #633
Yes @lukaszgryglicki , probably between today or tomorrow. I'm checking the tests to see if they should be updated.

- Do you want to submit the fix?
- Do you have time to check the fix on your instances?

Thanks

[2020-03-23 12:17] lukaszgryglicki commented on #633
I can create a PR tomorrow.

[2020-03-23 13:10] valeriocos commented on #633
Let's speed up things, I'm going to submit a PR. It would be great if you can check it on your instances.

[2020-03-23 13:14] lukaszgryglicki commented on #633
OK will do.

[2020-03-23 13:14] valeriocos commented on #633
Thanks @lukaszgryglicki !

[2020-03-24 06:46] lukaszgryglicki commented on #633
Confirmed that this fix [works](https://github.com/chaoss/grimoirelab-perceval/pull/634#issuecomment-603053391).

[2020-03-24 08:05] #633 closed

[2020-03-25 07:58] #631 closed

[2020-03-29 09:15] animeshk08 opened #635 "[Feature Request] Add support for Airtable"
[Airtable](https://airtable.com/) is a spreadsheet-database hybrid, with the features of a database but applied to a spreadsheet.

The API documentation for Airtable can be found here: https://airtable.com/api

NOTE: You need to signin and create an workspace to access the API docs.

[2020-03-29 09:34] animeshk08 commented on #635
The `List records` endpoint can be used for fetching all the records(Sorry cannot provide the link as the API doc is workspace dependent).

An authorization token is **necessary** for Airtable backend and can be passed in the header.

A sample response is:
[code]

As you can see every record has an `Id` and thus can be used to calculate the `UUID` of the item. Also, `createdTime` can be used to ca

[2020-03-29 10:07] valeriocos commented on #635
Thank you @animeshk08 for opening this issue, the idea sounds interesting.

Is it possible to know from the API when a field/row was lastly updated?

[2020-03-29 14:28] animeshk08 commented on #635
Hi @valeriocos. I after searching a lot through docs and the forums. The response does not return the last modified time of the record. However, we can query the records based on theri last modified time like this:
`https://api.airtable.com/v0/applUCHUqGLcK7oz3/Imported%20table?filterByFormula=LAST_MODIFIED_TIME()%20%3E%20%222020-03-29T13%3A20%3A20%22`

[2020-03-29 15:36] animeshk08 commented on #635
Also, the records fetched are sorted alphabetically base on their `id`. This id is not dependent on any field. The records can be fetched in a sorted order based on a field. However, that field value is to be passed as a parameter while calling the API.

Hence I don't think this backend will support incremental fetching of data. WDYT?

Should I start implementing Airtable backend nevertheless?

[2020-03-30 09:13] valeriocos commented on #635
Sorry for the late reply @animeshk08

Based on the comments above, it isn't clear whether the incremental fetching can be achieved or not. Can you please clarify it?

This isn't a problem since other backends don't support the incremental fetching

To get familiar with the API, it can be good to implement a first version of the backend (PoC) without the incremental fetching and tests. After that,

[2020-03-30 09:34] animeshk08 commented on #635
Sure @valeriocos I have already started the implementation. I will ping you once the work is ready.

[2020-04-02 02:57] animeshk08 opened #638 "[backend] Sanitize before archive missing in some backends"
The method `def sanitize_for_archive(url, headers, payload)` is used to remove sensitive information like api-token, userid, password, etc from the `url` , `header`, or `payload` before storing it to the archive. This method is missing in a few backends.

[2020-04-02 03:06] animeshk08 commented on #638
Hi @valeriocos. I had a few doubts with this work:

* This method is not necessary for backends that are not storing items in archive right?
 For instance,
 https://github.com/chaoss/grimoirelab-perceval/blob/791a2d3f92f0b07451fb17160353afbb6aecdee2/perceval/backends/core/groupsio.py#L298

* How can the `api-token/userid/password` be removed from the auth of a session. I don't think `sanitize_for_

[2020-04-02 03:12] animeshk08 commented on #638
Okay, I think we are not storing `auth` in the archive. So we don't need to clean it in the first place, my bad.
https://github.com/chaoss/grimoirelab-perceval/blob/791a2d3f92f0b07451fb17160353afbb6aecdee2/perceval/client.py#L190

[2020-04-02 06:30] valeriocos commented on #638
Hi @animeshk08 !

Yes, it is not needed

Only the `url`, `payload` and `headers` are stored in the archive: https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/client.py#L190.

Let me know if you have more questions, thanks!

[2020-04-02 06:36] animeshk08 commented on #638
Thanks for the clarifications :)

[2020-04-03 17:17] #638 closed

[2020-04-06 03:53] animeshk08 opened #642 "[backends] How to keep a track of APIs"
This issue is opened as GrimoireLab does not have a way to keep track of the changes which happen to the APIs used to fetch the data from various data sources. Although this does not present itself as a big issue as most of the APIs are quite stable and changes do not take place much often. However, some APIs are still in there `beta` phase(e.g. [Gitter](https://developer.gitter.im/docs/welcome))

[2020-04-06 03:57] animeshk08 commented on #642
After giving it a bit a thought two possible ways can be there:

* Create a file having links to the documentation of the APIs for a backend and the endpoint which is used.

* Create a file having links to the documentation of the APIs for a backend and the endpoint which is used. Also, have a change section in the file, which is updated, whenever a change in the API is noticed/whenever we include

[2020-04-06 04:18] animeshk08 commented on #642
I also explored a third alternative to provide a solution to this issue. I will help with automating a few tasks. However, a few associated problems make it not a good approach in my opinion.

I would still like to state the solution as some reviews may make it feasible.

* Create a script having methods to make simple requests(without pagination and rate headers) for the required endpoints of eac

[2020-04-06 04:19] animeshk08 commented on #642
Any comments from the community are much appreciated as all the ideas are still in an early stage :)

[2020-04-06 06:34] imnitishng commented on #642
This seems to be a great idea, API changes are not that frequent but having a changelog will be helpful in the long run.
Personally I feel that automating the process (step 3 that you mentioned) might not be implementable keeping the credentials problem in mind.
In the end I would also support the second solution to the problem. Contributors together can make these API docs file for every backend

[2020-04-06 06:50] animeshk08 commented on #642
Thank you for you comments @imnitishng. Lets wait for others to reply. Maybe we can collaborate together if this idea goes forwards :)

[2020-04-06 15:53] valeriocos commented on #642
Sorry @animeshk08 I'm late on this discussion. I'll try to answer tomorrow

[2020-04-07 04:14] WillemJiang opened #644 "[Feature Request] Add Gitee backend support"
[Gitee](https://gitee.com/) provides similar service as Github does.
Here are the [API document](https://gitee.com/api/v5/swagger) of Gitee, I'm sorry there is only Chinese version.

Here are some notes for the Gitee backend support
* Gitee doesn't have the ratelimit check, but I think we can still reuse the rat-limit check as Github client does.
* The issue API of Gitee is quite similar with Gith

[2020-04-07 04:16] WillemJiang commented on #644
I did some work by porting github backend to gitee, I will submit a PR (working in process) for it.

[2020-04-07 06:37] valeriocos commented on #642
Hi @animeshk08 ,

The first 2 ideas look good, I understand that they are based on a (semi)manual approach to update the file and changelog. I have some questions:
- **Change detection**: how are changes detected? A manual inspection of the APIs every month or something (a crawler) that looks for specific words (e.g., deprecat*) and generates a report?
- **Other approaches**: have you checked prev

[2020-04-07 08:48] valeriocos commented on #644
Thank you @WillemJiang for opening the issue and kickstarting the PR (https://github.com/chaoss/grimoirelab-perceval/pull/645)!

[2020-04-08 08:42] animeshk08 commented on #642
Hi @valeriocos. Sorry for the delayed reply. Thank you for raising such good questions.

The current approach involves a manual way of visiting the API docs after a regular time period. The idea of having a crawler seems interesting. I think it may have some problems as many APIs do not have a good release doc. Also, the release doc may not have clear keywords that may be needed. It would have bee

[2020-04-08 08:55] valeriocos opened #647 "[Travis] upgrade pip and setuptools in perceval-related backends"
Following https://github.com/chaoss/grimoirelab-perceval/pull/643, the same fix should be applied to the other perceval-related backends:
- https://github.com/Bitergia/grimoirelab-perceval-finos
- https://github.com/chaoss/grimoirelab-perceval-mozilla
- https://github.com/chaoss/grimoirelab-perceval-opnfv
- https://github.com/chaoss/grimoirelab-perceval-puppet

@animeshk08 @ria18405, plese let me

[2020-04-08 09:07] animeshk08 commented on #647
HI @valeriocos. I will get a PR ready!

[2020-04-08 09:24] valeriocos commented on #647
Thanks @animeshk08 , (in case it helps) I'm using the following commit title/description:

-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
[travis] Upgrade setuptools and pip

This code upgrades the setuptools and pip. This change
stems from the fix at:
https://github.com/chaoss/grimoirelab-perceval/pu

[2020-04-08 09:26] animeshk08 commented on #647
Thanks, @valeriocos. I was going to use the same commit message. :see_no_evil:

[2020-04-08 10:10] ria18405 commented on #647
Thanks @valeriocos , nice idea.

I see some PRs have been submitted.Thanks @animeshk08 for helping. I'll be happy to help if any repository is left?

[2020-04-08 10:22] valeriocos commented on #647
Hi @ria18405 ! I see that all perceval-related repos are covered.

The repos https://github.com/chaoss/grimoirelab-sortinghat and https://github.com/chaoss/grimoirelab-manuscripts probably need the same fix. Can you check them and submit a PR? Thanks!

[2020-04-08 10:28] ria18405 commented on #647
Sure, Im on it

[2020-04-08 11:25] valeriocos commented on #647
Thanks @ria18405 !

[2020-04-08 11:25] #647 closed

[2020-04-09 07:57] lukaszgryglicki opened #649 "Add support for Connect apps and OAuth 2/3 for Jira"
Hi, Perceval only supports Jira backend either as an anonymous user (without providing any credentials at all) or basic auth (via username/password pair).
- Anonymous access if often disabled on existing Jira instances.
- Basic auth is only enabled on few Jira instances, most switched to either OAuth 2/3 or Connect Apps. Additionally, basic auth is not recommended, see [here](https://developer.atl

[2020-04-09 13:59] teragopher opened #650 "[groupsio] perceval returns 400 Client Error with correct credentials and permissions"
Operating System: **macOS Catalina (10.15.3)**
Perceval version:  **0.12.24**

Issue:  Running this command to fetch data from the group
[code]

and i get this error:

[code]

However querying the groupsio api directly works, I get the data

command:
[code]

[2020-04-09 15:32] valeriocos commented on #650
Hi @teragopher , thank you for using Perceval!

It seems you are using an old version of Perceval, for instance the line `File "/usr/local/lib/python3.7/site-packages/perceval/backends/core/groupsio.py", line 242, in _download_archive` doesn't match with the current version of the backend: https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/groupsio.py#L242.

Can you

[2020-04-09 15:41] valeriocos commented on #642
Thank you @animeshk08

It doesn't often happen. I remember only 2 cases in the last year:
- https://github.com/chaoss/grimoirelab-perceval/pull/609
- https://github.com/chaoss/grimoirelab-perceval/pull/525

[2020-04-09 16:10] teragopher commented on #650
@valeriocos Thanks a bunch .... works now

[2020-04-09 16:10] #650 closed

[2020-04-09 16:12] valeriocos commented on #650
You're welcome @teragopher !

[2020-04-10 19:12] lukaszgryglicki opened #651 "Perceval git backend error "item['data']['Author']""
[code]

[2020-04-11 08:08] valeriocos commented on #651
Hi @lukaszgryglicki, I'm trasferring this issue to ELK

[2020-04-11 20:01] vchrombie commented on #630
Hi @valeriocos
Sorry for the delay. I started to work on this issue and posting a small update here.

Zulip is more or less like Slack. Each zulip chat server has different streams (like channels in slack) and also each stream has diff topics. I was thinking to target the streams (as parameter) just like how it was done in slack. WDYT?

I went through the API docs of Zulip, https://zulipchat.com/a

[2020-04-12 06:41] valeriocos commented on #630
Hi @vchrombie ! no worries for the delay!

Yes, good idea!

Thanks for the pointer! Have you checked if the `narrow` param can be used to fetch messages after a given date? This is needed to support incremental fetch operations. If there is no way to use a date, we can open a feature request at https://github.com/zulip/zulip to ask for it or implement an offset-based approach (param `num_after`, r

[2020-04-12 17:55] vchrombie commented on #630
Hi @valeriocos

I checked the docs, https://python.zulipchat.com/api/construct-narrow.
They have a couple of filters but seems like none of them are of much use to us, except the `stream` filter.

I understand the requirement. I will open an issue and try to pull up discussion on it in the [zulip/zulip](https://github.com/zulip/zulip) repository and see if they are interested to introduce such fea

[2020-04-12 19:35] valeriocos commented on #630
Yes, totally agree! thanks @vchrombie for pushing this forward

[2020-04-16 18:34] vchrombie commented on #630
Hi @valeriocos

I opened the issue in the zulip repository but didn't really receive much positive response from them.
I was thinking of starting the implementation with the offset-based approach which you have suggested.

WDYT?

[2020-04-16 18:51] valeriocos commented on #630
Hi @vchrombie !

Ok, sure! Don't hesitate to write if you need any help!

[2020-04-16 19:30] vchrombie commented on #630
I started working on it already. I have a few questions already.

1. I went through the API docs. Coming to the authentication part, you need an email address and a token. It can be generated using a bot or a person. I would go for the bot email id and bot token. It is really simple to generate one.

Click on the :gear: >> Settings >> Your bots >> Add a new bot

So, the command for fetching messag

[2020-04-17 06:49] valeriocos commented on #630
It should be fine. I understand that we cannot fetch messages with a standard email and user token, right?

We should try to use the library requests, since Perceval provides different mechanisms on top of it (sleep for rate, archiving, etc.). If we go for the use of `subprocess`, we will have to implement these mechanisms again.

Since Zulip has a Python client to fetch data from the API, could y

[2020-04-17 07:05] vchrombie commented on #630
Hi @valeriocos

Do you mean the user email and token?

We can use
- BOT_EMAIL_ADDRESS (something we can create like perceval-bot@zulipchat.com) & BOT_API_KEY
or
- USER_EMAIL_ADDRESS (say personal email venuardhanreddytekula8@gmail.com) & USER_API_KEY.

Yes, even I was thinking about the same problem.

Yes, Zulip has a Python client which needs to install the zulip pip package. I will try that and

[2020-04-17 07:26] valeriocos commented on #630
[code]

Ok, perfect!

Ok, perfect!

Thanks

[2020-04-21 16:14] imnitishng commented on #367
Hi @valeriocos. I see no activity in regarding this issue, also I have been learning about Bitbucket API for some time. I believe implementing a Bitbucket backend similar to github for retrieving Issues and Pull requests might be of use. I have made some progress in implementing the same.
Hence, can I take up this issue?

[2020-04-21 17:00] valeriocos commented on #367
Thank you @imnitishng ! Before starting please have a look at the API doc. If I remember correctly there were two different versions of the API, which have some pretty big differences. Thanks!

[2020-04-21 17:06] imnitishng commented on #367
Well yes there are different versions, but what I am aiming for as of now is the basic support of retrieving issues and PRs from a bitbucket repository (just like github).
The API looks pretty straightforward for doing that task. I will get to you as I discover more or face any problems.
Do we open a new issue or discussion is fine here?

[2020-04-21 18:18] valeriocos commented on #367
Great @imnitishng !

This thread is fine, thanks!

[2020-04-23 17:13] valeriocos commented on #139
Fixed with https://github.com/chaoss/grimoirelab-perceval/pull/632

[2020-04-23 17:13] #139 closed

[2020-04-24 17:40] penyuan opened #654 "git backend fails in Windows with `perceval.errors.RepositoryError`"
Hello,

We're trying to set up and use `perceval` in a Windows environment. The setup we tested has `perceval` installed with `pip` in a Python 3.6.8 virtual environment (called "pyVirtualEnv") created with `venv`.

The Github backend seems to work fine, but the git backend consistently fails with an error that ends with this:

[code]

We were attempting to reproduce the [tutorial example](https:/

[2020-04-24 18:48] vchrombie commented on #630
Hi @valeriocos

Thanks for the help, it really helped.

I understood that all the arguments are handles using requests. In fact a simple request for get_messages boils down to

[code]
along with the required headers.

Now, I got a basic idea and I will be working on completing this.
Thanks.

[2020-04-25 06:36] valeriocos commented on #630
Thanks for the updates @vchrombie

[2020-04-25 14:00] valeriocos commented on #654
Hi @penyuan, thank you for the detailed message!

The main limitation with this issue is that Perceval and the other components are developed and tests on Linux-based systems. Thus, it is pretty difficult to give help.

It would be easier to install a virtual machine using https://www.virtualbox.org/, and in there you could install and run perceval.

[2020-04-25 14:17] penyuan commented on #654
Thanks @valeriocos for getting back to me!

The thing is, it might not be practical in our use case to set up a virtual machine just for running perceval.

Do you think the `HOME` environment variable mentioned two years ago has something to do with it? If so, if you can guide me in trying a few things on the Windows system, it might help pinpoint where the issue is and help us develop a solution

[2020-04-27 10:30] valeriocos commented on #654
Hi @penyuan , sorry for the late reply!

I'm not sure about the answer to your question.
A solution with a docker container could be good for you (ref: https://github.com/chaoss/grimoirelab-perceval/tree/master/docker/images)?

[2020-04-27 18:46] vchrombie commented on #630
Hi @valeriocos
Just a small update.

As I have figured out how to use Zulip API using requests, I was thinking about how to perform the incremental fetch

I tried your suggestion and it worked. I made a small script for it, [zulip backend](https://gist.github.com/vchrombie/bfd6d967e03bbe28cf4241995fb4b91b#file-script-py). Initially we can use the
[code]
for fetching the first 10 messages.

Later,

[2020-04-28 07:31] valeriocos commented on #630
Hi @vchrombie, thank you for the details.

You can check the backend for telegram: https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/telegram.py . It is offset-based and I guess it shouldn't be too different from the one for zulip.

[2020-04-28 13:06] animeshk08 opened #655 "[Slack] Update Slack API endoints and doc"
The current slack end points used to fetch message data are:
*  [channel.history](https://api.slack.com/methods/channels.history)
*  [channel.info](https://api.slack.com/methods/channels.info)
*  [user.info](https://api.slack.com/methods/users.info)
Among the above endpoints `channel.info` and `channel.history` are deprecated.

These endpoints should be replaced accordingly:
* [channel.history](ht

[2020-04-28 13:55] valeriocos commented on #655
Thank you @animeshk08 for opening this issue! There is also a change regarding the way tokens are issued: https://api.slack.com/legacy/custom-integrations/legacy-tokens

[2020-04-28 14:17] animeshk08 commented on #655
Thank you for the reference @valeriocos. To test the current implementation I had to create a slack app with the required scoped. This app was then installed by one of the user in a channel. After a successful installation, a `workspace token` was generated similar to `xoxp-1234.....`. This flow is similar to the one which telegram bot follows.

I believe Legacy tokens are user-specific and does n

[2020-04-28 23:29] shikha0208 opened #656 "RepositoryError: git command - fatal: could not create leading directories of 'C:\Users\I523597/.perceval/repositories/https://github.com/shikha0208/metrics.git-git'"
Unable to run the basic perceval command.

**python perceval git https://github.com/shikha0208/metrics.git**

Error is
**File "C:\Perceval\grimoirelab-perceval-master\perceval\backends\core\git.py", line 1338, in _exec
    raise RepositoryError(cause=cause)
perceval.errors.RepositoryError: git command - fatal: could not create leading directories of 'C:\Users\I523597/.perceval/repositories/https:/

[2020-04-29 06:18] valeriocos commented on #656
Hi @shikha0208 , thank you for your interest in using Perceval!

The problem is that the Git backend doesn't work on Windows. There are similar issues already reported on the issue tracker:
- https://github.com/chaoss/grimoirelab-perceval/issues/654
- https://github.com/chaoss/grimoirelab-perceval/issues/447
- https://github.com/chaoss/grimoirelab-perceval/pull/526
- https://github.com/chaoss/grim

[2020-04-29 06:24] valeriocos commented on #654
Hi @penyuan ! how is it going with this issue? Were you able to advance a bit?

Thanks!

[2020-04-29 06:29] valeriocos commented on #655
Sorry for the late reply @animeshk08

Yes, you are right!

I agree with you!

Thanks!

I think the flow is right, and similar to the one coded in the script at https://gist.github.com/valeriocos/de31324625a3fab32449cf5d43b24075. Please have a look and let me know if changes are needed, thanks!

[2020-04-29 07:03] sduenas commented on #656
@shikha0208 try to use it with the parameter `--git-path` active. Set there the directory where you want to store the repo to analyze. That should fix that problem. In any case, I think it will fail after that for other reasons.

Keep us posted.

[2020-04-29 07:38] sduenas commented on #654
I've been working on this but the error that I get is different to yours although I think it is related. What I get when Perceval does a `clone` is a: (Windows 10, btw)
[code]

Other commands work fine.

[2020-04-29 10:38] animeshk08 commented on #655
Thank you for the reply @valeriocos should I provide a reference to this script in the documentation?

[2020-04-29 12:15] valeriocos commented on #655
Yes, thank you @animeshk08 (sorry for the late replies, but I'm a bit busy these days)

[2020-04-29 12:58] penyuan commented on #654
Thank you @valeriocos and @sduenas for your feedback. I don't have direct access to the Windows machine in question at the moment, but let me see if I can at least get you a minimal piece of Python code (we're using Python 3.6. BTW is GrimoireLab ready for Python 3.7+ now?) to reproduce the problem, hopefully that will help?

[2020-04-29 13:10] animeshk08 commented on #655
No worries! I have updated the PR :)

[2020-04-30 08:57] animeshk08 opened #658 "[mattermost] Required parameter should be channel Id"
The help text of Mattermost backend mentions the required parameter as Channel name.
https://github.com/chaoss/grimoirelab-perceval/blob/5b4f848989967a51a4e21be1a3f6277f009f16ad/perceval/backends/core/mattermost.py#L466

However, going through the source code and mentioned example in the Perceval documentation I think the required parameter is `channel id`.

I would also like to suggest an alterna

[2020-04-30 11:03] sduenas commented on #658
That's an option but when we created this backend it was based on the slack backend, so they have the same parameters to execute them. I understand that to get the id of the channel is an extra step, though.

Also, I'm not sure if the name of a channel can change. I guess they can so not sure how the other parts of the GrimoireLab stack would work if this is the case. It's something to take into a

[2020-04-30 11:13] sduenas commented on #655
@animeshk08  I understand the structure of data didn't change, did it?

[2020-04-30 13:00] animeshk08 commented on #658
Thank you for the reply @sduenas
The identifier for the channel is visible in the URL itself hence it is easy for anyone to setup up Perceval backend of Slack. On the other hand, to get ID of a channel in Mattermost I had to go to `{channel_name} -> view info`, which gave me the below details.
 ![mattermostID](https://user-images.githubusercontent.com/32506591/80712063-000f6280-8b0f-11ea-9669-2bee

[2020-05-01 09:51] linonymous opened #659 "[Git] Data mismatch for lines of code added/removed for a release commit"
**Issue:**
The lines of code added and removed do not match with the exact commit data on github.

**Command:**
[code]

**Data for a commit (JSON)**

Actual Data:
[code]

Expected Data:

For the following commit:
https://github.com/cntt-n/CNTT/commit/11f95c46df5e4c6a3b4c28ee3a8ab7c9cb172fe7

lines_added : 3085
lines_removed: 188

This is specifically, as you can see is a tagged release commit. Do

[2020-05-01 12:50] valeriocos commented on #659
Under the hood Perceval runs the following Git command to inspect the log history:
[code]
The content retrieved for the commit `c305399c1bccbdb0021395f1d6066419228846b6` is provided below.
[code]

The JSON generated for that commit is:
[code]

**Analysis**
1) The total number of files is 71 when running the Git command, however the number of files returned by Perceval is 70
2) The file `salt/hdp/s

[2020-05-01 14:21] linonymous commented on #659
@valeriocos Thanks a lot for this in-depth RCA!

As per my understanding, for commits with renamed files will suffer from a loss of data?

[2020-05-01 16:33] valeriocos commented on #659
You're welcome @linonymous ! We should run more tests, but I would say that the data loss occurs when the same file appears twice in the commit (e.g., a modification on the old file and rename)

[2020-05-05 07:17] sduenas commented on #659
We have two problems here:

- Files that have two actions in the same commit. In this case the number it's wrong. We should aggregate the data. I wasn't expecting to find something like this.
- Files that are renamed. In this case, I think is GitHub that does the work wrong. We don't consider, as Git does, these files as new ones.

[2020-05-05 19:29] penyuan commented on #654
Sorry for my late follow-up.

Unfortunately I can't even get a working Python 3.6 environment set up on my Windows test system, and in the meantime we've managed to figure out how to set up a working Ubuntu 20.04 virtual machine.

If there is interest in getting Perceval and friends to work in Windows I'm still happy to help, but for our purposes we are OK with the virtual machine solution for now

[2020-05-06 15:18] sduenas commented on #654
You are welcome @penyuan . I've been trying to find the problem in Windows but without success. I'm afraid other parts of the stack will never work either. For example, Arthur uses `rq`, a library in Python to schedule jobs. This library uses `fork()` call to spawn new processes. This system call is in POSIX systems but not in Windows. It will be nice if Perceval works in Windows though.

I think

[2020-05-06 15:30] penyuan commented on #654
Understood, thank you.

For now, we can live with a Linux virtual machine on some of our development systems, or as you suggested, with a Docker container. However, if one day someone wants to pick this up and make Perceval work in Windows I'll be happy to help test it.

[2020-05-11 08:57] valeriocos opened #662 "Rate limit info not set for gitlab backend"
It seems that the rate limit headers are not returned by the GitLab API anymore. Currently, this doesn't affect the working of the gitlab backend, however the logic to deal with rate limit data might be removed.

I wasn't able to find clear details about this removal, thus I opened an issue upstream: https://gitlab.com/gitlab-org/gitlab/-/issues/217312

[2020-05-11 15:00] sduenas commented on #662
Interesting. I saw they were updating the server yesterday or the day before yesterday. Let's see if they reply to the ticket.

[2020-05-14 22:18] Julianbaozi opened #663 "How to set IP address for perceval github issue"
To avoid sending too many requests for one IP address, can I set different IP aliases to fetch github issue? I'm doing these tasks in multithreads, so I also want to fetch data with different IPs at the same time.

[2020-05-15 08:40] valeriocos commented on #663
Hi @Julianbaozi , I'm not sure that this can be handled by Perceval (or by other GrimoireLab components). Using a proxy could be a solution to explore, otherwise you could either split the target repos in different servers (which have different IPs) or reduce the number of tasks running in parallel.

[2020-05-15 09:34] sduenas commented on #663
Not sure if I understand your question right but if you want to use different IPs that would depend on your network configuration. You will need to have available those public IP addresses, just because you have different net interfaces or because the router you connect to go outside has those IPs. In both cases, you will have to configure your routing system to do that and decide which interface

[2020-05-15 09:41] Julianbaozi commented on #663
Can i use Arthur in sirmordred? When using arthur, how many workers can
there be on one machine?

On Fri, May 15, 2020 at 2:34 AM Santiago Dueñas <notifications@github.com>
wrote:

[2020-05-15 20:01] valeriocos commented on #663
The current version of Mordred doesn't support Arthur. Please have a look at this previous answer:
https://github.com/chaoss/grimoirelab-sirmordred/issues/462#issuecomment-622957274. You can find more details on https://github.com/chaoss/grimoirelab/issues/299

there be on one machine?

There is no constraint on the number of workers. AFAIK no evaluation has been conducted to assess this number.

[2020-05-15 20:03] Julianbaozi commented on #663
Here I mean, Arthur can help me multi process on my on laptop right?

On Fri, May 15, 2020 at 1:01 PM valerio <notifications@github.com> wrote:

[2020-05-16 09:41] valeriocos commented on #663
If you mean `having multiple executions of Perceval running at the same time`, the answer is yes.

Arthur is a scheduler of Perceval jobs, which are managed using a queue-based approach. The workers constantly check the queues, take the jobs and process them.

[2020-05-16 19:00] vchrombie opened #664 "[Feature Request] Add support for Trello"
Following the second community bonding meeting, I was thinking about a new feature, perceval support for Trello.

Trello is a web-based Kanban-style list-making application.
https://trello.com/

I would like to hear the opinions before we actually get started working.
@sduenas @valeriocos, WDYT?

[2020-05-16 19:16] valeriocos commented on #664
Hi @vchrombie , thank you for triggering this discussion.

I believe that the idea is indeed interesting and this new backend could be a nice addition to Perceval. Said that, we should explore the Trello API and understand:
- which kind of info we can get from it (e.g., activities on single boards, users info)
- how to access the API (Oauth token or other credentials)
- which endpoints allow to re

[2020-05-16 19:20] vchrombie commented on #664
@valeriocos, I was almost commenting on it. :smiley:

The main point here we should consider is what data we need to focus on.

Trello has different boards. Each Board has many lists (to-do, doing, done, etc.). Each list has different cards (we can assume as tasks). Whenever we do any change (like move a card from one list to another) the event is registered in the Activity.

So, we need to be cle

[2020-05-16 19:25] vchrombie opened #665 "Issue template"
I was thinking if it would be a good idea to set up issue templates for the repository like
- Feature-Request
- Bug Reporting
- Question/Doubt

Do you have any comments? @sduenas @valeriocos

[2020-05-16 20:13] valeriocos commented on #665
The idea of using templates was suggested also on #640 (cc @animeshk08). There, it was also proposed to first clarify the management of the Perceval repos (and some bordeline backends), and then evaluate the use of templates.

I report here my comment from that issue (ref
https://github.com/chaoss/grimoirelab-perceval/pull/640#issuecomment-611659718).

[2020-05-16 20:15] valeriocos commented on #664
Thank you @vchrombie I'll have a look at the pointers you shared

[2020-05-17 01:25] Julianbaozi opened #666 "First Date"
How to get the date of the first commit or the date of creation of a repository without fetching all data?

[2020-05-17 04:27] vchrombie commented on #666
Hi @Julianbaozi

I think it is not really possible to get the date without fetching all the data.

You have to fetch the whole data using perceval and you need to iterate over the JSON documents to find the first commit date or you can use GitHub API too if you don't need any data to be downloaded.

Also, sometimes the date of creation of a repository and the first commit might be different too. I

[2020-05-17 06:25] Julianbaozi commented on #666
The creation date of Openssl/openssl is 2013 but the first commit is 1998..
why is that?

On Sat, May 16, 2020 at 9:27 PM Venu Vardhan Reddy Tekula <
notifications@github.com> wrote:

[2020-05-17 07:15] vchrombie commented on #666
I am not really sure but I think there is a possibility of that case too. Maybe they were using some other software earlier such as GitLab or phabricator before creating the GitHub repository.

[2020-05-17 07:21] valeriocos commented on #666
Hi @Julianbaozi ,

why is that?

This probably due to the fact that the repo was imported to GitHub in 2013. Thus, the creation date in GitHub is 2013, but the repo was started in 1998.

I don't think Git explicitly models the creation date of a repository. If you want to rely only on Git data, you could consider the repo creation date as the date of the first commit. An option to explore could be

[2020-05-17 10:43] sduenas commented on #666
There's no way to get a reliable date of when a Git repository was created. Also, the oldest commit doesn't need to be the first commit created because you can remove commits or import others from different places.

Having said that, if what you want is to get the first commit we return in Perceval (usually the first commit in `master` branch) there are several ways to do it. For all of them, you

[2020-05-17 10:56] Julianbaozi commented on #666
Thank you

On Sun, May 17, 2020 at 3:43 AM Santiago Dueñas <notifications@github.com>
wrote:

[2020-05-17 13:58] vchrombie opened #668 "[googlehits] Returns None object"
Here is the command which I have executed
[code]

The log of the execution :point_down:
[code]

[2020-05-17 13:59] vchrombie commented on #668
I am looking for what might have gone wrong.
I think the `id` or something might have changed which caused the error, not sure tho. I will check it once.

[code]

[2020-05-17 20:09] #666 closed

[2020-05-17 20:16] sduenas commented on #664
If someone wants to work on it, it would be great but I still think I prefer to have a less backends that work well and we use normally than many that nobody uses and are not well tested.

For this reason, it will be better if someone creates this backend, stores it in a separate repo (as we do with other backends like those strictly related to Mozilla tools) and we linked in the README.
If people

[2020-05-18 05:22] vchrombie commented on #665
Thanks, @valeriocos. Feel free to close the issue if you want.

[2020-05-18 06:01] valeriocos commented on #665
You're welcome @vchrombie , let's leave it for a while to hear what other people think about this proposal.

[2020-05-18 06:06] valeriocos commented on #663
@Julianbaozi let's close this issue, feel free to reopen it if needed, thanks.

[2020-05-18 06:06] #663 closed

[2020-05-18 06:28] valeriocos commented on #668
Hi @vchrombie , you're right something has changed upstream.

The div `resultStats` isn't returned when running Perceval. If you perform the search in your browser and inspect the html, you should find a div with id `"result-stats"`. It contains the number of hits for the given search.

[2020-05-18 07:01] vchrombie commented on #668
Yes, @valeriocos. I understood the error. I checked the google search too in the browser and `result-stats` is the required id. I tried replacing the id
[code]
and checked the bs_result in [googlehits.py#L172](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/googlehits.py#L172), but didn't find any id `result-stats`. I couldn't find the number too. :thinking:

I ha

[2020-05-18 10:09] valeriocos commented on #668
If I understand correctly the `result-stats` div is now added dynamically by some Javascript code, however BeautifulSoup doesn't deal with this dynamic part. Thus, the value of `result-stats` doesn't show up at https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/googlehits.py#L172, but it is visible when inspecting (or viewing the source code of) the page in the brows

[2020-05-19 08:51] vchrombie commented on #668
Hi @valeriocos
I have checked the pointers which you have shared and also searched for it a bit more.

I have some conclusions regarding it.
1. AFAIK, we cannot use requests, in this case, it is suitable only for static content.
2. We can use selenium for this, but it has its own pros (it works, the only thing) and cons (it is slow and takes up a lot of memory).

Reference: https://kiwidamien.gith

[2020-05-19 10:39] sduenas commented on #668
If Google has changed how results are retrieved when we run a query maybe they have new endpoints or services we can use. If the response doesn't contain the data anymore, data should come from other endpoint. I'm sure they offer some kind of service we can use.

I don't think selenium is the best way to do this. As you said, it basically means that perceval will have a browser running to process

[2020-05-19 12:55] valeriocos commented on #668
This backend isn't related to soft dev. Following the comment at https://github.com/chaoss/grimoirelab-perceval/pull/640#issuecomment-609008667 and considering that this backend may considerably change, it would be wise to:
- create a different repo for backends not strictly related to soft dev
- use this backend as a pilot study for modeling the rules to decide what goes in the core perceval and

[2020-05-19 15:22] obaroikoh opened #669 "Error targeting a single space on Confluence"
I am trying to target a single space on confluence. When I run the perceval conmmand using the space's tinyuri, I get the following error.

command: `perceval confluence "https://wiki.lfnetworking.org/x/UwIiAQ" --from-date '2020-02-01'`

Error:
[code]
Is there a way to handle data retrieval using the tinyuri for a given space?

[2020-05-19 15:47] valeriocos commented on #669
Hi @obaroikoh , thank you for using Perceval.

Perceval doesn't support fetching a specific space, please try with the following command:
[code]

[2020-05-19 16:09] obaroikoh commented on #669
Hi @valeriocos, Thanks for the feedback. The command in your response works, I was just hoping we could directly target a space.

[2020-05-19 16:21] valeriocos commented on #669
You're welcome @obaroikoh ! One of the key principle of Perceval is to retrieve all possible information from a given repository and delegate other tasks (processing and filtering) to other GrimoireLab components (e.g., ELK and Kibiter).

Let's close this issue, feel free to reopen it if needed, thanks

[2020-05-19 16:21] #669 closed

[2020-05-20 07:10] #655 closed

[2020-05-23 17:05] shikha0208 commented on #656
Yes it works.Thank you

[2020-05-23 17:05] #656 closed

[2020-05-26 22:31] animeshk08 opened #671 "[Client] Improve HTTP error log"
Current if an HTTP error is thrown by an API the log print `error.response.reason` as a result of

 https://github.com/chaoss/grimoirelab-perceval/blob/7f4cceb1c2cf032309193854cf8e6b653a0cfd0c/perceval/client.py#L181

However, many times the actual reason for the error is returned in ``error.response.text`. A log message can be printed in case an exception is thrown. This will help users to easily

[2020-05-27 08:26] #543 closed

[2020-05-27 15:24] valeriocos commented on #671
Thank you @animeshk08 for opening this issue and providing the fix.

[2020-06-05 08:20] gibello opened #673 "max-results option has no effect on jira query"
Tried on project with many jira issues:
[code]
The command returns megabytes of JSON (just like no max-results specified ?), instead of just one record.

Note: using "--max-result" (without the S at "results") causes no error on the parameter name, but does not work better.

[2020-06-05 08:31] gibello opened #674 "perceval git (very) slow on big repo"
Tried perceval git on a big Git repo, but it gets stuck almost forever:

[code]
When launched on a smaller repo, the same command works fine, so there's an issue related to the repo size.

Note: the doc at https://chaoss.github.io/grimoirelab-tutorial/perceval/git.html states that "To produce this result, Perceval cloned the git repository to analyze, and got information for all its commits” […]"

[2020-06-05 09:37] valeriocos commented on #673
Hi @gibello ,

The `max-results` is used to set the number issues returned by every single query sent from Perceval to the Jira API.

I have tried the command you shared above and got the following:
[code]

As you can see from the log messages `Fetching x/16218`, only a document is returned by every query.

[2020-06-05 10:08] valeriocos commented on #674
Hi @gibello,

The Git backend [clones](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/git.py#L323) the repo and then queries the [log](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/git.py#L993), there is not interaction with any REST API.

I made 3 tests using the repo https://github.com/xwiki/xwiki-platform, they consisted in

[2020-06-08 07:22] valeriocos commented on #673
I close this issue @gibello , feel free to reopen it if needed.

[2020-06-08 07:22] #673 closed

[2020-06-08 07:22] valeriocos commented on #674
I close this issue @gibello , feel free to reopen it if needed.

[2020-06-08 07:22] #674 closed

[2020-06-08 08:05] gibello commented on #673
Fine... but I don't find much doc about perceval backends - maybe I didn't manage to find it ?

Any way to filter issues (like obtaining only open issues, or sending some jql query to Jira ?) ? Is it "-tag" or any other (undocumented ?) param ?
Because on my case, there is too much data ("perceval jira https://jira.xwiki.org --project XWIKI" still running after 12 minutes... and almost 100 Mo down

[2020-06-09 06:40] valeriocos commented on #673
Some documentation is available at https://perceval.readthedocs.io/ (however it won't contain the latest changes: https://github.com/chaoss/grimoirelab-perceval/issues/625)

Another option is to execute the help command in Perceval, as follows:
[code]

By default Perceval focuses on just collecting all data from a target repository. Filtering and drilling down into this data is done by other Grimo

[2020-06-23 09:36] marcofranssen opened #676 "Seems perceval has some issue connecting via socks5 proxy"
When configured a SOCKS5 proxy in the grimoirelab docker container it fails with following error after I have installed the `pysocks` dependency. Before that there is a unsupported socks5 protocol error.

I'm configuring this SOCKS5 proxy via the following environment variables.

[code]

If I run `git clone` manually all works as expected and the clone succeeds.

[code]

I have also logged the iss

[2020-07-24 05:15] lukaszgryglicki opened #681 "[Question] Is is possible to run multiple perceval gerrits (with different SSH keys) at the same time?"
Hi, here is the problem: I want to run say 10 Gerrit backends in parallel, each of them uses different SSH private keys (`~/.ssh/id_rsa`), is it possible to run them in parallel instead of in sequence (so I can switch keys before each one starts)?
Is there any parameter that can specify a non-default private key location?

[2020-07-24 08:23] valeriocos commented on #681
Hi @lukaszgryglicki , this doesn't seem to be supported by the Gerrit backend. I made a quick modification to the backend and the following changes should work:
[code]

To execute the backend:
[code]

Hope this helps!

[2020-07-24 08:55] lukaszgryglicki commented on #681
WOW - great - thanks, any chance to get that patch merged to the `master` branch? If not I'll apply this as an additional patch next week.

Again, thanks!

[2020-07-29 15:45] #681 closed

[2020-08-18 19:15] anajsana opened #683 "[Error] rate limit"
I've used `perceval.backends.core.github` python library to fetch github data from a set of repos (26 repos). When executing the script, I got a rate limit error:

[code]
It seems the rate limit starts from the very beginning, so I don't understand the reason. It might be because I'm not giving all the required token permissions? Permissions I gave were: **admin:org, admin:public_key, read:package

[2020-08-18 20:16] vchrombie commented on #683
Hi @anajsana
I think the access token should be parsed as a list of tokens.

So, the solution to your problem would be
[code]

Can you try this?

[2020-08-19 10:53] mafesan commented on #683
In addition to what @vchrombie said, I would recommend to use the `sleep_for_rate` option. This will pause the collection until the rate limit is reset.

[code]

Note that if you activate this option, you may also need to set the `sleep_time` parameter (If I'm not wrong, GitHub API limit is reset every hour).

[2020-08-19 18:22] anajsana commented on #683
yes! It worked :+1:  Thank you so much for your help and quick response @vchrombie and @mafesan

[2020-08-19 18:22] #683 closed

[2020-09-02 08:42] lukaszgryglicki opened #685 "[Perceval] - cannot install -pip3 related issues - at worked just fine a few days ago"
Same commands were just working (with pip3 related warning) few days ago:
Either `python3 -m pip install -e "repos/grimoirelab-perceval"` or `pip3 install -e "repos/grimoirelab-perceval"` - both fail:
[code]

[2020-09-02 11:56] lukaszgryglicki opened #686 "Building grimoire stack from upstream gives compatibility issues withing the stack"
`root@dad3fa1e07b0:/# p2o.py`:
[code]

[2020-09-02 14:54] jjmerchante opened #687 "Current 'dulwich' version doesn't work with Python 3.8"
Using the version of `dulwich` specified in the requirements.txt and running Perceval with Python 3.8 raises the following error:

[code]

The bug is in the `dulwich` package but it was fixed some years ago and the latest version works with Perceval (all tests pass and the bug is fixed).

I have seen that you freeze the version of `dulwich` due to a bug with the version `0.19` with a Gerrit URL (h

[2020-09-02 15:05] sduenas commented on #687
Sure, feel free to do it.

[2020-09-03 09:41] sduenas commented on #685
I think the problem is related to this issue: https://github.com/pypa/setuptools/issues/2355#issuecomment-685159580 that also raised the errors on #688.

[2020-09-03 09:52] lukaszgryglicki commented on #685
Probably, this fixes the issue:
[code]

[2020-09-03 09:52] #685 closed

[2020-09-03 09:52] lukaszgryglicki commented on #686
Adding this single line at the end solves the issue:
Probably, this fixes the issue:
[code]

[2020-09-03 09:52] #686 closed

[2020-09-03 10:23] #687 closed

[2020-09-30 11:34] sduenas opened #690 "Add option to show the list of available backends dynamically"
The command-line client should display the list of available backends. The current list is only shown with `perceval --help` but this list is static.

The idea is to have a flag (`-l / --list`, or similar) to display the list. So for instance, when the user runs the next command it will display the list shown on this example:

[code]
You can make use of the call to `find_backends` function. This f

[2020-09-30 12:26] imnitishng commented on #690
I'm taking this up.

[2020-09-30 15:24] ooigavin commented on #649
Hi would love to give this a go as a first issue. Might need abit of time to get familliar with the codebase

[2020-09-30 15:49] sduenas opened #691 "Improve log messages"
Perceval is composed by several backends that allow to analyze heterogeneous datasources. In some of this backends, the log messages are not clear or they are poor. The goal of this task is to understand how backends work and include meaningful message logs that can help developer and users to understand the progress of the backend.

This is a log running task, so feel free to chose a backend  and

[2020-09-30 16:06] sduenas opened #692 "Command line client displays RuntimeError traceback"
When a backend fails the command line client crashes and prints the whole traceback with the error. The client should terminate showing an error but not the whole traceback. The traceback should only be shown when the program is run with the debug flag (`-g`).

This is an example with one of the most common errors, so you can reproduce the problem fast:
[code]

[2020-10-01 11:54] RaviFefar commented on #26
Activate the **virtualenv**, and then install **BeautifulSoup4**:

`$ pip install BeautifulSoup4`

When you installed **bs4** with **easy_install**, you installed it system-wide. So your system python can import it, but not your **virtualenv** python.

[2020-10-01 11:55] RaviFefar commented on #26
Activate the virtualenv, and then install BeautifulSoup4:

$ pip install BeautifulSoup4

When you installed bs4 with easy_install, you installed it system-wide. So your system python can import it, but not your virtualenv python.

[2020-10-01 16:58] nworb95 commented on #691
I am happy to help work on this!

[2020-10-01 17:01] nworb95 commented on #691
(Just going to go through the tutorial first)

[2020-10-11 07:03] ooigavin commented on #649
Hi, just wanted to clarify some things. From the jira documentation I can see that password basic auth & cookie-based auth have been deprecated. The recommended method for Basic auth now is via api tokens.

While it is still better to use Oauth to authenticate the requests, currently for non-connect apps, the only grant type available is the code authorization type, which requires a browser. In th

[2020-10-11 09:01] ooigavin commented on #649
** apologies after further reading, i realised that there are some differences between apps hosted on Jira Cloud and apps self-hosted with Jira Server.

- password basic auth is deprecated for Jira Cloud, api tokens are now the recommended method
- api tokens are not enabled for Jira Server, and password basic auth is still the only way to perform auth without a browser

I am unclear if the curren

[2020-10-15 10:06] sulunemre opened #696 "Installing from source code doesn't work"
Hey, I am trying to install perceval from source code. After cloning the repo, I run `pip install -r requirements.txt` command but it fails with an error: `ModuleNotFoundError: No module named 'setuptools'`.

Even after I install setuptools with `apt-get install python3-setuptools`, I get the same error message. Here is the full output of pip install command:

[code]

Python version: 3.7.8

[2020-10-15 10:37] sduenas commented on #696
Yeah, this is a problem we are facing since the latest updates on `setuptools`. I thought it was fixed but apparently is not. You can have more info here: https://github.com/pypa/setuptools/issues/2353. There are some workarounds on that issue to fix the problem. Not sure which ones really work because I could fix it setting an environment variable but other people tried the same and it didn't wor

[2020-10-15 13:08] sulunemre commented on #696
Thank you for pointing the issue. It works after downgrading setuptools and pip. Working example:

[code]

[2020-11-10 21:00] s0mnaths commented on #696
It still shows the same error for me, after running the above lines.

[2020-11-11 06:03] vchrombie commented on #696
Hi @s0mnaths

If you don't have any source code requirement, can you try installing the pip package?
[code]

[2020-11-11 06:10] s0mnaths commented on #696
Thanks! That worked for me.

[2020-12-02 15:25] #690 closed

[2020-12-07 15:24] kerrerain opened #704 "Version mismatch between PyPi and source code?"
Hello,

I'm asking out of curiosity: the last release of perceval published on PyPi is [0.12.24](https://pypi.org/project/perceval/), but it seems that the last versions mentionned in the source code are 0.17.x. Are the release published elsewhere, or is the team currently preparing a future release?

Regards,

kerrerain.

[2020-12-09 11:58] sduenas commented on #704
Hi, yes. I'm trying to fix that problem this afternoon. I also need to update all the packages for the whole stack. I'll keep you posted.

[2020-12-10 23:57] sduenas commented on #704
I've uploaded updated versions of the packages to pypi. Feel free to open this ticket again if you find any problem.

[2020-12-10 23:57] #704 closed

[2020-12-11 11:01] sduenas commented on #704
Great news! Thanks and sorry because it take so much to upload a new version of the packages.

[2020-12-16 15:27] sduenas opened #706 "Authentication as GitHub App"
One possible option to avoid problems accessing repositories and projects would be to use GitHub Apps instead of users. Perceval would authenticate as an app and then retrieve data from the repositories where the app is active.

[2020-12-16 15:33] sduenas commented on #706
To authenticate Perceval, first the app will need a a private key to generate JWT tokens. With this tokens is possible to use the API. The main problem is this tokens only last 10 mins, so after they expire, Perceval will need to generate a new one.

- [Authentication with GitHub Apps](https://docs.github.com/en/free-pro-team@latest/developers/apps/authenticating-with-github-apps)

[2021-01-03 19:28] dbrumley opened #708 "perceval raises exception when ran on launchpad"
Running perceval on launchpad raises exception.

To duplicate:
[code]

This seems similar to https://github.com/chaoss/grimoirelab-perceval/issues/566

Backtrace
[code]

[2021-01-04 11:01] sduenas commented on #708
Thanks for reporting it. I'll try to check it as soon as possible. You probably read it but you can avoid this error using the flag `--no-archive`.

[2021-01-04 11:21] #706 closed

[2021-01-12 12:04] Nolski opened #709 "Supybot Backend"
# Overview

When running `perceval supybot` I receive a parse error saying a date is expected on line one.

## Further details

The exact output of the command is below:

[code]

However, the log file seems to be formatted correctly with a datetime at the beginning of each line as shown below:

[code]

[2021-01-14 14:58] gregoriorobles commented on #709
I've had a look at the tests, and I see that the problem here is that the fact that the timezone is missing is considered as a failure. I assume that instead of being it a bug in the code, the file format of the log file is not correctly formed.

@Nolski to solve your problem, you should add timezone information to your logs. For instance by adding "+0000" or whatever timezone you would like to us

[2021-01-14 15:01] Nolski commented on #709
@gregoriorobles Given that this is the log that supybot generates, it would be worthwhile to have perceval conform to that format right? I'm curious if other grimoire users are having issues with the supybot integration.

[2021-01-14 15:09] gregoriorobles commented on #709
@Nolski I am not a core developer of perceval. If @sduenas or any other core developer of perceval are positive about what you propose, I could implement it.

[2021-01-14 15:34] Nolski commented on #709
For what it's worth, these logs are generated by a bot running [Limnoria](https://github.com/ProgVal/Limnoria) which is the successor to Supybot as Supybot has been deprecated

[2021-01-26 08:23] #709 closed

[2021-01-26 08:24] sduenas commented on #709
This was fixed by #716.

[2021-02-09 14:41] AlexanderLill commented on #603
This is probably due to the fact, that Jira has deprecated authentication with Username/Password for some instances, see here: https://confluence.atlassian.com/cloud/deprecation-of-basic-authentication-with-passwords-for-jira-and-confluence-apis-972355348.html

Unfortunately it seems that using an API token is not implemented yet?

[2021-02-12 10:21] sulunemre commented on #696
The releases on pip were old when I had opened this issue, but it looks like they are updated now, and installing from source is no more needed for me.  Thanks!

[2021-02-12 10:21] #696 closed

[2021-02-12 10:37] sduenas commented on #696
Yes, we have been updating the packages on pypi. Sorry because I forgot to notify it.

[2021-02-23 16:21] Nolski opened #719 "Add backend support for osf.io"
# Overview

[Open@RIT](https://www.rit.edu/research/open) uses perceval (along with the rest of the grimoire lab stack) to collect metrics across a variety of academic open research projects. As a center of excellence within RIT, we hope to expand our metrics collected to go beyond simply Free and open source software to other sorts of open programs such as https://osf.io which is an increasingly

[2021-02-24 15:11] suhascv opened #720 "No module named "setuptools""
# Error while installing requirements from [toolkit](https://github.com/chaoss/grimoirelab-toolkit)
```pip3 install -r requirements.txt```

![Screenshot from 2021-02-24 10-00-13](https://user-images.githubusercontent.com/43292181/109019745-467a1300-7687-11eb-913d-a8140b685697.png)

I get the same error even after
[code]

@Nolski

[2021-02-24 15:44] suhascv commented on #720
The following changes in [pyproject.toml](https://github.com/chaoss/grimoirelab-perceval/blob/master/pyproject.toml) solved the issue
[code]

[2021-02-24 16:50] sduenas commented on #720
Thanks! Would you mind to create a PR to fix it?

[2021-02-24 17:24] suhascv commented on #720
sure
need to make the above changes to both perceval repo and toolkit repo
[perceval PR](https://github.com/chaoss/grimoirelab-perceval/pull/721)
[toolkit PR](https://github.com/chaoss/grimoirelab-toolkit/pull/34)

[2021-02-25 07:59] vchrombie commented on #720
Hi @suhascv @Nolski, thanks for your interest in GrimoireLab. Sorry for popping in late.

I think we have faced this issue earlier and we found a workaround for it. We are using the same workaround in the [CI workflow](https://github.com/chaoss/grimoirelab-perceval/blob/master/.github/workflows/ci.yml) too.

It is always advised to use a virtual environment, in case if you aren't using one.
[code]

[2021-02-25 08:23] vchrombie commented on #719
Hi @Nolski @suhascv, thanks for your interest in GrimoireLab.
I think @sduenas has covered almost everything that is needed.

I just wanted to add one more thing. If you are looking to contribute to GrimoireLab (as a whole), you can follow the [developer installation guide](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md). This would make things much easier for you.

[2021-02-25 13:17] Nolski commented on #719
Hi @sduenas and @vchrombie this all sounds good! We're more than happy to maintain the osf integration as its own repository. Perhaps we can leave this issue open as a reminder to add to the documentation here so perceval users can know of our 3rd party backend?

[2021-02-25 14:24] suhascv commented on #720
@vchrombie thanks for your response, I followed the above procedure using virtual environment, I still got the same error. It seems like [this](https://github.com/pypa/setuptools/issues/2353#issue-688935202) is the issue here.

[2021-02-25 15:11] vchrombie commented on #720
Hi @suhascv

Strange, I have tested the steps just now and it works really fine for me.

Do you mind sharing any error log you have?

Just a small trivia, you can try `python setup.py install` instead of `pip install .`.

Also, are you interested to try the [developer installation of grimoirelab](https://github.com/chaoss/grimoirelab-sirmordred/blob/master/Getting-Started.md#cloning-the-repositori

[2021-03-02 08:27] vchrombie commented on #720
@suhascv do you have doubts or update about the installation?
Let me know if you need help.

[2021-03-05 14:24] suhascv commented on #719
Hi @vchrombie and @sduenas ,
Just wanted to update on our work, we have started developing  [osf perceval backend](https://gitlab.com/open-rit/perceval-osf), we have achieved basic ```--category``` fetch so far.
Your suggestions are welcome .
[https://gitlab.com/open-rit/perceval-osf)](https://gitlab.com/open-rit/perceval-osf)

[2021-03-05 19:39] vchrombie commented on #720
@suhascv can we close this issue for now?

We, right now, need to downgrade the version of the setuptools as a workaround but I am hoping this error would be resolved in the coming version of setuptools.

If it didn't, I will try to implement the changes which you have proposed. But, I need to evaluate if this is needed for all the grimoirelab tools.

[2021-03-05 21:22] suhascv commented on #720
@vchrombie you can close this issue.

[2021-03-08 00:00] sduenas commented on #720
I've been facing the same problems @suhascv had. I think we should add it to avoid the problem while the issue with setuptools is fixed.

[2021-03-08 05:56] vchrombie commented on #720
Okay @sduenas, I will follow up on this PR https://github.com/chaoss/grimoirelab-perceval/pull/721 and check if other grimoirelab components need this change.

[2021-03-08 11:04] jjmerchante opened #722 "[stackexchange] Support the use of access_token"
Currently StackExchange supports two options to throttle requests:
- Application key
- Application key + access_token

The first option is supported by Perceval, but we are using Grimoirelab with multiple users and it would be nice to support `access_token` to have a different quota per user.

We will provide a Pull Request with the changes required.

Documentation:
- https://api.stackexchange.com

[2021-03-13 09:40] rohanreddych commented on #720
Hello, I followed suhascv's tip and put `requires = ["poetry-core>=1.0.0","setuptools>=30.3.0,<50"]` in `pyproject.toml` but it still gave an error.
[code]
I created a new virtualenv and tried again, but same error. Any fix for this error?

[2021-03-15 06:22] vchrombie commented on #720
Hi @rohanreddych, thanks for your interest in GrimoireLab.

Okay, I haven't really tried that solution but it should solve the problem.
Have you installed setuptools after adding them to the `pyproject.toml`. You can install it using pip. Ideally this should be added to `requirements.txt` file.
[code]

I will check this soon and provide the required PR.

You can also try the steps given in this [c

[2021-03-15 12:41] suhascv commented on #720
@rohanreddych I think you need to update ```pyproject.toml``` on two repos

1. [perceval](https://github.com/chaoss/grimoirelab-perceval)
2. [toolkit](https://github.com/chaoss/grimoirelab-toolkitl)

I forked both these repos and updated ```pyproejct.toml```, it worked for me.

[2021-03-16 06:30] isikozsoy opened #724 "What should I use for 'hostname' attribute to extract data from Gerrit?"
Hi everyone, I want to extract code reviews from a public gerrit project. I tried to write "gerrit.wikimedia.org/WikiApiary" as hostname however I got following error ssh: Could not resolve hostname gerrit.wikimedia.org/wikiapiary: Name or service not known
Can anyone help me, where should I look for hostname attribute of Gerrit? Thanks for your time.

[2021-03-16 10:29] sduenas commented on #724
You can't analyze just one part of the gerrit repository. You need to get all the review from the whole repo. Therefore, the hostname will be `gerrit.wikimedia.org`.

 To do that, you also need to have an account in wikimedia. See the documentation about how to configure it: https://github.com/chaoss/grimoirelab-perceval#gerrit

[2021-03-21 08:12] Rashmi-K-A commented on #691
@sduenas  I would love to work on this, but can you elaborate on the 'log messages are not clear or they are poor' part, and perhaps provide an example? I went through these files but I am still trying to put a finger on what we are defining as 'good log messages'

[2021-03-21 17:14] isikozsoy commented on #724
Thanks a lot!

[2021-03-21 17:14] #724 closed

[2021-03-25 17:35] AllMight2099 commented on #692
Hey there! Can I take this issue up if no one's working on it?

[2021-03-25 17:46] vchrombie commented on #692
@AllMight2099, no one has been assigned so far. Please feel free to take it up and open a PR.

[2021-03-28 16:48] AllMight2099 commented on #692
@sduenas @vchrombie
Hey there! I fixed it by passing in a bool flag (`debug_check`) in the constructor for the `BackendCommand` class. While raising the exception, I'm setting `logger` exception's function parameter (`exc_info=debug_check`). This prevents the stack trace from getting printed when not in debug mode

Also, is the debug flag `-d` or `-g`? cause the issue states that it's the former

[2021-03-29 07:53] sduenas commented on #692
The flag should be `-g`. I made a typo. I'll change the description.

[2021-03-31 10:15] #692 closed

[2021-04-12 16:33] #720 closed

[2021-04-21 15:22] jjmerchante opened #733 "Fail to retrieve user_orgs for organizations with OAuth App access restrictions"
When retrieving issues from a GitHub repository, it also retrieves information related with users. I found an special issue which creator is an organization: `https://github.com/redis/redis/issues/1531`.

The problem is that the organization (which created the issue) has [OAuth App access restrictions](https://docs.github.com/en/organizations/restricting-access-to-your-organizations-data) to the o

[2021-04-29 09:56] #733 closed

[2021-06-14 18:45] Alch-Emi opened #737 "Documentation for perceval output formatting"
Howdy!

I'm working on a third-party backend for perceval-osf, but I can't seem to find much documentation regarding what format the data output by perceval is supposed to be in, both of the command, and of the `Backend.fetch()` method.  I can generally piece together what should be produced by comparing outputs from different backends and reverse-engineering some existing code, but this is probab

[2021-06-15 09:49] sduenas commented on #737
Hi, first of all sorry for the lack of documentation. Last year, we thought we were going to improve this part but due to some problems managing the GSoD request, we couldn't do it.  A new GSoD is underway so I hope this time we can have a student collaborating on this topic. In the meantime, I can give you some info.

Items are whatever the datasource stores and we want to retrieve and then analy

[2021-06-15 16:39] Alch-Emi commented on #737
That's very helpful, thank you!  Good luck getting someone for GSoD!

[2021-06-16 07:17] sduenas commented on #737
Thanks. I'm gonna close this issue. I hope we can have better documentation soon.

[2021-06-16 07:17] #737 closed

[2021-07-06 15:22] vchrombie opened #740 "Perceval doesn't work with Poetry installation"
Perceval doesn't work with Poetry installation

Steps to reproduce
[code]

Error trace
[code]

The `bin/perceval` script should be changed to work as an entry point.

_Originally reported by @sduenas in https://github.com/chaoss/grimoirelab-perceval/pull/731#discussion_r621079285_

[2021-07-06 15:33] vchrombie commented on #740
I'm working on this. :raising_hand_man:

[2021-07-08 17:41] #740 closed

[2021-07-16 08:23] jaskiratsingh2000 commented on #691
@sduenas I am super interested to work on this issue. I just need a clarified idea that you are looking forward to this. Can you please let me know the whole idea that you want me to implement? What do you mean by a "good" or "poor" error message here?

[2021-07-17 14:12] jaskiratsingh2000 commented on #691
Hey @sduenas Can you please let me know on this. I am still looking forward to hearing from you.

[2021-08-02 18:25] zhquan opened #746 "[github] TypeError fetching a reaction"
We have an error fetching this issue https://github.com/golang/go/issues/18802#issuecomment-371433982 due to one of the reactions has not user content
[code]
The error:
[code]
Using [SirMordred](https://github.com/chaoss/grimoirelab-sirmordred)
[code]

[2021-08-02 18:39] vchrombie commented on #746
Interesting, do you know how this can occur?

I'm guessing when the user posts a reaction to the comment and later deletes the account. Do you think there is any other scenario?

For comments, usually, it redirects to the @ghost AFAIK. I think reactions don't support this yet.

[2021-08-04 08:40] vchrombie commented on #630
Adhering to the [contributing guidelines (#incubating-repositories)](https://github.com/chaoss/grimoirelab/blob/master/CONTRIBUTING.md#incubating-repositories), this work is moved to a separate repository [1] and will be maintained over there for some time.

[1] Zulip Backend for Perceval: https://github.com/vchrombie/grimoirelab-perceval-zulip

Best,
Venu

[2021-08-04 08:40] #630 closed

[2021-08-04 08:44] vchrombie commented on #664
Closing this issue in favor of this https://github.com/chaoss/grimoirelab-perceval/issues/664#issuecomment-629854309.

[2021-08-04 08:44] #664 closed

[2021-08-04 11:01] #746 closed

[2021-08-06 06:56] vchrombie commented on #635
Hi @animeshk08, thanks for the work on the airtable backend. Do you think you can move the work to a new repository?

I think we discussed this topic in the PR but I know it takes some effort to create everything. Recently, I moved the Zulip Backend to a new project. The workflows, documentation, and integrations are everything are in place. You can use it as a template repository and create the p

[2021-08-09 15:37] vchrombie commented on #719
Hi all, thanks to everyone for working on perceval-osf. I have just merged https://github.com/chaoss/grimoirelab-perceval/pull/750 and the addition of osf backend looks great to the list.

Do you think we can close the issue now?

Please feel free to open any issues in case of any other doubt.

[2021-08-09 17:19] sduenas commented on #719
@vchrombie yes, please. I think we can close this.

[2021-08-16 06:24] vchrombie commented on #719
Thank you everyone for being a part of the discussion. :slightly_smiling_face:
Please feel free to open a new issue in case of any doubts in the future.

[2021-08-16 06:24] #719 closed

[2021-08-24 09:05] isikozsoy opened #752 "Jira Authentication Problem"
Hello,
I could not understand what should I use for user (Jira's attribute). I tried email and full-name. I could not find another option to use  for user. Can anybody help me with this? Thanks for your time.

[2021-08-24 11:28] vchrombie commented on #752
Hi @isikozsoy, thanks for opening the issue.

I think the `user` attribute is the username for the Jira instance.
- [perceval/backends/core/jira.py#L276](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/jira.py#L276)
- [perceval.backends.core.html#perceval.backends.core.jira.JiraClient](https://perceval.readthedocs.io/en/latest/perceval.backends.core.html#perceval.

[2021-08-24 11:47] isikozsoy commented on #752
Thanks for your response. However, I also checked if I can use username but I think username is  not available in Jira. You can check it from the links.

https://confluence.atlassian.com/cloud/blog/2018/06/say-goodbye-to-usernames-in-atlassian-cloud
https://community.atlassian.com/t5/Jira-questions/How-to-find-username-of-my-jira-account/qaq-p/969298

[2021-08-24 11:51] isikozsoy commented on #752
Is it possible to modify the source code for Jira in a way that api token can be used for authorization like Github or GitLab? @vchrombie

https://support.atlassian.com/atlassian-account/docs/manage-api-tokens-for-your-atlassian-account/

[2021-08-24 17:31] vchrombie commented on #752
Thanks for providing the info, @isikozsoy.

Didn't know about this. Is this applicable only for the new versions?

It should be possible, but I'm wondering if it would break any existing systems. I would like to keep this issue open for more comments from the other community members.

Thanks for reporting the issue.

[2021-08-28 11:31] vchrombie commented on #752
@isikozsoy thanks a lot.

Do you think we can add something to make things clear?
Would you be interested to open a PR for it?

[2021-08-28 12:17] isikozsoy commented on #752
You're welcome @vchrombie.

We can use email instead of user and token instead of password in the soure code however this might break existing systems so I think it is better if we just modify the explanation for user and password parameters of Jira class by editing the comment. I can open a PR if you also agree with my suggestion.

[2021-08-28 18:43] vchrombie commented on #752
Hello @isikozsoy, I have some more comments.

Ok, does it work with `email` and `password`?

We need to check if we can use only the `api_token` for authentication. The current implementation uses `basic_auth` which has the username and password. If only token is sufficient then we can maybe change the implementation to use `token_auth`.
https://github.com/chaoss/grimoirelab-perceval/blob/master/p

[2021-08-28 18:44] vchrombie commented on #752
Opening the issue as we can open a PR and fix the problem.

[2021-09-01 02:29] xiao623 opened #755 "`max-items` is just used for issues, but not for others"
https://github.com/chaoss/grimoirelab-perceval/blob/4a65eceb6463f1847af6c6e8e5da6b527f6c30e7/perceval/backends/core/github.py#L731

The value of `max-items` is only used for `issues` method, so what is the point of setting this value?

For example:
https://github.com/chaoss/grimoirelab-perceval/blob/4a65eceb6463f1847af6c6e8e5da6b527f6c30e7/perceval/backends/core/github.py#L711
when we called `http

[2021-09-03 12:47] zhquan commented on #755
@xiao623 - `max-items` is used when the category is `issue` or `pull_request` but only in the first level and not in its sublevels as `comments`, `reactions`, etc. That means it will set the `per_page` to `max_items` only to fetch issues or pull requests but for each issue/pull to fetch `comments` the `per_page` is always the same `VPER_PAGE = 100`.

Maybe the value `max-items` should extend to al

[2021-09-04 02:49] xiao623 commented on #755
Yes, I agree that the problem is from the Github side, and I ask for help in `GitHub Support Community` : [got-server-error-when-called-api](https://github.community/t/got-server-error-when-called-api-https-api-github-com-repos-apache-spark-pulls-27058-comments-per-page-100/199429)

Before they fix the problem, we need to modify `per_page` in `issue_comments` method.

[2021-09-07 02:01] xiao623 opened #758 "[Small Feature] Is there a way to decide path where the Git repositories will be cloned?"
https://github.com/chaoss/grimoirelab-perceval/blob/4a65eceb6463f1847af6c6e8e5da6b527f6c30e7/perceval/backends/core/git.py#L336-L348

The `git_path` would decide path where the Git repository will be cloned, but it just only for `one repo`.
If I have many repos, I must change git_path one by one and run the program again and agian.

Yes, I can use `~/.perceval/repositories/` for those repos and cl

[2021-09-07 08:33] #755 closed

[2021-09-07 10:34] sduenas commented on #758
Sounds good. Can you open a PR with this feature? I would like to have a better name for the option than `repo-path` if possible.

[2021-09-10 09:50] vchrombie commented on #625
The GitHub Webhook is resynced and the configuration files are also updated. The documentation will be built every time there is a change in the source code.

The docs can be accessed at [perceval.readthedocs.io](https://perceval.readthedocs.io).

The issue is resolved.

[2021-09-10 09:50] #625 closed

[2021-09-11 08:53] vchrombie commented on #367
The bitbucket backend created by @imnitishng is ported to a new repository [perceval-backends/grimoirelab-perceval-bitbucket](https://github.com/perceval-backends/grimoirelab-perceval-bitbucket). The work is still pending, but you can try the backend.

Feel free to contribute if you are interested.

[2021-09-11 10:13] #758 closed

[2021-09-15 14:06] vchrombie commented on #665
Closing this issue as it is really complex to figure out a issue template for Perceval but I think it is a good to create on for https://github.com/chaoss/grimoirelab repository.

[2021-09-15 14:06] #665 closed

[2021-09-15 15:11] vchrombie commented on #635
@animeshk08's work on airtable backend is moved to a new repository [perceval-backends/grimoirelab-perceval-airtable](https://github.com/perceval-backends/grimoirelab-perceval-airtable).

Feel free to open issues and pull requests related to the airtable backend in that repository.

Closing the issue in favour of it.

Reference: https://github.com/chaoss/grimoirelab-perceval/pull/640#issuecomment-

[2021-09-15 15:11] #635 closed

[2021-09-15 15:25] vchrombie commented on #445
Thanks for opening the issue @fgs-dbudwin.

We have released many versions for perceval thereafter and we couldn't reproduce the issue.

Closing the issue as it doesn't have any recent activity.

[2021-09-15 15:25] #445 closed

[2021-09-15 15:34] vchrombie commented on #119
GitLab backend is integrated into GrimoireLab. The issues and merge requests can be analyzed using the data source.
The comments, reactions data of the issues, merge requests work is being integrated right now. https://github.com/chaoss/grimoirelab-elk/pull/881

Closing the issue as it is resolved. Please feel free to open new issue if needed.

[2021-09-15 15:34] #119 closed

[2021-09-29 03:38] xiao623 commented on #752
Is there any new progress？

[2021-09-29 07:18] vchrombie commented on #752
I think @isikozsoy need some time to get her work completed on the PR.

[2021-10-06 06:17] codewith-arijit commented on #691
Is this issue still open? Can I be assigned to work on it?

[2021-11-30 22:40] nhasabni opened #767 "[Question] Is there a perceval API for obtaining number of commits and contributors to a GitHub repo?"
GitHub backend for perceval returns issues, repository metadata, and pull requests, but does not have a specific API to get commits and contributors count. Am I expected to use `fetch` API [here](https://perceval.readthedocs.io/en/latest/source/perceval.backends.core.html#perceval.backends.core.github.GitHubClient.fetch)? Thanks.

[2021-12-01 00:00] jgbarah commented on #767
For getting medatadata from the git repository in a GitHub repo, you can use the Perceval git backend. Or are you asking for something else?

[2021-12-01 01:15] kayleachampion opened #768 "Gitlab platform returns different results than perceval"
Hi, I am working my way through the perceval tutorial and there is some inconsistency with the commit count from perceval versus what I see if I go to the gitlab repository site directly. I don't have this issue with github repositories, however.

Steps to reproduce:

Visit https://gitlab.gnome.org/GNOME/gnome-power-manager
--> commit count is **4,452**

Use script perceval_git_counter.py from htt

[2021-12-01 11:57] sduenas commented on #768
GitLab shows the number of commits in the master branch. With perceval you are getting the commits that are in all the branches available in the repository.

Hope this answers your question.

[2021-12-01 18:23] nhasabni commented on #767
I looked into Perceval's git backend. Will it fetch all the commits for a repository? I am looking for getting a count of the number of commits. It looks like GitHub's REST API for commits [here](https://docs.github.com/en/rest/reference/repos#list-commits) is more efficient in a sense that it only fetches 30 (default) commits with a link to the last page. That allows me to determine the number of

[2021-12-01 18:35] jgbarah commented on #767
If you only need the number of commits for a set of repos, the GitHub API is much more efficient, as you say. But in that case, you can also consider other solutions such as https://ghtorrent.org/

If you want (and talking in terms of the MSR hackathon) you could also add a call to that GitHub API to the Perceval github metadata backend to get richer data, or write a new backend, which is not that

[2021-12-01 23:31] nhasabni commented on #767
Yes, I am using GitHub APIs now. I'm seeing a weird behavior when I use `GitHubClient` of `github` backend. Here is the code that I am trying:

[code]

For slightly different values of `resource_url`, I am seeing different values in `response.header`.

For `resource_url = "https://api.github.com/repos/chaoss/grimoirelab-perceval/issues"`, I see that `response.headers` contain `Link` field which po

[2021-12-04 11:12] jgbarah commented on #767
Just to understand the context, what are you exactly trying to do? For example, for getting issues since a certain date, you can use `issues` instead of `fetch`, check the [detailed documentation for GitHubClient](https://perceval.readthedocs.io/en/latest/source/perceval.backends.core.html#module-perceval.backends.core.github). Also, you have `fetch_items` for retrieving items with pagination. I'm

[2021-12-15 11:38] zhquan commented on #767
Hi @nhasabni

Your second URL `https://api.github.com/repos/chaoss/grimoirelab-perceval/issues?accept=application/vnd.github.v3+json&state=open&since=2021-06-04T23:10:45Z` there is no `link` because there are only 15 items, GitHub API returns 30 items per page by default. You can try again but by adding `per_page=10` and you will see the `Link` field on the `response.headers`

Also you can add `si

[2021-12-15 16:54] jgbarah commented on #767
Thanks, @zhquan !!

[2021-12-15 23:42] nhasabni commented on #767
@zhquan @jgbarah Thanks for response. Got that the default number of items per page (30) was making the difference!

[2021-12-16 08:23] jgbarah commented on #767
Great! Can we close the issue then?

[2021-12-16 16:11] nhasabni commented on #767
Yes.

[2021-12-16 20:00] vchrombie commented on #767
Thanks for being a part of the discussion @nhasabni @jgbarah @zhquan
Closing this issue since it is resolved. Feel free to open a new one incase of any doubt.

[2021-12-16 20:00] #767 closed

[2022-01-03 17:21] #768 closed

[2022-01-06 20:00] altsalt opened #770 "[mbox] Remove requirement for files to begin with `From `"
There is a [long stale issue](https://github.com/chaoss/grimoirelab-perceval/issues/20) questioning the mbox backend double parsing certain emails. In that discussion, a [question](https://github.com/chaoss/grimoirelab-perceval/issues/20#issuecomment-198527503) was brought up regarding mbox files that do not follow a pre-assumed format.

I am currently trying to parse an archive from a Sympa backe

[2022-01-07 09:33] sduenas commented on #770
The problem is we use the python standard library to parse the files. The library follows the mbox standard, so if the messages don't follow the standard, the library won't do much.

Also, `From` header is used in the mbox /mailbox format to determine the separation between messages. If the header is not there, the parser won't know when a message ends and a new one starts.

[2022-01-07 09:34] sduenas commented on #770
Maybe there are other libraries that can handle messages better but we didn't have time to check them because we never found the problem you have. If you want to look for other solutions, any help is welcomed.

[2022-02-08 12:45] zhquan opened #774 "[meetup] Change REST API to GraphQL API"
The meetup REST API changed to GraphQL API on Jan 31st, 2022.

When I execute meetup I get this error `Error!: 401 Client Error`
[code]

Going deeper into the error I realize the real error.
[code]

[2022-02-16 13:42] jjmerchante commented on #774
There is no way to fetch all the events of a group using pagination. The GraphQL API is not stable and they don't provide direct API support.

We submitted a form to Meetup with their bug, but we don't know if they will reply.

---

Here is the error:

The GraphQL API doesn't return all the events for a group using pagination. You can execute the following queries using [Meetup GraphQL playground]

[2022-03-22 20:10] ElvertMora opened #777 "Vulnerability using xml.etree.ElementTree"
in the file https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/utils.py

should don't using xml.etree.ElementTree see:
- https://stackoverflow.com/questions/47104413/why-is-xml-etree-elementtree-considered-insecure
- https://docs.python.org/3/library/xml.html#xml-vulnerabilities

you can get this vulnerabilities :
- CVE-2022-25235
- CVE-2022-22822
- CVE-2022-22824
- CVE-2022-23852

[2022-03-23 12:26] Pablohn26 commented on #774
I have run again both queries.
On the first one I am getting the same result.

Now I am getting good results. The number of events is ok (now it is 20), and changing the pagination number does not change the number of events.

Here is the response:

[code]

It seems the API now is working properly, so maybe they have fixed the bug.

[2022-04-19 11:42] Pablohn26 opened #780 "Gitlab API changing pagination (new keyset pagination system)"
Gitlab is changing the API pagination. [Here](https://docs.gitlab.com/ee/api/repositories.html#list-repository-tree) the warning says the following:

It seems we may use that method [here](https://github.com/chaoss/grimoirelab-perceval/blob/fe6f3c944a455c9883f5d40f6e808dc394f7db88/perceval/backends/core/gitlab.py#L480
) , but at least [here](https://github.com/chaoss/grimoirelab-perceval/blob/fe6f

[2022-05-09 07:45] xiao623 opened #782 "[Git] Won't delete the old tags when calling `__fetch_newest_commits_from_repo`"
https://github.com/chaoss/grimoirelab-perceval/blob/d4d86869ebe5a2bb9ba5fe3f150fdce7294d98e6/perceval/backends/core/git.py#L1162-L1168

It seems that it will only delete those old references (`refs/heads/*`) and will not delete these old references (`refs/tags/*`).

If the server deletes the tag, should the tag of the local repo be deleted?

[2022-07-05 23:34] mabelbot opened #791 "Release 0.19.1 missing __init__.py (package not found error)"
**Description of error:**  When running micro.py in Pycharm with default getting started run configuration, errors "No module named perceval" and "No module named perceval.backend" appear. Here is a stack trace of the 2nd error.
<img width="1098" alt="Screen Shot 2022-06-30 at 9 17 44 PM" src="https://user-images.githubusercontent.com/70232089/177433360-12694463-5441-4ef2-821a-11ed14ae3cf5.png">

[2022-07-06 08:15] jjmerchante commented on #791
Hi @mabelbot, from version 0.18.0 Perceval is working with [Python native namespace packages.](https://packaging.python.org/en/latest/guides/packaging-namespace-packages/#native-namespace-packages)

Every distribution that uses the namespace package must omit the `__init__.py`. If any distribution does not, it will cause the namespace logic to fail and the other sub-packages will not be importable

[2022-07-08 07:43] TieWay59 commented on #791
Hi @jjmerchante, I hope I have got your point, but do you mean that we should remove all the `perceval/__init__.py` or `perceval/backends/__init__.py` to fix this problem, or do you mean we should add it as Mabel mentioned above.

I checked the [grimoirelab-perceval](https://github.com/chaoss/grimoirelab-perceval) commit history, and here is what I learned:

Version 0.17.17: https://github.com/cha

[2022-07-08 12:23] jjmerchante commented on #791
Hi @TieWay59, you should remove all the `perceval/__init__.py` and `perceval/backends/__init__.py`, in this repository, and all the repositories that are using Perceval as a namespace package:
- https://github.com/chaoss/grimoirelab-perceval
- https://github.com/chaoss/grimoirelab-perceval-gitee
- https://github.com/chaoss/grimoirelab-perceval-weblate
- https://github.com/chaoss/grimoirelab-percev

[2022-07-08 16:59] TieWay59 commented on #791
Thank you @jjmerchante, I've tried to delete these files in  [grimoirelab-perceval-gitee](https://github.com/chaoss/grimoirelab-perceval-gitee) and it works!

[2022-07-09 01:31] #791 closed

[2022-09-21 14:05] Prinzhorn opened #799 "Incorect "usage" argument order for github backend"
First time user here. I was finally able to successfully export GitHub data, thanks!

`perceval github --help` gives

[code]

but it's actually

[code]

1. It doesn't have the backend in the usage
2. It has "owner repository" at the end, but they need to appear before the other arguments (it does list "positional arguments" first in the text that follows)

Maybe this is some weird standard way to

[2022-09-26 04:30] xurizaemon opened #802 "Test failure in stackexchange (likely TZ)"
[code]

The time for me right now is within 24H of the DST / NZDST time shift, so it's possible this may need specific circumstances to reproduce. FIgure I should report it while I see it then!

[2022-10-03 12:28] sduenas commented on #799
You are right. This is a bug. Thanks for reporting it.

[2022-11-08 21:28] akshatmalik opened #808 "Backend for Gerrit not respecting --from-date"
Hi,

I have been trying to get the Gerrit backend working for a specific time period for OpenStack. However, I see that the `--from-date` parameter does not work as intended. The command I am using is ```perceval gerrit --user akshat  --json-line -o dump_file3.json --max-reviews 10 --from-date '2011-09-20'   'review.openstack.org'``` and the input it returns is as follows:

[code]

As you can see

[2022-11-10 16:03] sduenas commented on #808
Happy to have a PR with that feature too. Anything that can help to improve it, it's welcome. Take into account the backend doesn't use the Gerrit Rest API.

[2022-11-30 22:09] vchrombie commented on #802
Hi @xurizaemon, thanks for opening the issue.

I tried running the tests and I wasn't able to reproduce the issue.

[code]

Can you try running them again? I'm not sure if what went wrong but I am sure that things are working correctly now. The CI looks good too.

Please let me know if we can close the issue.
Thanks.