[2016-01-24 23:35] jgbarah opened #8 "Error while running perceval gitbackend (unexpected end of log stream)"
I run the following commands, after installing the current version of Perceval:

[code]

[2016-01-25 13:13] #8 closed

[2016-02-09 10:27] lluismf opened #9 "JIRA support"
Hi !

I'm a volunteer of OpenMRS, we need to gather bug info from JIRA (among other sources). Is there anything planned? I could give a hand.

Cheers

[2016-02-09 10:57] sduenas commented on #9
Hi,

our plan is to include it as soon as possible. In the meantime, you can try with [Bicho](https://github.com/MetricsGrimoire/Bicho) and the set of tools of [MetricsGrimoire](https://github.com/MetricsGrimoire). And of course, any help is welcome.

[2016-02-09 12:58] lluismf commented on #9
The plan is to use the new stack (Elastic search + Kibana) not the old one. Do you have an issue tracker? I'm a Python newbie and I would like to start with some intro tickets (if possible).

[2016-02-09 16:55] sduenas commented on #9
I see. We use GitHub as an issue tracker but I'm afraid there aren't bugs reported yet.

If you want to start developing a backend for JIRA, you have some examples on `perceval.backends` package. We usually define an API client, to make request to a server (in your case to the JIRA repository) and then a `Backend` class that uses the client to fetch, parse and return the requested data.

The [Bich

[2016-02-09 17:27] acs commented on #9
@lluismf we have also a sample backend that could be useful as reference when creating a new one:

https://github.com/acs/perceval/blob/hello/perceval/backends/hello.py

[2016-02-10 10:49] lluismf commented on #9
ok I will take a look at the code. The idea is to use the REST api instead of web scraping, right?

[2016-02-10 11:27] acs commented on #9
Yes, avoid web scrapping unless it is the only way to get valuable information.

[2016-02-24 10:32] albertinisg commented on #9
Hi @lluismf !

We've been working on the implementation of the JIRA backend.

An initial version  #14 is now under review process.

There's still work to do (like testing) but with this initial implementation you will be able already to retrieve issues and (almost) all the information related to each issue, including its history and transitions among others. The only mandatory field is the endpoin

[2016-02-24 13:12] lluismf commented on #9
Hi Alberto

ok I'll take a look and test it with this repository:
https://issues.openmrs.org
I've been playing around with the Java client API because I don't know
Python.

Cheers

2016-02-24 11:32 GMT+01:00 Alberto Martín <notifications@github.com>:

[2016-02-24 13:48] albertinisg commented on #9
Cool. Take note that authenticated requests returns richer information :)

[2016-02-25 17:39] #9 closed

[2016-02-25 17:40] sduenas commented on #9
Fixed. Jira backend has been merged into `master` branch.

[2016-02-25 20:40] lluismf opened #16 "Error when running perceval with backend=jira on Windows"
It seems a problem with file separators, please see image for details:

![perceval](https://cloud.githubusercontent.com/assets/2213724/13333635/37ef443c-dc08-11e5-809a-8f43dce0b629.png)

[2016-02-25 21:35] lluismf commented on #16
The same logic is present on all backend implementations btw.

[2016-02-26 00:35] sduenas commented on #16
I don't have Windows so I can't test it but maybe you can try this on your machine.

You just need to replace the line 262 of `perceval/backends/jira.py` by the next two lines:

[code]

Then, install and run Perceval again. If it works, I will change it on the rest of the backends.

[2016-02-26 09:23] lluismf commented on #16
ok but I guess the URL will give problems too because the separator is / (Unix file separator).
Also, it would be good to move this cache logic to the BaseCommand class. Does Python allow to call super methods in the initializer?

[2016-03-10 17:00] acs opened #17 "Git Backend: Error when no commits are found"
perceval -g git git://gerrit.libreoffice.org/benchmark --from-date "2016-03-09"

    ...
    File "/usr/local/lib/python3.4/dist-packages/perceval/backends/git.py", line 396, in _handle_commit
    raise ParseError(cause=msg)
    perceval.errors.ParseError: commit expected on line 1

[2016-03-10 17:20] sduenas commented on #17
Confirmed.
[code]

[2016-03-10 17:21] sduenas commented on #17
This command generates an empty commit log.

[code]

[2016-03-10 18:37] #17 closed

[2016-03-10 18:38] sduenas commented on #17
Fixed. It runs smoothly!

[code]

[2016-03-10 18:52] acs commented on #17
Cool! Thanks @sduenas

[2016-03-15 22:37] jgbarah opened #18 "Unicode error due to using surrogates"
When running the git backend to analyze the git repo of the [torvalds/linux GitHub repository](http://github.com/torvalds/linux), and uploading it to ElasticSearch (using the Python elasticsearch module) i get an error which apparently is due to trying to UTF-8 encode a "surrogated" string. The relevant part of the debugging messages and the exception I get is:

[code]

The code causing the error

[2016-03-15 22:48] jgbarah commented on #18
After some more inspection, the error seems to be that the elasticsearch module expects Unicode strings that can be directly encoded as UTF-8, but surrogates are Unicode characters that cannot.

The problem sees to come from the way [Perceval reads the data from the git log](https://github.com/grimoirelab/perceval/blob/master/perceval/backends/git.py#L651) (thanks @sduenas for pointing this out):

[2016-03-15 23:17] jgbarah commented on #18
After commenting with @sduenas and @acs the solutions I see are:

* (1) Use some other method for non-UTF-8 strings in the git log. I suggest trying the "usual" Latin-1 encoding if UTF-8 fails, and then 'backslashreplace' as the error handler instead of 'surrogateescape'. A simple code (without trying another encoding if UTF-8 fails) would be:

[code]

* (2) Removing surrogates when they are found

[2016-03-16 08:54] jgbarah opened #19 "Warning related to git rename detection"
It seems the way Perceval runs git to get the git log could miss some renaming in some cases (this is with the Linux kernel git repo).

[code]

So, git log is not able of tracking renaming to the extent it could, because of that limit. I reproduced that running git log from the command line:

[code]

Maybe this is a corner case, but probably trying to consider it wouldn't harm. I wonder if we coul

[2016-03-16 12:58] sduenas commented on #19
We can pass `diff.renameLimit` to the command. Something like this:
[code]

After searching for this case around the internet, I found that the algorithm used by git to detect renames can be quadratic. In most of the cases it won't harm but in cases like big repositories as Linux it would be a problem.

Maybe you can check how long git lasts to generate the log of Linux when `diff.renameLimit` is

[2016-03-16 23:46] jgbarah commented on #19
I'm testing this. It seems using diff.renameLimit=99999 is taking much more. I hope to have numbers by tomorrow.

[2016-03-17 17:19] gpoo opened #20 "mbox takes any sentence starting by `^From ` as a new message"
The mbox backend parses anything starting with `From ` as a new message. Therefore, the following message from OpenStack will be taken as 2 messages:

[code]

The main issue is that leaves the message truncated.  In this example, the last paragraph and signature will be lost.

If the purpose is to only parse metadata, the approach is ok. Although there would not be reason to store the body of the

[2016-03-17 17:44] sduenas commented on #20
Yes, this is a known bug (see db40e3a6184d31e5ef8ccc7d3c5cd6a9b973b813). This is an error that comes from the current implementation of `mbox` in the Python's standard library.

https://docs.python.org/3.5/library/mailbox.html#mbox
https://github.com/python/cpython/blob/master/Lib/mailbox.py#L859

In `mlstats` we use another class to parse mbox files but it was removed in Python 3. I thought to co

[2016-03-17 19:35] jgbarah commented on #19
Using git log defaults (I guess that's diff.renameLimit = 1000):

[code]

Extending the limit to the maximum:

[code]

And disabling analysis of renaming:

[code]

Therefore, it seems that the default values are the best option for Perceval. Extending to the maximum makes things an order of magnitude slower for the Linux kernel. Removing renaming analysis doesn't improve the situation.

However, t

[2016-03-17 19:41] gpoo commented on #20
The same issue that in 2.x series for mbox. I thought you had solved it here :-)

I think the actual issue is not checking if the next line is a header. That would reduce the odds of having issues. Although, still it may fail in a discussion about email, if somebody pastes header + body as part of the text ;-)

[2016-03-17 19:59] jgbarah commented on #20
What about inspecting messages right after being identified as such by the mailbox library, looking for those mandatory headers? If those headers are not found, the message could be safely added to the body of the "previous" message, since it was not really a message.

I guess in the following code in perceval/backends/mbox.py

[code]

it would be a matter of, instead of continuing, adding to the

[2016-03-17 22:52] jgbarah opened #21 "^M) in git logs causing trouble"
In some messages from the Linux kernel git log, the following line appears:

[code]

That is, four spaces followed by ASCII 13, Carriage Return, a parenthesis and the end of line. See an example of a one-commit git log with one of these commits in
[linux-gitlog.txt](https://github.com/grimoirelab/perceval/files/178808/linux-gitlog.txt) (line 9 in that file).

The regex in perceval/backends/git.py

[2016-03-18 00:12] jgbarah commented on #21
After some more detailed inspection, the problem is not with the regex, but with the way the log file is parsed in lines. The code is [line 375 perceval/backends/git.py](https://github.com/grimoirelab/perceval/blob/master/perceval/backends/git.py#L375):

[code]

When getting the lines from the stream in the for loop, it seems that if the line includes CR, it is considered as two lines (one before

[2016-03-18 00:35] jgbarah commented on #21
I guess I found a fix. In Python3, there is an argument for open, which allows to specify the newline to use when splitting in lines. In perceval/backends/git, this is in line 147. The following text;

[code]

should be changed to:

[code]

That is, adding "newline = os.linesep". This parameter [specifies the characters to be used as newline](https://docs.python.org/release/3.2/library/functions.h

[2016-03-18 08:18] jgbarah commented on #21
I see that in other cases, the git backend is using "\n" instead of os.linesep for splitting in lines. So, maybe it would be better to either use always "\n", or always os.linesep.

[2016-03-18 11:02] sduenas commented on #20
The problem is there are messages that do not include some mandatory headers, such as `Message-ID`, but they are messages. This means you'll be joining two messages in one.

If you want I can have it a try to see if I can produce a PR for this...

That's my concern but if you find a clean way to do it, go ahead. Take into account that this is a problem related to the `mbox` format itself and for m

[2016-03-18 11:06] sduenas commented on #19
However, this could be a parameter to pass to Perceval/git, if the user is not interested in the default, but in a full analysis. If you want, I can produce a PR with a proposal for this change.

Ok, that makes sense. Go ahead with the PR.

[2016-03-18 11:10] sduenas commented on #18
My idea using `subrogateescape` was the same you can get with `blackslashreplace` but I didn't know the weird behaviour of store those characters inside the Unicode private area.

(1) sounds good but I have to find a way to make it clean because it can add more complexity to the code when it isn't really needed.

[2016-03-18 16:43] gpoo commented on #20
However, if the next line is **not a header** (`^\w: something`), we know that it is not a new message. If the next line looks like a header and it is not, well, you would discard it anyway with the current behavior.

It will fail in other cases, but not in the ones that people start a sentence with `From`.

And yes, the implementation of mbox in Python is naive, slow and bogus. It is unfortunate

[2016-03-18 20:21] gpoo commented on #20
I wonder how many mboxes out there do not have the fomat:

`^From\s[some text]\s\s[Date]$`

[2016-03-18 22:25] gpoo commented on #20
I took all my compressed files to compare false positives.

[code]

From some reason I did not investigate, zgrep's output included some lines without `'^From'`, so I cleaned them up:

[code]

From there, I explored which lines did not end on a year and did not have a time. I removed the ones with @, nobody, MAILER-DAEMON and ' at ', because those were repetitive.  And I checked them manually. I d

[2016-03-21 11:39] sduenas commented on #20
Thanks @gpoo. I will try the same with some sets.

In the meantime, do you know any other good mbox parser in other languages, like C, Java, Perl whatever? I'm curious to know how they fix this issue because I think it's a problem more related to the mbox format itself than to the parser. If someone fixed this in other languages we can apply the same techniques or even send a patch to the standard

[2016-03-21 14:12] #21 closed

[2016-03-23 11:12] brylie opened #26 "ImportError: No module named 'bs4'"
On a new Perceval installaiton, I get the following error when running the script:

[code]

It would be helpful to document the module requirements, so that users can be sure everything will work as expected.

# Reference
* [Installing Beautiful Soup](http://www.crummy.com/software/BeautifulSoup/bs4/doc/#installing-beautiful-soup)
* [Installing Python 3 pip on Ubuntu](http://askubuntu.com/a/506295

[2016-03-23 11:20] brylie opened #27 "ImportError: No module named 'dateutil'"
On a new Perceval installaiton, I get the following error when running the script:

[code]
When I attempt to install python3-dateutil, I get the following messages:

[code]

[code]
# Solution
I was able to fix this message by using the APT package:

[code]

[2016-03-23 11:27] sduenas commented on #26
The list of required modules is available in [requirements section](https://github.com/grimoirelab/perceval#requirements) of README.md and in [requirements.txt](https://github.com/grimoirelab/perceval/blob/master/requirements.txt).

The dependency with Beautiful Soup is there from the beginning of the project, I think :-)

[2016-03-23 11:27] brylie commented on #26
Cool, I overlooked the requirements, and had to figure out how specifically to install them.

[2016-03-23 11:31] sduenas commented on #26
Ok, I think we need to improve the documentation about dependencies installation.

I close this issue. Feel free to open a new one if you find new problems. Thanks.

[2016-03-23 11:31] #26 closed

[2016-03-23 11:41] brylie opened #28 "How to parse perceval output into valid JSON?"
The output of the `perceval git` command does not appear to be valid JSON. Rather, it is a series of objects, that are not comma delimeted:

[code]

How can we convert this output into valid JSON?

[2016-03-23 11:50] brylie commented on #26
Thanks @sduenas

[2016-03-23 11:51] brylie commented on #28
Our goal is to get this data into a JavaScript visualization framework or MongoDB document database, so valid JSON would be useful in the former case.

[2016-03-23 12:39] sduenas commented on #28
Perceval does not produce a JSON object. It generates a set of valid JSON objects. One JSON document per item.

We decided to follow this behaviour because Perceval does not wait to fetch and parse all the bugs - in your case - from a repository to return them. In some repositories, it can last hours. For this reason, as soon as it fetches and parses an item, it returns it into a valid JSON docume

[2016-03-23 17:03] gpoo commented on #26
@sduenas May be add an instruction about how to use `pip` to install the dependencies using the `requirements.txt` file.

[code]

Btw, the Readme states minimum versions for each module, but these versions are not in the `requirements.txt` file.

[2016-03-23 17:06] gpoo commented on #27
This is the same as issue #26

[2016-03-24 07:39] brylie commented on #28
Is there a script/example for streaming Perceval output into a JSON file or database?

[2016-03-24 08:20] acs commented on #28
I this use case you have samples for bugzilla and git using the p2o tool:

https://github.com/grimoirelab/use_cases/blob/master/documentfoundation/README.md#41-bugzilla

[2016-03-28 09:57] #27 closed

[2016-03-30 15:53] sduenas commented on #26
@gpoo I solved the problems that you mentioned here 7dac86f

[2016-03-30 17:30] gpoo commented on #26
There is a typo, also because I made it in my comment. It should be `requirements.txt` instead of `requirements`.

[2016-04-05 22:12] jgbarah commented on #28
@brylie Can we close this, or do you need further explanations?

[2016-04-05 22:33] jgbarah opened #32 "setup.py having UTF-8 characters causing trouble in readthedocs"
I see readthedocs is failing when processing the setup.py file:

[code]

The problem seems to be:

* For some reason, the default codec for readthedocs seems to be ascii instead of utf8
* There is a utf8 char in the perceval/_version.py file:

[code]

That seems to make the parsing fail when reading the file, if the default encoding is ASCII, which seems to be the case in readthedocs.

If you're h

[2016-04-06 08:27] brylie commented on #28
@jgbarah it is OK to close. However, this could be treated as a feature request. E.g. there could be a `perceval --toJSON` flag that, when used, writes a valid JSON file to disk, or that can be piped to another program

[2016-04-06 16:12] sduenas commented on #32
@jgbarah thanks for sharing it. I will remove the header from the file but I will also open the file as `utf-8` to avoid any future problems.

[2016-04-06 16:45] #32 closed

[2016-06-08 16:26] jgbarah opened #42 "[git] Option for backends.git.Git allowing for no automatic update of repo"
When working off-line, or when willing to exactly reproduce something that happened in a given repository, "as it is", it would be interesting having an option for backends.git.Git (or more likely for fetch, of that class) which doesn't retrieve new commits from the original repository before parsing the log.

I will produce a patch request about this when I have some time...

[2016-06-08 16:28] jgbarah opened #43 "[git] Option for backends.git.Git for parsing only some specific branch"
In some cases, it is convenient to parse only some specific branch, instead of all of them. It would be nice having that for backends.git.Git.fetch, probably as an additional argument.

I will produce a pull request for this whenever I have some time...

[2016-06-11 18:27] robinmuilwijk opened #44 "Python3 requests issue with Perceval"
When running a command on Perceval, I get errors where python requests: RuntimeError: [SSL: CERTIFICATE_VERIFY_FAILED] . My details are as follows.

Met setup: A Windows 10 machine, with latest Virtualbox, and Suse Leap 42. Python3 is installed with all the required extensions. So far, I only installed Perceval, to see how far I get with this.

I run the following command, which does provide feedb

[2016-06-11 18:42] gpoo commented on #44
In the same virtual machine, do you succeed to open https://github.com ? (that is, is the certificate verified as well?)

It seems to me there is a "Man in the Middle" issue (perhaps a proxy).

[2016-06-11 19:14] robinmuilwijk commented on #44
I can indeed open https://github.com, and can see the certificate is verified.

![unnamed](https://cloud.githubusercontent.com/assets/632615/15986995/7804aaa2-3019-11e6-8baa-edbc73924fdc.png)

[2016-06-11 19:16] robinmuilwijk commented on #44
I might try Python on Windows, and rule out the VM. I will let you know how that goes.

[2016-06-11 22:47] jgbarah commented on #44
Alternatively, you can as well set up a virtualenv environment for python3, and install requests in it (just to see whether that has to do with requests installation or not). See http://docs.python-guide.org/en/latest/dev/virtualenvs/

Given that this:

[code]

gives you the same error, we can discard that the problem is in Perceval, though. I'm labeling it as "question", therefore. In short, my g

[2016-06-12 06:00] robinmuilwijk commented on #44
The output of that last suggestion is as follows:

[code]

[2016-06-12 17:47] robinmuilwijk commented on #44
I was able to setup virtualenv. I also installed the required python modules. Running the requests.get in the python console now give me a response code 200. So the virtualenv does help here.

However, I keep getting an ssl error while running perceval:

[code]

This is running in env:

(tenv) root@osboxes:/home/osboxes/grimoire> pip list
beautifulsoup4 (4.4.1)
bs4 (0.0.1)
pip (8.1.2)
python-dateu

[2016-06-12 17:53] jgbarah commented on #44
I guess this (the output with "verify=False") confirms the problem. As you can see, if the certificate is not verified, requests.get() works. Therefore, I see two solutions here:

* You debug a bit more to see why requests is not verifying the certificate. That's likely due to some problem in the certificate you get (because there is some proxy or something, as @gpoo suggested) or to requests inst

[2016-06-12 17:56] robinmuilwijk commented on #44
Thanks, I will debug a bit more, and let you know any outcome here. If I keep getting stuck, I will move from the VM to Windows, and see how far I get on that.

[2016-06-12 17:57] jgbarah commented on #44
With respect to the virtualenv test:: no, it doesn't matter where is the perceval directory. The important thing is that it is run from an "activated" shell (one where you had previously run "source activate" for the virtualenv. From your log, it seems you did this.

Could you run the requests.get() test on https://api.github.io ? I mean, instead of get("https://github.io"), get("https://api.githu

[2016-06-12 17:58] jgbarah commented on #44
Hmmm. Another question: once you activated the virtualenv, and installed all requirements in it, did you install perceval in it as well?

[2016-06-12 18:00] robinmuilwijk commented on #44
I will run that requests to api.github.com. And no, I did not re-install perceval. I had that installed already and figured I should not re-install this inside the virtualenv.

[2016-06-12 18:02] jgbarah commented on #44
That would be certainly be a problem. You need to have everything in the virtualenv, and run perceval from there. But the perceval binary in your virtualenv. The other one is going to pull the systems libraries, which we already know have some trouble...

[2016-06-12 18:04] robinmuilwijk commented on #44
ok, I will install perceval inside the virtualenv.

By the way, the requests.get on api.github.com will give me a 200

[2016-06-12 18:05] jgbarah commented on #44
Good. That means that requests is working fine with api.github.io inside the virtualenv! Let's see what happens from perceval, but there should be no difference...

[2016-06-12 18:18] robinmuilwijk commented on #44
I changed /usr/lib/python3.4/site-packages/perceval/backends/github.py and added the verify=False to line 291 again. and:

2016-06-12 20:14:53,518] - Sir Perceval completed his quest.

I can see data being parsed with usernames I recognize, so it works from what I can see. Now on to setting up the dashboard part. Thanks for all the help so far.

[2016-06-12 18:21] robinmuilwijk commented on #44
Additional note; it actually runs outside the virtualenv, as long as I add verify=False to the  /usr/lib/python3.4/site-packages/perceval/backends/github.py

[2016-06-12 18:45] jgbarah commented on #44
OK. Great it works! However, probably it is better that you make work it from within the virtualenv, because:

* You don't need to add verify=False, which means the certificate would be checked, which means a person-in-the-middle attack to get your GitHub credentials is less likely.
* You don't have to monkey-patch Perceval each time you upgrade it...

[2016-06-12 18:45] #44 closed

[2016-06-13 11:22] sduenas commented on #44
@robinmuilwijk this is not related to your problem, but there's a bug in the GitHub and currently, user and password parameters are not used by this backend. The API token paremeter is available, though.

To create a token, follow the instructions on [GitHub](https://help.github.com/articles/creating-an-access-token-for-command-line-use/) and run Perceval as follows:

[code]

[2016-06-24 16:21] jgbarah commented on #28
I see. OK, I'm tagging this as "enhacement". @sduenas @acs what do you think? I could write the code, it is not that difficult, even for me ;-) And I agree that could be an interesting feature.

[2016-07-08 12:36] dpose opened #48 "[supybot] crash when text message begins with a single "*""
supybot backend fails when text message begins with a single "*"

(e.g.: '* dpose message like this')

I got this issue running 'perceval supybot --origin my_irc_channel #my_irc_channel/#my_irc_channel.2016-07-08.log'

Log format:
[code]

[2016-07-11 11:17] sduenas commented on #48
The messages that start with a single '*' are considered in IRC as actions. This is not supported in the current version of the parser. Let's fix it.

[2016-07-11 12:25] #48 closed

[2016-07-15 07:18] acs opened #50 "[gerrit] Bad query when filtering several reviews using blacklist option"
When executing gerrit backend with --blacklist option to filter reviews, these reviews are added to the ssh call as:

    blacklist_reviews = " AND NOT (%s)" % (','.join(self.blacklist_reviews))

and it must be

    blacklist_reviews = " AND NOT (%s)" % (' OR '.join(self.blacklist_reviews))

so the result is

    ssh -p 29418 XXXXX@git.eclipse.org gerrit  query limit:1 '(status:open OR status:clos

[2016-07-18 11:49] #50 closed

[2016-08-18 08:05] jsmanrique opened #53 "[github] Get information extra information about issues and pull requests"
It would be interesting having the following information from GitHub issues and pull requests:
- Comments (who, what, how many, etc.)
- Labels

[2016-09-01 16:45] crisbal opened #54 "[Mediawiki] Using --from-date on recent mediawiki versions results in a exception (UTC Format related)"
Hey there,

I want to report a bug:

Was testing perceval on our wiki project which uses mediawiki 1.27.

Passing the --from-data params with a timestamp crashes the script.

For example:

[code]

The problem is that newer mediawiki versions refuse to work with the formatted timestamp produced by python (https://phabricator.wikimedia.org/T144482)

It's an issue that mediawiki devs have to fix but

[2016-09-01 16:55] acs commented on #54
Hi @crisbal!

Could you paste the perceval command line you executed to get that error?

Thanks!

[2016-09-01 16:57] crisbal commented on #54
Ops, I forgot it! Sorry!

`perceval -g mediawiki  'http://meta.wikitolearn.org' --from-date '2015-06-01'`

[2016-09-02 16:01] albertinisg commented on #54
Hi @crisbal ! I've added a PR with a quick fix #55 . Checking it's phabricator ticket doesn't seems that it will be fixed in a short term of time, so better use one of the supported ones :smile:

Thanks for the report!

[2016-09-03 06:25] acs commented on #54
Ok, I see the problem. We must follow the format:

http://meta.wikitolearn.org/api.php?action=help&modules=main#main.2Fdatatypes

for the timestamp. Taking a look to the bug in MediaWiki you found, good catch

https://phabricator.wikimedia.org/T144482

it has received "Lowest priority" so we must fix it in our code. The fix is to not use timezone at all, ignore it and remove it, when we query Medi

[2016-09-05 08:53] acs commented on #54
I am sorry @albertinisg ... when I answered and created the PR for this issues I have not seen you response and PR, which are also valid. So I would apply your #55 PR. Thanks!

[2016-09-05 15:26] #54 closed

[2016-09-05 15:26] sduenas commented on #54
Fixed. Please update your repository to the latest version of master.

[2016-09-05 19:57] crisbal commented on #54
Thank you guys! Amazing work!

Keep up the good work, Perceval rocks!

[2016-09-09 16:30] dicortazar opened #57 "[mbox] Error when parsing a specific date"
I found the following error when parsing a mailing list file in mbox format.

[code]

[2016-09-09 17:01] jgbarah opened #58 "Error handlers for Perceval iterators"
Request:

Add a new option, when instantiating a Perceval iterator, to specify an error handler. This could be done similar to the `errors` parameter in [codecs](https://docs.python.org/3/library/codecs.html).

I would implement at least "strict" (which would always raise the exception, as it does now), "ignore" (which would ignore the item causing the  exception, and go on with the next one) and

[2016-09-09 17:29] sduenas commented on #57
This error is raised by `str_to_datetime` function from `perceval.utils` module.

The parser that we use to convert these strings to datetime objects fails when it finds something after the timezone numeric data. In this case with `CEST` substring. We had similar problem with parentheses (see 8735246751ddefd007d4dd647d3cbe7aeac6919e)

[2016-09-12 12:22] #57 closed

[2016-09-12 12:25] sduenas commented on #57
Fixed.

[2016-09-14 14:42] albertinisg opened #59 "[gerrit] Use native ssh python library"
Actually we are doing requests against Gerrit using sub-processes,  forcing the user to add private keys manually in the host.

Using a library like [paramiko](https://github.com/paramiko/paramiko) would allow us to add the key as a parameter for the back-end, and automatize the process.

[2016-09-14 15:00] albertinisg opened #60 "[gerrit] Use URL as a positional argument"
As the URL is a mandatory field for the back-end, it should be a positional argument like did in the other ones.

[2016-09-20 09:24] dicortazar opened #63 "FilePath not stored in some cases such as merges"
There are commits like merges whose log contains information about the filepath but this filepath is not displayed by Perceval.

This commit: https://kernel.googlesource.com/pub/scm/linux/kernel/git/davem/net-next/+/8cbdd85bda499d028b8f128191f392d701e8e41d . In this commits Perceval only stores the number of added and removed lines, but not the filepath.

[commit_8cbdd85bda499d028b8f128191f392d701

[2016-09-20 15:06] #60 closed

[2016-09-20 15:06] #63 closed

[2016-09-20 15:07] sduenas commented on #63
Fixed.

[2016-09-20 15:07] sduenas commented on #60
Fixed.

[2016-09-21 13:17] acs opened #64 "[phabricator] Maniphest items don't include tags"
In the tasks retrieved by the current phabricator backend for maniphest items (tasks), the tags linked to the task are not included.

[2016-09-21 14:45] sduenas commented on #64
What do you mean exactly? In Maniphest, tasks can have tokens, flags and projects (aka tags). None of these are retrieved. Which one do you want to be retrieved?

[2016-09-21 15:03] acs commented on #64
@sduenas changed flags for tags in the ticket subject. Tags is the missing piece to know in which tags/projects are tasks.

[2016-09-24 07:56] jsmanrique commented on #53
Any insights about how this can be done?

[2016-09-25 18:57] #64 closed

[2016-09-26 11:33] sduenas commented on #53
@acs any idea about when we can include this feature?

[2016-09-26 14:38] acs commented on #53
@jsmanrique @sduenas we just need to prioritize it. It should not be that hard to implement.

[2016-09-27 07:20] jsmanrique commented on #53
ASAP?

[2016-09-27 08:15] acs commented on #53
Ok, in the kitchen now waiting for its turn. Stay tuned.

Labels are already included now:

https://github.com/grimoirelab/GrimoireELK/blob/master/tests/data/github.json#L184

[2016-10-03 15:26] jsmanrique opened #71 "python3-setuptools requirement seems to be missed"
[code]

I've installed it with `apt` and after that, Perceval installs perfectly

[2016-10-03 15:53] jsmanrique opened #72 "Parsing webkit-dev pipermail, all items before Oct. 2007 collapse in one month"
After running:
[code]

I get posts older than Oct. 9th 2007 set to `grimoire_creation_date` as Oct. 9th, 2007

![kibana-webkit-dev-mls](https://cloud.githubusercontent.com/assets/1178305/19043819/0986fabc-8992-11e6-8819-efa705ad1f67.jpg)

[2016-10-03 18:07] sduenas commented on #72
This is not a bug on perceval. Please open it in GrimoireELK.

[2016-10-03 18:07] #72 closed

[2016-10-04 12:46] shongoku commented on #71
Hello jsmanrique,

Have you installed the setuptools before?

sudo apt-get install python3-setuptools

[2016-10-04 14:18] jsmanrique commented on #71
No, I installed them after the `ImportError`.

[2016-10-04 14:19] shongoku commented on #71
And after does work it?

[2016-10-05 07:41] jsmanrique commented on #71
Yes, that's why I've opened the bug. You need to have python3-setuptools installed before installing perceval, and I don't see it in the 'requirements'

[2016-10-06 14:00] acs opened #73 "git backend fails to parse date"
Trying to analyze the https://github.com/kennethreitz/requests git repository with the perceval git backend it fails because problems in the formatting of a date.

[code]

[2016-10-10 15:26] #73 closed

[2016-10-10 18:14] acs opened #74 "Problem parsing dates in pipermail"
[code]

[2016-10-11 21:22] shongoku commented on #71
I sent a new pull request to add the setuptools framework in requirement.txt file. I hope this change fix the problem

[2016-10-11 21:27] shongoku opened #76 "Problem with pip in installation"
If I do the steps as README.md tell me, when I run "pip install -r requirements.txt" It don't work because I need pip3 instead of pip.
The correct would be:

pip3 install -r requirement.txt

[2016-10-11 21:39] shongoku opened #77 "failed Tests"
I've checked the tests and often a lot of then fail. Is it normal?

[2016-10-11 21:49] acs commented on #77
Test are run by travis everytime a commit is done or a PR is requested. Right now tests are ok as you can see from:

https://travis-ci.org/grimoirelab/perceval

How are you running the tests?

[2016-10-11 21:56] shongoku commented on #77
I run the run_tests.py
For example:
josemi@josemi-VirtualBox:~/perceval/tests$ python3 ./run_tests.py
EEE.....EE........EEEEEEEEEEEEEEEEE

[2016-10-12 02:39] acs commented on #77
@shongoku try to execute a single backend tests to get in the output the error. For example:

    ~/devel/perceval/tests $ python3 ./test_remo2.py

I am pretty sure that your problem is that you need to install httpretty for testing.

[2016-10-12 15:00] shongoku commented on #77
Yes, it is. A problem is that I must install httppretty. If it is necessary the httppretty tool, don't we put in requirements.txt file?
Other problem is:

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/urllib3/connectionpool.py", line 560, in urlopen
    body=body, headers=headers)
  File "/usr/lib/python3/dist-packages/urllib3/connectionpool.py", line 379, in _make_requ

[2016-10-12 20:47] acs commented on #77
@shongoku how did you get the last error?

[2016-10-12 21:01] shongoku commented on #77
System: Ubuntu desktop 16.04.1 64 bits under VirtualBox

I got it:

josemi@josemi-VirtualBox:~/perceval/tests$ python3 run_tests.py
.........................................................................E.EE.E.................................................................................E..E.......................................................E..E..E...E.E
Stderr:
WARNING:perceval.backends.m

[2016-10-19 16:42] acs opened #80 "phabricator backend broken for new phabricator versions"
After upgrading our phabricator site when I try to use the perceval backend:

[code]

[2016-10-19 17:06] sduenas commented on #80
I reproduced the same error. It is a problem related with the way that parameters are given to the `Conduict` client. `constraints` parameter does not accept a list any longer, it accepts now a dictionary.

[2016-10-19 18:17] #80 closed

[2016-10-20 12:00] acs opened #81 "remo2 backend is not installed"
When executing:

`(acs@dellx) (master $% u=) ~/devel/perceval $ sudo python3 setup.py install`

remo2 backend is not installed

[code]

Probably is related with the fact that remo and remo2 both have the class

`class ReMo(Backend):`

and the automatic detection of backend classes does not support it.

[2016-10-20 12:23] acs commented on #81
Strange:

perceval remo
perceval remo2

both of them works .... so I need to research more about this ticket. Maybe it is just a bug showing the list of perceval backends available.

[2016-10-20 12:52] sduenas commented on #81
The list of backends that `help` option shows is not generate on the fly. It is hardcoded.

[2016-10-20 13:21] acs commented on #81
@sduenas  fixed in: https://github.com/grimoirelab/perceval/pull/82

[2016-10-22 07:28] acs opened #83 "In task transactions use tags names"
In the phab maniphest task transactions the values that appears for tags (projects) are:

[code]

It will be great to have the human names for these tags, like it is done in projects array data.

[2016-10-23 13:52] shongoku opened #84 "pip3"
If Perceval uses Python 3.4 or later, doesn't is use pip3 instead of pip?
I think we must change the README.md file.

[2016-10-24 12:18] sduenas commented on #84
Duplicated of #76

[2016-10-24 12:18] #84 closed

[2016-10-24 12:19] #71 closed

[2016-10-24 12:19] #76 closed

[2016-10-28 10:15] dicortazar opened #88 "[jira] Not clear error when running wrong URLs in Jira"
Hi,

I've tried to run Perceval on Jira. After a while I realized that the error was related to a wrong URL I was using.

However, the error is not captured and it's not clear what that means until you use the debug mode in Perceval. I would expect some clearer message error without using the debug option.

Error and how to reproduce this:

[code]

[2016-10-28 10:19] dicortazar opened #89 "[jira] The Jira backend starts from the newest issues instead of starting from the oldest ones"
Hi!

I've been playing with the Jira backend of Perceval. I noticed that this starts from the newest issues instead of starting to retrieve information from the oldest ones.

As the incremental support relies on the last date, this means that there's not an actual incremental support for Jira if the connection drops (but this may work if everything's working fine).

How to reproduce the error:

``

[2016-10-28 11:21] sduenas commented on #89
I've checked that the items are returned without an specific order. For instance, after running that command, I got this sequence:
[code]

[2016-10-28 12:20] #89 closed

[2016-11-07 18:50] MishiR opened #90 "Query on tool functionality"
Is there is a feature in this tools that links the mailing list data with the contributors working on the piece of code. For instance, a contributor is working on file A and he asks a question on file A in mailing lists. Linking of the mailing list with the file.

Thanks in advance!

[2016-11-08 00:11] sduenas commented on #90
No. Perceval does not do anything regarding to your question. You will have to do it manually.

[2016-11-08 00:11] #90 closed

[2016-11-08 09:47] maelick commented on #77
I have the exact same errors on Debian Jessie.

[2016-11-08 09:59] sduenas commented on #77
@maelick are you using Python 3.5 too?

[2016-11-08 10:07] maelick commented on #77
No 3.4.2

[2016-11-08 10:36] sduenas commented on #77
@maelick It's weird. Tests on Travis are using the same version of Python that you're using.

Are all the errors `http.client.LineTooLong` exceptions? Do you mind to paste her the full tests output?

[2016-11-08 10:49] maelick commented on #77
@sduenas It's quite long so I put it in the following gist: https://gist.github.com/maelick/81619ccbba64fc54729300c4d9f74b01

[2016-11-08 15:09] maelick opened #91 "Bugzilla and datetime_to_utc"
In the REST backend for Bugzilla, the from_date parameter is converted to UTC while it isn't in the CGI version. Is there any particular reason for that?

(See https://github.com/grimoirelab/perceval/blob/4ebe6f596386d265e86d76dce1a442521e7f7caf/perceval/backends/bugzillarest.py#L373
and https://github.com/grimoirelab/perceval/blob/81c4eb56f5bacfb5f46a6e18ccd736f70343b96f/perceval/backends/bugzill

[2016-11-08 16:25] sduenas commented on #91
Yes, there is. When using the CGI to fetch bugs, Bugzilla server does not support timezones. The server expects that every given date is on its same timezone (the timezone of the server). For instance:

* This one will raise an error:
[code]
* These two return the same results event when one of them is in UTC:
[code]

There is a bug open regarding to this problem: https://bugzilla.mozilla.org/show

[2016-11-09 08:34] maelick commented on #91
This actually caused the Bugzilla backend to loop infinitely when trying to fetch bugs from repositories hosted in America, such as the one from Mozilla. For example yesterday running
`perceval -g bugzilla "https://bugzilla.mozilla.org" -o out --from-date 2016-11-01`
gave the following kind of output https://gist.github.com/maelick/47ad9ef52f4f53563475c11dd2301ee1

I also tried (before) to use the

[2016-11-09 11:45] sduenas commented on #91
Yes, this is a known bug and that's the reason why we decided to add `bugzillarest` backend. The server works that way (it's a bug, IMHO) and I didn't find a way to make `bugzilla` backend work.

If `bugzillarest` fails, you can resume the work taking the last item it generated, convert the `updated_on` value (it's in Unix time) to a valid datetime (i.e http://www.epochconverter.com/), and using t

[2016-11-15 07:10] acs opened #92 "The items perceval timestamp should be in UTC"
https://github.com/grimoirelab/perceval/blob/master/perceval/backend.py#L194

I think we need to change:

                    'timestamp' : dt.now().timestamp(),

with:

                    'timestamp' : dt.now().utctimestamp(),

What do you think @sduenas ?

[2016-11-15 09:55] sduenas commented on #92
I agree but the call should be `dt.utcnow().timestamp()` not `dt.now().utctimestamp()` :-)

[2016-11-15 10:32] #92 closed

[2016-11-15 10:38] sduenas commented on #77
I still don't know what is going on. It seems something related to `httpretty` library but I'm not sure.

@maelick, @shongoku, which version of `httpretty` are you using? Are you running Perceval in a virtual machine?

[2016-11-15 10:44] maelick commented on #77
@sduenas 0.8.14, the latest from PyPI. No VM for me.

[2016-11-15 10:58] sduenas commented on #77
I found the problem. Running the tests with httpretty 0.8.14 makes them fail, while using version 0.8.6 (the one I have on my computer and on Travis) produces a successful result.

[2016-11-15 12:28] sduenas commented on #77
I traced the bug and I noticed that it is fixed on master (see https://github.com/gabrielfalcao/HTTPretty/commit/7935ab4bd3288129136fbc890ba5e55a8f34609f). A new release will fix this error.

[2016-11-23 16:48] iganchevup8 opened #94 "Undeclared dependency on install"
While installing perceval, some dependencies were installed (requests, beautifulsoup, etc).

After installing and launching the software I had the following issue:
`Import error: no module named configparser`

After installing python-configparser the program works smoothly. Is there a need python-configparser to be added as a dependency during installation?

[2016-11-24 09:32] sduenas commented on #94
`configparser` is part of the [Python standard library](https://docs.python.org/3/library/configparser.html) so you shouldn't need to install it. In CPython, you can find the module [here](https://github.com/python/cpython/blob/master/Lib/configparser.py).

Are you running Python 3.4 or greater? This module was first included in Python 3.2, I think. Before it was called `ConfigParser` (at least in

[2016-11-24 10:07] iganchevup8 commented on #94
In fact I didn't pay attention that I was using python 2.7. With python 3.5 everything runs smoothly. Sorry about that.

[2016-11-24 10:07] #94 closed

[2016-11-27 23:22] acs opened #95 "Parsing error with Askbot backend"
[code]

[2016-11-28 13:32] #95 closed

[2016-11-28 13:33] sduenas commented on #95
Fixed. Newer versions of askbok do not include that attribute within comments information.

[2016-11-28 14:28] iganchevup8 opened #96 "Supported URLs for bugzilla"
Please consider this as a question/feature request.

Of what I understand with using the bugzilla backend, it looks for an URL of the style: https://bugzilla.organization.org/. It doesn't support URL schema as the following: https://bugzilla.organization.org/buglist.cgi?product=project. Is my understanding correct?

If this is the case, it would be nice to support also the mentioned URL schema. Of

[2016-11-28 19:56] MishiR opened #97 "Structure of table extracted in Git"
I have used git to retrieve commit data. Are there any documents that explain the structure of the table. What information is extracted in "Action" field is recording?

[2016-12-01 10:44] sduenas commented on #96
Well, this is a topic that comes from time to time in the internal development of Perceval backends: whether support or not different filters than `--from-date` or `--offset` for each backend. We consider that a filter is a thing like _product_ or _module_ in Bugzilla, or a _page_ in Mediawiki and so on.

In my opinion, we should support them soon but I still don't know how soon. It has the benefi

[2016-12-01 10:49] sduenas commented on #97
There aren't tables on Perceval. Data is printed out to the standard input. If you want to know which information is fetched you can either run Perceval and check the output or visit the parser used on Git.
https://github.com/grimoirelab/perceval/blob/master/perceval/backends/core/git.py#L294

[2016-12-01 10:49] #97 closed

[2016-12-09 18:12] #81 closed

[2016-12-09 18:13] acs commented on #74
Any updates on this @sduenas ?

[2016-12-13 16:46] bvasiles opened #99 "perceval.errors.RepositoryError: [Errno 2] No such file or directory: 'git'"
Hi,

I have a `git` log file in `/tmp/gitlog.log` and I'm running `sudo docker run --rm -it --name perceval -v ~/.perceval/cache:/root/.perceval/cache grimoirelab/perceval:latest git /tmp/gitlog.log`.

It fails with the following trace:
[code]

[2016-12-13 17:30] sduenas commented on #99
The way to run this backend with a log file is as follows:

[code]

For your case, you have to replace `<logpath>` by `/tmp/gitlog.git`, and `<uri>` with anything you want, for instance with the path to that Git repository or with its URL. This `<uri>` won't be used during the fetching process but to tag those items fetched from the log file.

[2016-12-13 17:54] bvasiles commented on #99
Exactly the same error when I run `sudo docker run --rm -it --name perceval -v ~/.perceval/cache:/root/.perceval/cache grimoirelab/perceval:latest git --git-log /tmp/gitlog.log [path to git repo on disk]`

[2016-12-13 18:22] acs commented on #99
@bvasiles I think that "/tmp/gitlog.log" does not exists inside the container. You should copy it to the container (docker cp) or map it with "-v" as you did for the perceval cache.

[2016-12-13 21:19] bvasiles commented on #99
@acs Good suggestion! Unfortunately that doesn't solve it. It still fails with the same error when I run `sudo docker run --rm -it --name perceval -v ~/.perceval/cache:/root/.perceval/cache grimoirelab/perceval:latest git 'https://github.com/grimoirelab/perceval.git' --from-date '2016-01-01'`

[2016-12-14 10:00] albertinisg commented on #99
@bvasiles the issue was simpler, git package was not available inside the container :see_no_evil:. It was used to install perceval and then purged to decrease the image size. I've just made a PR with the fix.

Also, as the `git` backend does not uses cache but `repositories`, I would suggest to map the whole `.perceval` directory instead of just the cache:

[code]

[2016-12-14 10:26] #99 closed

[2016-12-14 10:31] sduenas commented on #99
@bvasiles it should be fixed with the latest version of the Docker image. You can build one on your own or wait for DockerHub build gets completed.

[2016-12-14 21:45] bvasiles commented on #99
Thanks everyone! Should we update the documentation [here](https://github.com/grimoirelab/perceval/tree/master/docker/images)?

[2016-12-22 16:18] sduenas commented on #99
@bvasiles you're totally right. @albertinisg can you update the information related to docker support?

[2016-12-22 16:19] #77 closed

[2016-12-22 16:21] sduenas commented on #43
Enhancement supported since #45 was merged.

[2016-12-22 16:21] #43 closed

[2016-12-23 10:59] albertinisg opened #102 "[git] Error when trying to fetch an empty repository"
I've found that in `git` backend, when trying to fetch an empty repository, it returns the following error:
[code]
I know that it doesn't makes sense to fetch an empty repository, but we don't know when it's going to have information so in my opinion we still need to track it. Maybe a warning instead of error?

[2016-12-26 19:05] SaadBinShahid opened #103 "[mbox] not fetching the messages."
I'm trying to get all the mails at http://mail-archives.apache.org/mod_mbox/httpd-dev/
But the output is **Done. 0/0 messages fetched; 0 ignored**

[code]

Please guide me.

[2016-12-26 20:07] acs commented on #103
@SaadBinShahid perceval mbox backend needs direct access to the mbox files. It seems that the archives in http://mail-archives.apache.org/mod_mbox/httpd-dev do not include the raw mbox files. Are these raw mbox files available in someplace?

[2016-12-26 23:56] sduenas commented on #103
@SaadBinShahid You are using the wrong backend. To fetch messages from Apache's mod_mbox interface (that it is based on pipermail) use the pipermail backend as follows:

[code]

[2016-12-26 23:56] #103 closed

[2016-12-28 14:32] albertinisg opened #104 "[pipermail] Certificate verification error with some lists"
When trying to fetch some pipermail archives, a certificate error is returned during the handshake:
[code]
Something similar happened with Jira's backend, so there I've implemented an option to enable [insecure requests](https://github.com/grimoirelab/perceval/blob/master/perceval/backends/core/jira.py#L435) or add a valid [PEM key](https://github.com/grimoirelab/perceval/blob/master/perceval/back

[2017-01-04 11:06] albertinisg opened #105 "[git] Error when trying to fetch a repo in 'detached HEAD' state"
When trying to fetch a `git` repo in 'detached HEAD' state, it returns the following error:
[code]

[2017-01-11 10:04] shongoku commented on #16
Other backends occurs the same. I have a fork for windows. You can download in
github.com/shongoku/perceval
The correct branch is windows.

[2017-01-12 17:47] #102 closed

[2017-01-12 17:48] sduenas commented on #102
Fixed!

[2017-01-16 22:21] acs opened #107 "git backend is not working after empty repositories change"
[code]

The problems seems to be related with the is_empy checking:

https://github.com/grimoirelab/perceval/blob/master/perceval/backends/core/git.py#L709

[code]

The repository is not empty but has 0 objects.

[2017-01-16 22:25] acs opened #108 "Add perceval current version to command line help"
It could be pretty useful that when you execute "perceval -h" the current version of perceval is included in the help.

[2017-01-16 22:31] acs commented on #107
I have tested it also with git version 2.1.4 and the same error occurs.

[2017-01-17 00:13] sduenas commented on #107
This is weird because it is something relate to the URL you are using. If you try with https://github.com/grimoirelab/perceval.git (adding the .git suffix), it works.

[code]
This one is using https://github.com/grimoirelab/perceval
[code]

[2017-01-17 00:30] sduenas commented on #107
Reading the documentation, `git count-objects` only returns the number/size of objects that aren't unpacked. I misunderstood it. I thought it counted both. The command should be called in verbose mode `-v` which returns more info including the size/number of packed objects:

[code]

[2017-01-17 11:23] #107 closed

[2017-01-19 05:46] acs opened #109 "When using the perceval cache no connection should be created from the backend"
Ideally, when working with perceval caches, it should work offline.

[2017-01-19 05:46] robinmuilwijk opened #110 "pip install perceval 0.5.0 keeps version on 0.4.0"
Hi,

A question. I already asked on Twitter yesterday (https://twitter.com/jgbarah/status/821836366656995333) I had some problems updating perceval through pip. I was trying to install/update to the latest release 0.5.0. but instead it only updated to 0.4.0.

I did this with: $ sudo pip3 install perceval --upgrade

You fixed the pip package. After that I ran the upgrade again, and the terminal out

[2017-01-19 10:43] acs opened #111 "bugzillarest must use api token for auth"
The current implementation in the bugzillarest for login:

https://bugzilla.mozilla.org/rest/login?login=user_login&password=XXXXXXX

does not work anymore.

requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: https://bugzilla.mozilla.org/rest/login?login=user_login&password=XXXXXXX

The backend shall use api tokens.

[2017-01-19 10:52] sduenas commented on #111
Bugzilla REST backend makes use of api tokens since de beginning. Instead of passing user and password, just set the token with `-t, --api-token` arguments.

In any case, I've checked the output of the login URL with a browser and the output returned by the server is:

[code]

We have to mange this error better to let the users know that they need to use the api-token instead of the user/password

[2017-01-19 11:02] sduenas commented on #110
@robinmuilwijk, I didn't find any problem installing 0.4.0 and upgrading to 0.5.0.

Maybe you have several versions of Perceval installed on the same system. You can check if the version that your system is using by default matches with the one installed by pip. First, on a terminal run:

[code]

It should return the path to the `perceval` command.

You can also check which packages Python is usin

[2017-01-19 11:17] acs commented on #108
It is already included in:

[code]

[2017-01-19 11:17] #108 closed

[2017-01-19 12:01] robinmuilwijk commented on #110
Thanks for looking into this, and the feedback. I will test it as soon as possible. I followed the gitbook by Jesus for the installation. As far as I know, I should just have one instance of perceval, in a virtual python env. I'll let you know once I have tested and ran all the commands you suggested.

[2017-01-19 17:32] jgbarah commented on #110
Hi, @robinmuilwijk, if you're installing with

[code]

maybe you're not using the virtualenv (at least for that). In short, when you're "sudoing", you're executing as root, not as you. Instead, I would update perceval as:

[code]

The first `perceval --version` should show `0.4.0`(assuming you hadn't upgraded it yet), and in any case, the second one should show `0.5.0`.

Would you mind trying that

[2017-01-19 20:19] robinmuilwijk commented on #110
Thank you! That did the trick indeed. Not sudoing, but simply using: $ pip3 install perceval --upgrade

If I now run: $ perceval --version, I get 0.5.0 as output.

Thanks so much for the help. On with the quest to complete the dashboard.

[2017-01-19 22:41] jgbarah commented on #110
Great! I'm closing this, then.

[2017-01-19 22:41] #110 closed

[2017-01-24 16:18] acs opened #113 "Error trying to use bugzillarest backend with https://bugs.documentfoundation.org/"
After collection around 400 bugs this error appears:

[code]

[2017-01-24 17:20] sduenas commented on #113
Funny bug. The error says that there is an invalid date in the timezone.
[code]

I think it should be relate to the internal date assigned to a bug because if I try with a different offset, the query works:

[code]

[2017-01-24 18:03] sduenas commented on #113
It seems is an error from the server and the solution is not clear.

https://bugzilla.mozilla.org/show_bug.cgi?id=980299
https://bugzilla.mozilla.org/show_bug.cgi?id=734825

I close it because the error is not on Perceval's side. In any case, I will improve the code to show the real message sent by the server.

[2017-01-24 18:03] #113 closed

[2017-01-24 18:25] #111 closed

[2017-01-25 13:16] sduenas commented on #99
@albertinisg I've just merged your PR (#112) regarding the change on the volume path. In any case, you still have to update the documentation to update the contents of the package. I think it includes now Git.

[2017-01-26 01:16] pkudigra opened #114 "NotImplementedError intermittently."
I have a shellscript that activates perceval and then obtains commits for a number of projects and stores it in a file for further processing. During the running of the script I get a 'NotImplementedError' for some of the projects though others work fine. Furthermore, this behavior seems inconsistent because projects that I could obtain commits for in the previous run sometimes give this error whe

[2017-01-26 09:43] albertinisg opened #115 "Set up .gitattributes file to ignore test files from language stats"
Actually the repository language is detected as `HTML`, but the tool is all made with `python`. Having a look at the files, all of the `HTML` files are placed under the path `tests/data` so, teorically, adding the file `.gitattributes` and the following sentence:
[code]
would fix the stats as documented in https://github.com/github/linguist#troubleshooting

[2017-01-26 09:50] sduenas commented on #114
May you post here that script? I can't determine what it is going on without more information. I can figure you are using the cache mode for any reason which in git it is not supported but I have to get more info to know where the problem is.

[2017-01-27 06:30] pkudigra commented on #114
I am not using docker but the python virtualenv (I followed the instructions here - https://www.gitbook.com/book/jgbarah/grimoirelab-training/details). This is the script I am using and it's pretty basic -

`#!/bin/bash

if [[ $# -ne 2 ]]; then
    echo "Wrong number of input arguments"
    exit 1
fi
input_file=$1
lang=$2
IFS=","
mkdir $lang
mkdir ~/Project/$lang/logs
echo "Making directory $lang

[2017-01-27 12:05] #115 closed

[2017-01-27 14:46] acs-test opened #116 "Gerrit backend must use 'number' instead 'id' as unique identifier"
The id is the Change-Id, the identifier of the change, but the same change could be used in different reviews.
For example, all this reviews have the same id but different number:

https://gerrit.opnfv.org/gerrit/22009
https://gerrit.opnfv.org/gerrit/22007
https://gerrit.opnfv.org/gerrit/21997

[2017-01-27 17:38] sduenas commented on #116
:+1:

[2017-01-27 19:21] #116 closed

[2017-01-30 13:30] sanacl commented on #114
hi @pkudigra ! thanks for your bug report.

I've just reproduced the error, have a look at the execution below. The bad new is it does not happen always.

- I've installed in my debian 8.x system with "python setup.py install"
- version 877be8336becb13d7fccda72d9171578bb49130b

[code]

[2017-01-30 15:50] sduenas commented on #114
As I can see, perceval is accessing an old version of the backends. Backends are now installed under `perceval/backends/core` directory but it is taking them from `perceval/backends/`.

[2017-01-30 15:53] sanacl commented on #114
@albertinisg found an installation error:
- I've deleted the python package with pip and check the dir is correctly removed
- installed again using setup.py
.. and this is the result:

[code]

[2017-01-30 16:20] sduenas commented on #114
@lcanas Looks like you have some deprecated files inside `dist` directory on your copy of perceval repository. You can clean this directory either removing it or running `setup.py clean --all`.

[2017-01-30 16:21] sduenas commented on #114
@pkudigra are you using Perceval's pip package? Looks like this package is broken because it installs deprecated files.

[2017-01-30 16:26] pkudigra commented on #114
Thanks for your help and yes, I installed perceval using pip. What is the recommended method of installation?

[2017-01-30 16:42] sduenas commented on #114
@pkudigra as long as the package is broken I suggest to install cloning the repository and running  `setup.py`. You have more info [here](https://github.com/grimoirelab/perceval/#source-code).

[2017-01-30 17:57] SaadBinShahid opened #118 "mbox backend fails to parse date"
mbox backend fails to parse date. I see the same issue raised for git backend.

git backend fails to parse date #73 @ https://github.com/grimoirelab/perceval/issues/73

Can you please fix it.

Stacktrace ;

[code]

[2017-01-30 18:01] sduenas commented on #118
Which version of perceval are you using? This was fixed with 7ffa5de39d18a35945cccaaa04f5228f47cfa3ee

[2017-01-30 18:27] SaadBinShahid commented on #118
I'm using 0.4.0. I updated it to 0.6.0.dev1. It's my understanding that at the time of the bug fix the version is 0.6.0.dev1. @ https://github.com/grimoirelab/perceval/blob/7ffa5de39d18a35945cccaaa04f5228f47cfa3ee/perceval/_version.py

After updating I get **ImportError: No module named 'perceval.backends.pipermail'**;

[code]

I also tried 0.5.0, which does not give ImportError. But the date bug

[2017-01-30 18:34] SaadBinShahid commented on #118
ImportError fixed by changing ;

[code]

To

[code]

So is the date issue.

--------

**Solution: Update perceval version to  0.6.0.dev1**

[2017-01-30 18:37] sduenas commented on #118
You should remove the contents from `build` directory in your `perceval` repository copy. When you run `setup.py` it creates that directory. The problem is that it stores old versions of the files. Clean that directory running : `./setup.py clean --all` should fix the problem the next time you install from sources.

See my comment here too. This problem is related to a deprecated version with the

[2017-01-30 19:12] SaadBinShahid commented on #118
ValueError: offset must be a timedelta strictly between -timedelta(hours=24) and timedelta(hours=24).

[code]

[2017-01-31 00:09] sduenas commented on #118
To fix this I need to know which mbox you are analyzing. I guess either `dt` or `from_date` are wrong datetimes.

[2017-01-31 11:27] albertinisg commented on #105
Not sure if it's the same issue but, among the huge list of CodeAurora repositories, I've found many of them with a similar behavior:
[code]
See the list here: https://github.com/Bitergia/projects-linuxfoundation/blob/master/projects.json#L4478

[2017-02-01 08:32] jgbarah commented on #105
Just to clarify, why is the git repo in detached state?

Besides, this is when running Perceval on a fresh repo (fresh after cloning the repo), or after the repo has been updated (after git fetch; git merge (or git rebase)).

Another one: this is running Perceval for the first time in the repo, or running it for a subsequent run, when Perceval itself tries to sync the repo?

[2017-02-01 10:38] albertinisg commented on #105
There are several use cases. The first example, shows a repository in detached state because there are lo branches:
[code]
Another example is this other repo. When we clone it, it seems to be empty:
[code]
But the information is inside the remotes:
[code]
This happens on fresh repositories, and also running Perceval for the first time in the repo.

[2017-02-01 12:47] jgbarah commented on #114
I've created a new perceval pip package that should fix the issue. Please, in the same virtual environment (or in one afresh), run:

[code]

And let us know if that fixes the issue.

Since this package is still labeled as a dev version, it is not installed by pip by default, that's why you need the `==0.6.0.dev1` thing. It it fixes this issue, we will upgrade it to a stable release asap.

[2017-02-01 12:51] jgbarah commented on #118
With respect to

@SaadBinShahid please open a new issue, to follow it there, since this doesn't seem to be related to the issue reported here.

[2017-02-01 12:55] jgbarah commented on #118
WRT to the importing of the modules, you are right @SaadBinShahid. I updated the training docs reflecting this for git, and will do for mbox asap. Thanks for reporting.

WRT versions, yes, 5.0.0 causes problems, see #114. If 0.4.0 causes trouble to you, yes, you should use 0.6.0.dev1, and yes, in that case you should use the import line you mention. A 0.6.0 release is on its way.

Since it seems t

[2017-02-01 12:55] #118 closed

[2017-02-01 15:58] SaadBinShahid commented on #118
I wrote a patch for the problem I mentioned above, how to I contribute that ?

[2017-02-01 18:55] SaadBinShahid commented on #118
Quick start for contributing @ http://perceval.readthedocs.io/en/latest/contributing.html

[2017-02-01 22:32] pkudigra commented on #114
Yes, the script works perfectly with the new package and doesn't generate the error. Thanks!

[2017-02-02 00:14] sduenas commented on #105
The tool crashes when tries to make a `git rest` to `origin`. This command is called after a `fetch` and it is needed to keep up to date the repository. For any reason, `origin` reference is ambiguous, so it fails.
On detached states, it is not needed to reset the repo.

[2017-02-02 00:33] sduenas commented on #105
@jgbarah after reading some posts about git and how cloning works, what leads to a detached state is the `checkout` that `git clone` does once it has fetched data from the remote repository. The last step in a `clone` is a checkout to stablish a local branch.

This local branch is set to anything `HEAD` refers on the origin repository. It can refer to a branch or a commit. When it points to a comm

[2017-02-02 10:53] #114 closed

[2017-02-02 11:06] #105 closed

[2017-02-02 15:51] jgbarah commented on #114
Great! I just released a package for 0.6.0, anyway.

[2017-02-22 21:45] ghost opened #119 "GitLab issues, wiki, CI support"
_(Sorry if I missed this already planned somewhere.)_ I wonder if there's any possibility to add support for [GitLab](https://about.gitlab.com/) collaborative features (beyond just the git repos):

- CI / Runner
- Issues
- Merge requests
- Wiki

[2017-02-23 11:30] sduenas commented on #119
It's in our plan but I can't estimate when it will be. The GitLab API is so similar to GitHub one, so it won't be difficult to have it soon but we need to improve the GitHub backend first.
In any case, we will keep you posted about this.

[2017-03-06 05:08] acs opened #122 "[bugzilla] Cache file is not created if only a partial number of items is read"
If you ask for items to the bugzilla backend and you don't fetch all of them, the cache file is not written.

Tested with a modification version of perceval command line tool with an extra option to limit the max number of items to be read:

[code]

The problem is that the cache is flushed once all issues from a query are processed:

https://github.com/grimoirelab/perceval/blob/master/perceval/bac

[2017-03-06 09:13] sduenas commented on #122
I think you are doing something wrong:

[code]

[2017-03-06 10:50] #122 closed

[2017-03-08 11:36] albertinisg opened #123 "[supybot] Error when generating uuid with forbidden characters"
The line that leads into the error is the following:
[code]
And the trace-back:
[code]
Launched with the latest version available.

[2017-03-08 16:35] #123 closed

[2017-03-13 12:19] albertinisg opened #126 "[meetup] Handle Rate Limit doing retrieving Meetup groups"
Seems requests go way too fast retrieving items, and the retrieval leads into a `429` error sometimes.

An approach could be handling the `X-RateLimit-Remaining` and as soon as it gets over, sleep the process for the amount of seconds in `X-RateLimit-Reset`.

Traceback error:

[code]

[2017-03-17 10:24] #126 closed

[2017-03-17 10:26] sduenas commented on #126
This is fixed now but I would like to change the code that manages this part, making it more generic. I used the same code we have in GitHub backend. This code has some problems but it is enough for now to make it work.

[2017-03-23 19:06] albertinisg opened #128 "[rss] Retrieval of RSS site returns forbidden without user-agent header"
Trying to fetch an RSS feed returns a `403 forbidden` error:
[code]
But the site is reachable using `curl`:
[code]
So if we do the request with the `python requests` library, the error still appears:
[code]
But works if we add the `user-agent`:
[code]

[2017-03-26 13:05] albertinisg opened #131 "[git] Backend fails fetching git repository without branches (but with tags)"
The repository doesn't have any branches or log, but contains information in tags:
[code]
Perceval traceback:
[code]

[2017-03-27 10:48] #128 closed

[2017-03-27 12:08] jsmanrique commented on #119
Hi @downeym, I think @jgbarah has been working in something for it

[2017-03-27 21:50] jgbarah commented on #119
Hi, @downeym

For issues and (partially) merge requests, there is some support in https://github.com/jgbarah/perceval/tree/gitlab

It is almost functional, but I couldn't write the tests, and propose a pull request to upstream Perceval. Besides, maybe now would need some update.

I have it in my todo list, but not that high nowadays, sorry...

In any case, help is welcome ;-)

[2017-03-29 12:34] albertinisg opened #132 "[gerrit] Error retrieving version every first time"
I've been checking that every first time we try to retrieve gerrit information using ssh, perceval will fail. Having a look into it with @sduenas, the following approach http://askubuntu.com/questions/87449/how-to-disable-strict-host-key-checking-in-ssh can avoid this check.

We could implement this as a parameter in perceval, so the user can disable the `host key checking` or not.

[2017-03-30 14:17] jsmanrique opened #133 "[github] Parameters might be wrong in the README file"
In README says:

[code]

It doesn't work for me. `owner` and `repository` are positional arguments. It seems it should be:

[code]

[2017-03-30 14:59] #133 closed

[2017-04-03 09:11] acs commented on #132
Implemented in:
https://github.com/grimoirelab/perceval/pull/134

[2017-04-04 11:42] #132 closed

[2017-04-05 10:21] albertinisg opened #135 "[supybot] Display the file being analyzed when ParseError happens"
Actually when a `ParseError` occurs while reading a set of files in supybot,  it's a bit difficult to find which file is failing with the actual log messages.

Including the file where the error happens in the log message would help us to find the file failing way easier.

[2017-04-06 09:03] #135 closed

[2017-04-06 09:11] sduenas commented on #131
I can't reproduce the error with this repository. Looks like, the repo has changed somehow
[code]

@albertinisg do you have any other repository like this?

[2017-04-06 09:47] albertinisg commented on #135
Thanks @sduenas !!

[2017-04-09 23:33] heatherbooker opened #136 "Can MBox python module fetch mailboxes?"
I'm wondering if using the MBox module in python (as seen in example at bottom of page [here](https://jgbarah.gitbooks.io/grimoirelab-training/perceval/mail.html) is capable of fetching remote resources, or does it ignore the uri it is given? Since the comment in the example says "you need to have the archives to analyzed there[in dirpath] before running the script", but if that's the case, why do

[2017-04-10 12:20] albertinisg commented on #131
I've been checking but couldn't find any... :cry: I will reopen it if I find another case.

[2017-04-10 12:20] #131 closed

[2017-05-04 10:07] sduenas commented on #136
The URI is used to set the origin of the data you get from that MBox.

Each item generated by Perceval has an origin (you can find it at the top level of each item as `origin`). It is also used to generate a unique identifier for each item (field `uuid`).

As an URI can be an address to a HTTP resource, or to a FTP, or a link on the filesystem, or any other thing, we decided MBox backend will only

[2017-05-04 10:08] #136 closed

[2017-05-10 19:08] kapilt opened #139 "Gitter import/index stats support"
we've got a few open source projects using bitter as their primary communication means with the community it would be nice to be able to bring stats on that into grimoire

[2017-05-10 19:45] acs commented on #139
@kapilt could you provide the main URL for bitter project? Is it open source? Could you provide a list of open source projects using it? Thanks!

[2017-05-10 20:26] sanacl commented on #139
@acs it seems to be Gitter

[2017-05-12 12:22] kapilt opened #140 "GitHub pull project traffic"
this is slightly different then some of the other feeds, which are resource based, where this one is a moving window on a time series,  it may require some notion of incremental state, as its a trailing two week view.

https://developer.github.com/v3/repos/traffic/

[2017-05-13 02:19] kapilt commented on #139
re api https://developer.gitter.im/docs/welcome

[2017-05-16 03:59] acs commented on #139
Hmmm, reading https://en.wikipedia.org/wiki/Gitter it seems the product will be «open source under an MIT License no later than June 2017» thanks to GitLab adquisition of it. @kapilt it is a pretty interesting project but right now we have no demand for it so there are not plans to implement a perceval backend in the short term.

[2017-05-16 15:43] acs commented on #140
Hmmm you need an access token with push permission over the repository to be analyzed. And also the entries returned by the API are not time based so it is not direct howto build a history for this data. Not sure how we can incorporate this information historically as in the other backends for perceval.

[2017-05-29 11:52] sduenas opened #141 "Docker image is broken since grimoirelab-toolkit is a dependecy"
Since release `0.8`, Perceval depends on https://github.com/grimoirelab/grimoirelab-toolkit/ . The docker image does not include this library, so it is broken.

[2017-05-29 13:40] acs opened #142 "Support DockerHub official repository names using "_" as owner"
In docker hub the official docker repositories have a shorter URL to access them. The complete one is:

https://hub.docker.com/_/nginx/

The complete URL, which should be:

https://hub.docker.com/library/nginx

does not work.

So it is expected that perceval users try:

`perceval dockerhub _ nginx
`

which should be implemented like:

`perceval dockerhub library nginx
`

[2017-05-29 15:13] #142 closed

[2017-06-27 13:49] phillipfurtado opened #144 "RuntimeError when retrieving gerrit data."
Perceval 0.7.0 and master branch - Python 3.5.2+ Ubuntu 16

Hi, could you plz help me with this error.

user@VirtualBox:~/apps/grimoirelab$ /home/user/.local/bin/perceval -g gerrit --user user 'X.X.X.X' --from-date '2017-01-01'
[2017-06-27 09:43:15,458 - root - INFO] - Sir Perceval is on his quest.
[2017-06-27 09:43:15,461 - perceval.backends.core.gerrit - DEBUG] - Getting version: ssh -p 29418 us

[2017-06-27 14:46] sduenas commented on #144
Can you add the next snipped to the `gerrit.py` source code?.  (starts in line 93). Then run the tool with the same parameters and paste the output. I need to check what it's stored in the review that makes the process fail.

[code]
You can find the module under `perceval/backends/core/` directory.

[2017-06-27 15:24] phillipfurtado commented on #144
[2017-06-27 11:10:53,714 - perceval.backends.core.gerrit - INFO] - Received 12 reviews in 0.21s
[2017-06-27 11:10:53,715 - perceval.backends.core.gerrit - DEBUG] - {'number': 12, 'createdOn': 1497470585, 'owner': {'name': 'XXX', 'email': 'XXX@mail.com', 'username': 'xxx'}, 'project': 'project', 'commitMessage': 'teste\n\nChange-Id: XYZ\n', 'lastUpdated': 1498069411, 'id': 'XYZ', 'url': 'http://X.X

[2017-06-27 16:14] #144 closed

[2017-06-27 16:16] sduenas commented on #144
@phillipfurtado it should be fixed now but you have to install perceval from master.

More info here: https://github.com/grimoirelab/perceval/blob/master/README.md#source-code

[2017-06-27 17:01] phillipfurtado commented on #144
Thanks! It's working!

On Tue, Jun 27, 2017, 12:16 Santiago Dueñas <notifications@github.com>
wrote:

--

Phillip Furtado

[2017-07-01 10:31] kapilt commented on #140
entries from the api are time based.. of the four, views and clones include time period which can be set to day,  referrers and paths reflect a period = now()-timedelta(14).

[2017-07-13 23:24] jgbarah opened #146 "Please bump _version.py to an stable version"
I would like to update pip packages, but for that I need a stable version in perceval/_version.py.

[2017-07-17 17:33] sduenas commented on #146
Done. Version updated to 0.9.0.

[2017-07-17 17:33] #146 closed

[2017-08-31 07:24] jsmanrique commented on #53
@acs, when labels info is added?

Still missing comments authors info I think. Correct me if I am wrong

[2017-08-31 09:34] acs commented on #53
@jsmanrique comments are not included yet in the enriched index.

About the labels, taking a look to the github enricher:

https://github.com/grimoirelab/GrimoireELK/blob/master/grimoire_elk/elk/github.py#L323

The labels are included in this field.

[2017-08-31 09:38] jsmanrique commented on #53
AFAIK the number of 'comments' are part of raw data. I suppose each time you ask for the raw data, you get the latest number of comments for each issue.

I think we are mixing raw data extraction and data enrichment.

[2017-08-31 09:57] acs commented on #53
I am always talking about the enriched data. In the raw data I am not sure if the comments for each issue/pr are included, or we need to add an extra step to collect this information and include it in the raw data.

[2017-08-31 10:12] jsmanrique commented on #53
Yes, that's something to discuss, but it might be interesting, at least, to know:
* people opening issues/pr (already included)
* people commenting issues/pr (not done yet)
* number of comments by each person in each issue/pr

[2017-09-04 14:57] dpose opened #149 "Perceval is not able to read the .gitconfig file"
I'm trying to run perceval to collect data from a private repository but perceval is asking me for username:password although they are set as global configuration for git on the host.

It is due to perceval is not using any path as HOME and it can't find the file where the configuration of git is saved (.gitconfig).

[2017-09-04 15:31] acs opened #150 "[discourse] Error in __parse_topics_page because a None date"
Trying to collect the discourse information from https://discourse.mozilla.org/ the next error appears:

[code]

[2017-09-05 10:48] acs commented on #150
This issue is fixed with:

https://github.com/acs/perceval/commit/2c86d7efd6a33d45790256a01ab7ea3ee110826e

[2017-09-08 11:13] valeriocos commented on #53
Hi @acs @jsmanrique @sduenas
GitHub includes different kinds of comment somehow related to an issue. The way to fetch them (all together or separately) is something that should be discussed.

For instance if you look at #120, you will see that:
issue comments are at https://api.github.com/repos/grimoirelab/perceval/issues/120/comments
review comments are at https://api.github.com/repos/grimoirelab

[2017-09-11 15:41] #150 closed

[2017-09-13 09:55] sduenas opened #155 "Collect GitHub reactions"
Issues should include reactions data.

https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments
https://developer.github.com/v3/reactions/

Take into account due to it is still in preview, the API may change.

https://developer.github.com/changes/2016-05-12-reactions-api-preview/

[2017-09-13 10:01] sduenas opened #156 "Support Launchpad"
Launchpad is a web application and website that allows users to develop and maintain software, particularly open-source software. It is developed and maintained by Canonical Ltd. source.

The task aims to create a backend which fetches bugs from this web site. There is a [backend](https://github.com/MetricsGrimoire/Bicho/blob/master/bicho/backends/lp.py) already developed for Bicho but it used the

[2017-09-13 10:02] valeriocos commented on #53
The github backend is now able to fetch issue comment data (see PR #152)

[2017-09-15 08:45] #155 closed

[2017-09-15 21:41] hmitsch commented on #155
This is awesome! Can somebody help me understand when this will become available to Mozilla's Community Analytics instance? When will we be able to see Github reactions in our data?

[2017-09-18 08:59] #149 closed

[2017-09-19 15:00] jsmanrique commented on #155
It's an on-going process @hmitsch.

Once Perceval is able to gather the data to include them as part of the raw data from github, GrimoireELK should be able to handle them to include relevant information in the enriched index ([issue 98 in GrimoireELK repo](https://github.com/grimoirelab/GrimoireELK/issues/98)).

Once the data are in the enriched index, the panels team would need to update current

[2017-09-19 20:00] hmitsch commented on #155
Very helpful. Thank you @jsmanrique!

[2017-09-19 21:52] jgbarah opened #160 "Support GitHub v4 API"
There is a [new GitHub API](https://githubengineering.com/the-github-graphql-api/), based on GraphQL ([documentation](https://developer.github.com/v4/)). For some of the stuff Perceval does, it could be more appropriate than v3 (which is the one we're currentĺy using).

Besides, there is at least one Python package, [graphene](http://graphene-python.org/), which could help a lot with the implement

[2017-09-22 04:45] acs opened #162 "Add an option to GitHub backend to avoid getting comments and reactions"
Now that the github backed collects comments and reactions in the issues, the rate limit needed to analyze a github repository has increased significantly.

For example, a small repository like the perceval one  with <100 issues (https://github.com/grimoirelab/perceval/issues)  now needs around 1500 queries to the GitHub API. So the analysis of large repositories could be pretty slow.

A possible

[2017-09-25 21:02] acs opened #165 "[git ]--latest-items fails in the second retrieval for a repository"
The first collection of a git repository using "--latest-items" flag works.

[code]
But the second time (and the next ones) it fails:

[code]

[2017-09-26 15:04] acs opened #167 "[git] Can not analyze a git repository and its submodules"
Analyze the global git repository (https://gerrit.wikimedia.org/r/mediawiki/extensions)

[code]
Analyze a submodule git repository (https://gerrit.wikimedia.org/r/mediawiki/extensions/AbsenteeLandlord )

[code]
The problem is that the collection for the git repository with submodules (https://gerrit.wikimedia.org/r/mediawiki/extensions) creates empty directories for all the submodules (exteranal g

[2017-09-26 16:04] acs commented on #162
Great @valeriocos to reduce the number of queries to the GitHub API! This is critical in large repositories.

[2017-09-27 11:24] valeriocos commented on #162
Instead of adding an option, we can see how to optimize the number of requests to the GitHub API (as we did with reactions in pull request #163)

[2017-09-27 11:24] #162 closed

[2017-09-27 11:44] sduenas opened #168 "Optimize the number of calls to the GitHub API"
Since comments and reactions were added to the backend, the number of requests made to the GitHub API has increased, making slower the fetching process. Moreover, the rate limit decreases faster.

To optimize the usage of the API, we can do something similar as in #163.

[2017-09-27 11:46] sduenas commented on #162
The rationale behind closing this ticket is we don't want to have first class items. All items of the same category (in this case, GitHub issues) must contain the same information.
There are better ways to handle the calls to the API. See #163.

We will continue working on this issue in #168

[2017-10-07 14:41] #156 closed

[2017-10-09 16:20] acs opened #174 "[mbox] UnicodeDecodeError: 'ascii' codec can't decode byte"
To reproduce the bug:

[code]

[2017-10-09 18:22] acs opened #175 "[launchpad] Add sample execution to README.md"
https://github.com/grimoirelab/perceval/blob/master/README.md

lacks the sample on howto execute launchpad.

[2017-10-09 18:23] acs commented on #175
Also, in  `perceval -h`  it does not appears in the list of backends.

[2017-10-10 14:27] #174 closed

[2017-10-11 12:24] albertinisg opened #178 "[phabricator] Error retrieving Phabricator issues"
I did launch perceval (latest version) against our phab instance and got the following error:
[code]
Can you have a look?

[2017-10-11 17:02] valeriocos commented on #178
The issue appears when retrieving projects information associated to a task, for instance in:
- https://phabricator.bitergia.net/T2810
- https://phabricator.bitergia.net/T287

As can be seen from the examples above, one project has restricted access. Thus it seems that the issue is  related to the permission granted to the token used to fetch the data.

[2017-10-15 21:05] acs commented on #178
@albertinisg could you retry with the master version of perceval that now includes the @valeriocos fix?

[2017-10-16 10:48] acs opened #180 "[confluence] Error fetching data from https://wiki.open-o.org"
[code]

It seems that the content does not exists.

[code]

This fail makes the collect of data to fail after this entry.

[2017-10-16 13:33] zhquan opened #181 "[askbot] Exceeded 30 redirects"
When perceval try to collect the question on http://ask.projectatomic.io/ we have the following error
[code]
On http://ask.projectatomic.io/ we have two questions without a topic, so maybe that is the problem

[2017-10-16 13:45] albertinisg commented on #181
To reproduce:
[code]

[2017-10-16 17:34] acs opened #183 "[meetup] Meetup rate limit exceeded; 4.0 seconds to rate reset"
It seems that the Meetup API has a new restriction not supported by the current perceval backend.

[code]

[2017-10-16 19:13] albertinisg commented on #178
It works. Thanks @valeriocos !!

[2017-10-16 19:13] #178 closed

[2017-10-19 07:40] acs commented on #183
There is a flag to sleep when the rate is exhausted:

[code]

This fixes then issue, Probably this flag should be enabled by default. In any case, I will close this ticket. Thanks @valeriocos for detecting this config option!

[2017-10-19 14:28] valeriocos commented on #160
Graphene seems to be used more on the server side (build/test APIs with GraphQL). Conversely, calls to GitHub v4 API are made using common HTTP requests which contain in their payload GraphQL code.

I've played a bit with the new API and pushed some examples at [github-v4-playground](https://github.com/valeriocos/perceval/blob/github-v4-explore/tests/test_github_v4.py)

As a first impression, the

[2017-10-24 12:30] #175 closed

[2017-10-24 19:27] TheReal1604 opened #187 "Perceval crashing on reactions"
[code]
Installed perceval like documented from source code, any idea what is going wrong?

[2017-10-24 19:56] valeriocos commented on #187
sure @acs

[2017-10-24 21:18] valeriocos commented on #187
@TheReal1604 thanks for reporting the issue.
If you provide a token, you will be able to extract the reactions smoothly.

[2017-10-25 06:48] TheReal1604 commented on #187
Good to know! Thanks for the hint. I try it again with a token next time. 😜

[2017-10-25 08:09] #187 closed

[2017-10-25 17:41] #181 closed

[2017-10-25 17:45] sduenas commented on #181
Fixed by #182

[2017-10-30 10:15] acs commented on #180
@valeriocos the issue could not be reproduce anymore, so probably it was fixed in the upstream server. So I close this issue and if the error reappears, I will create a new one. Thanks!

[code]

[2017-10-30 10:15] #180 closed

[2017-10-30 23:09] jsmanrique opened #191 "RepositoryError: git command - fatal: unable to generate diffstat"
Steps to reproduce the issue:
[code]

Error message:
[code]

Perceval version:
[code]

[2017-11-03 11:53] #96 closed

[2017-11-03 11:55] #141 closed

[2017-11-06 22:48] albertinisg commented on #183
Even using the flag, the issue happens:
[code]

[2017-11-07 00:42] acs commented on #183
@valeriocos could you take a look?

[2017-11-07 08:04] valeriocos commented on #183
sure @acs

[2017-11-07 08:41] valeriocos commented on #183
I've prepared a fix (similar to what has been done for throttled requests in Github). However, I'm not able to replicate the error (I have tried to call the Meetup backend on **oc-rust**).
Could you confirm that the Meetup group is **oc-rust** or tell me the group where the error happens?

Thanks

[2017-11-07 09:09] albertinisg commented on #183
We are fetching many groups at the same time, afaik, iteratively; but @acs should confirm how this is implemented in GELK. Find the full list of groups [here](https://github.com/Bitergia/projects-mozilla/blob/master/projects.json#L3001) (I was unable to reproduce just with perceval either)

[2017-11-07 09:45] albertinisg opened #197 "[jenkins] Connection timed out issue"
Getting Jenkins data from https://build.opnfv.org/ci/ we are getting connection timeout issues many times:
[code]
I did speak with @acs as I thought that GELK should be aware of handling this kind of issues, but it seems impossible:

[2017-11-07 09:48] sduenas commented on #183
@valeriocos maybe you should try with different instances of perceval running at the same time to reproduce the error. The solution would be to stop the execution for some secs.

In any case, @albertinisg, you should control how many instances of perceval you run at the same time fetching data from Meetup. Do not overhead their system, please.

[2017-11-07 09:51] sduenas commented on #197
@valeriocos can you have a look to this? Same logic used in other clients would be valid for this backend too.

[2017-11-07 12:07] #165 closed

[2017-11-07 13:04] acs commented on #165
Great! Time to do a quick test:

(acs@dellx) ~ $ perceval -g git --latest-items http://gerrit.onap.org/r/vvp/postgresql
[2017-11-07 14:02:11,895 - root - INFO] - Sir Perceval is on his quest.
[2017-11-07 14:02:11,897 - perceval.backends.core.git - DEBUG] - Running command git clone --mirror http://gerrit.onap.org/r/vvp/postgresql /home/acs/.perceval/repositories/http://gerrit.onap.org/r/vvp/postgr

[2017-11-07 16:39] jgbarah opened #201 "[jira] Weird field for sprint name"
When agile SCRUM is activated in Jira, one of the fields that is produced (labeled as a custom field) is the one with the name (well, more like thee profile) of the sprint. It looks like this:

[code]

Notice the weird encoding for field `value`. Shouldn't it be like the following?

[code]

If this is the way to go, let me know, and I can try to produce a patch.

[2017-11-07 18:48] valeriocos commented on #201
It seems that the content of the first "value" is a serialized Java object. I have tried to use [javaob](https://pypi.python.org/pypi/javaobj-py3/) but I didn't succeed. So I have made a simple converter that seems to work (maybe it can be useful for you).

[code]

[2017-11-07 21:56] jgbarah commented on #201
Thx a lot, @valeriocos! The problem is I'm not sure if we should parse this in Perceval or in GrimoireELK... For now, I'm adding the code to GrimoireELK (well, a part of it, since I only need some element, for testing the panel that I need. We can discuss later if pull requesting Perceval or GrimoireELK... (pulling @acs in, by the way, to have his opinion).

[2017-11-08 09:18] sduenas commented on #201
I don't think this should be parsed by Perceval. This field is related with a JIRA plugin, which is very specific.

[2017-11-08 10:04] zhquan opened #202 "[git] --latest-items is not working for an empty repository"
Empty repository (https://github.com/cncf/multi-cloud-provisioner.git) with --latest-items
[code]
Empty repository (https://github.com/cncf/multi-cloud-provisioner.git) without --latest-item
[code]

[2017-11-08 10:33] albertinisg opened #203 "[nntp] Datetime error"
We are getting the following datetime error with the `nntp` backend:
[code]

[2017-11-08 11:38] #197 closed

[2017-11-08 11:40] sduenas commented on #197
It should be fixed now. The solution was to resend the request but maybe this doesn't fix the problem propertly because it might be a problem in the server, that lasts too long generating the response.

Feel free to reopen it if the problem persists.

[2017-11-08 11:54] zhquan opened #204 "[meetup] Too Many Requests"
[code]

[2017-11-08 12:01] sduenas commented on #204
This is the same as #183. Closing it as duplicated.

[2017-11-08 12:01] #204 closed

[2017-11-08 18:46] #183 closed

[2017-11-09 12:03] jgbarah commented on #201
ok. I will follow up in GrimoireElk then. Thanks!

[2017-11-09 12:03] #201 closed

[2017-11-14 12:11] #202 closed

[2017-11-15 14:00] jsmanrique commented on #191
It seems to be solved in latest release! Thanks!

[2017-11-15 14:00] #191 closed

[2017-11-15 22:00] acs opened #209 "[pipermail] Compressed file ended before the end-of-stream marker was reached"
Trying to analyze the pipermail url:

[code]

Not sure if there is a corrupted file in the archive, or there is a problem downloading it.

Checking the downloaded files:

[code]

[2017-11-17 13:32] #203 closed

[2017-11-22 11:02] sduenas opened #210 "Fetch process fails when `latest-items` is set and 'git://' protocol is used"
This error can be reproduced after `perceval` runs successfully the first time. The second time, when `latest-items` flag comes in play, the library is unable find the service.

Some examples:

* OpenEmbedded
[code]

* Perceval
[code]

This bug is related to grimoirelab/grimoirelab#39

[2017-11-22 12:12] sduenas commented on #210
This exception is raised because the url used to initialize the `dulwich` client client is wrong.

[2017-11-22 13:05] #210 closed

[2017-11-28 10:47] albertinisg opened #216 "Jenkins errored fetching "status_code""
Forwarded from https://github.com/grimoirelab/grimoirelab/issues/44

Got the following traceback with the following repo: https://jenkins.opendaylight.org/releng:
[code]
Using release `elasticgirl.23`

[2017-11-28 10:48] albertinisg opened #217 "Git data is not being collecting due to "Error in the pull function""
Forwarded from https://github.com/grimoirelab/grimoirelab/issues/43

Data collection is not working for the following repo: https://git.opendaylight.org/gerrit/dlux. I've got the following error:
[code]
Also digging in the logs, I found this other one:
[code]
Using release `elasticgirl.23`

[2017-11-28 17:18] sduenas commented on #216
The real error couldn't be reproduced. @valeriocos has fixed the `status_code` error instead.
We will close this because with the generic client we're developing this error should be fixed. Feel free to reopen it if you find it again.

[2017-11-28 17:18] #216 closed

[2017-11-29 16:59] hisi91 opened #221 "AttributeError: class Backend has no attribute '__subclasses__'"
I can't run my command line, I got this error every time I run this line:

Traceback (most recent call last):
  File "/home/spark/anaconda/bin/perceval", line 193, in <module>     main()
 File "/home/spark/anaconda/bin/perceval", line 100, in main
    _, PERCEVAL_CMDS = perceval.find_backends(perceval.backends)
  File "/home/spark/anaconda/lib/python2.7/site-packages/perceval/backend.py", line 425

[2017-11-30 09:34] sduenas commented on #221
Perceval doesn't run with Python 2.7. It's Python3. Your problem is related to that. Classes in Python2.7 don't have that method, by default.

Make sure you install and run it using Python3.

I close it as invalid.

[2017-11-30 09:34] #221 closed

[2017-11-30 17:40] canasdiaz opened #229 "Gerrit incremental mode is not working when process is interrupted"
Current Gerrit data collection gets data from newest to oldest so if the process is restarted there is no way to know whether there is a gap with changesets to be retrieved. This error leads us to bizarre scenarios, where the #op guys have to check whether gerrit is running or not before stopping a container.

Not having a gerrit data collection that supports to be restarted without having everyth

[2017-12-01 09:29] Neppord opened #234 "Perceval git tryes to spawn sh on windows."
running `perceval git <repo>` gives this error on windows.

[code]

This is the version installed with pip, perceval 0.9.6.

[2017-12-01 10:58] sduenas commented on #234
I'm sorry but `perceval` isn't fully supported on Windows yet.

In any case, I think this is related to your Git installation. Have you checked this [post](https://stackoverflow.com/questions/10574267/cannot-spawn-ssh-when-connecting-to-github-but-ssh-t-gitgithub-com-works) in Stack Overflow?

You can also run perceval inside a docker container, if the problem persists. There's more info [here](ht

[2017-12-01 12:46] albertinisg opened #242 "[bugzilla] Table of bug activity not found"
The retrieval was stopped due to the following issue:

[code]

Using `elasticgirl.23`

[2017-12-01 13:51] sduenas commented on #242
Do you have more info? Which bug did it fail? Which other bugs was it fetching before it failed?

[2017-12-01 13:57] sduenas commented on #229
In gerrit is not possible to retrieve items from `oldest` to `newest`. As far as I know, the gerrit interface doesn't provide that option. That's why `has_resuming` is set to `False` for this backend.

The only chance to return items in that order is to fetch all items first and then, return them backwards. But in most of the cases this is not possible because memory restrictions, among other prob

[2017-12-04 13:07] albertinisg commented on #242
This is all the output I could get :cry:

How can I see which bug failed?

[2017-12-05 08:26] albertinisg opened #243 "[perceval-client] 406 Not acceptable URL"
Using the latest perceval version 17d9cb891fed0c5cf584d9a370021ef48190115c, it returns 406 Not acceptable URL for DockerHub and JIRA:

[code]

EDIT: same behavior in JIRA backend:
[code]

[2017-12-05 09:38] albertinisg opened #244 "[meetup] Negative sleep length"
With the latest version, perceval complains about negative sleep length value. Traceback:
[code]

[2017-12-05 10:07] valeriocos commented on #243
I'm not able to replicate the error in my machine.
I found an [issue](https://github.com/misja/python-boilerpipe/issues/24) similar to the one you are reporting, the 406 error may be related to a problem in the user-agent header. Thus, I've just sent a PR (#245) which sets the user-agent header to the format for automated agents.

[2017-12-05 10:28] albertinisg opened #247 "[meetup] Too many 429 responses"
Using the latest version, seems we are analyzing too many groups for Meetup, and perceval can't handle all the error responses returned. See the following traceback:
[code]

[2017-12-05 15:10] valeriocos commented on #247
The best option at the moment is to play with the **sleep-time** parameter and find an optimal value to get rid of the 429 HTTP error. In the next days, I'll do some tests to identify a good value for **sleep-time**, but I need to know if the token is used by more than one perceval at the same time.

[2017-12-07 08:50] valeriocos commented on #242
I'm not able to reproduce the bug. It may be possible that it has been fixed in the upstream server.

[2017-12-11 12:59] valeriocos commented on #247
Perceval is already doing the best effort reissuing requests in case of connection failures, but it cannot be tailored to specific service limitations (like the meetup API).
This seems to be an issue related to scheduling, because you are running several Perceval processes at the same time. Thus, it should be handled by the components dealing with it (Arthur, Mordred, etc.).

[2017-12-11 12:59] #247 closed

[2017-12-11 13:00] valeriocos commented on #247
@acs, do you have any idea to handle this issue?

[2017-12-11 19:22] #244 closed

[2017-12-13 16:06] #243 closed

[2017-12-15 08:55] jsmanrique opened #254 "[launchpad] Retrieval stops after HTTPError: 404 Client Error: Not Found for url"
Trying to collect data for Ubuntu, I get a 404 from one of the *repositories*.

I am using:
* perceval 0.9.5
* launchpad backend version 0.1.0

The code I am running is:
[code]

After a while, the error message I get is:
[code]

[2017-12-18 10:47] #254 closed

[2017-12-18 11:39] sduenas opened #257 "find_backends does not find MBox derived backends"
The function `find_backends`doesn't find backends derived from `MBox` class.

[code]

But it finds their commands classes
[code]

[2017-12-18 13:14] sduenas commented on #257
The bug can be found how `find_backends` searches for classes derived from `Backend`. It uses `__subclasses__()` method but this method only returns direct subclasses; grandchildren classes are not returned.

[2017-12-18 16:22] #257 closed

[2017-12-21 21:34] albertinisg opened #260 "[git] --latest-items fails in the first retrieval for a repository"
The first collection of a git repository using "--latest-items" doesn't work:
[code]
But it works without the flag:
[code]

[2017-12-21 23:30] sduenas commented on #260
Running it in debug mode, we can see the command is failing is `git show-ref`

[code]
If we run this command, we can see it returns `1` as error code. According to the [documentation](https://git-scm.com/docs/git-show-ref#_example), this error code is returned when no references match with the input. In this case, that means there aren't  `refs/heads` nor `refs/tags` references.

[code]

[2017-12-22 15:27] albertinisg opened #261 "[meetup] Backend doesn't fetch existing events for some groups"
Lately I had the feeling that we were not retrieving all the events, and I thought it was due to the rate limit. Today I did checked some groups and found that, even if the group exists, is reachable and contains events, perceval does not get any. The following group https://www.meetup.com/Blockchain-Meetup-Freiburg for example, contains some, but running with perceval:
[code]

[2017-12-22 16:45] sduenas commented on #261
Looks like a problem of their API. When `draft` status is using as filter it causes to get an empty list of events.

I filed a bug report on their tracker. More info here: meetup/api#260

[2017-12-26 11:41] sduenas opened #262 "Local repositories cloned into a wrong directory"
When a local Git repository is analized by Perceval, the directory where is cloned is created inside the local repository.

In the next example, the repository is wrongly cloned in `/tmp/no_refs_bare/-git`.

[code]

[2017-12-26 15:45] #260 closed

[2017-12-26 19:13] sduenas opened #264 "Git gets stuck in fetch_pack when a big number of references is sent"
Running Perceval with some repositories that contain many references makes the process idle.

[code]

In this case, the `fetch_pack` function in `dulwich` sends 5313 lines of `have` and `wants` commands.

[code]

[2017-12-27 10:32] acs opened #265 "[crates] Default value of None to sleep_time when using CratesCmd"
[code]

and it never restarts.

The workaround now is to pass a value for the param:

`(acs@dellx) ~ $ perceval -g crates --sleep-time 10
`

[2017-12-27 10:39] sduenas commented on #265
That backend is not part of this repository. Open it in `perceval-mozilla`.

[2017-12-27 10:39] #265 closed

[2017-12-27 10:40] acs commented on #265
https://github.com/grimoirelab/perceval-mozilla/issues/13

[2017-12-27 15:50] sduenas commented on #260
Fixed

[2017-12-27 17:04] #264 closed

[2017-12-27 17:34] #261 closed

[2017-12-27 17:36] sduenas commented on #261
This was partially fixed in #267. It removes the draft status but the bug is still open in Meetup. We will reopen this as soon as it gets fixed in Meetup API.

[2018-01-02 13:56] #262 closed

[2018-01-02 15:14] #242 closed

[2018-01-03 16:30] valeriocos commented on #119
Hi @downeym

https://github.com/grimoirelab/perceval/pull/252 provides supports for GitLab issues, notes and their emojis. This backend should be integrated soon to the codebase

[2018-01-03 16:44] downeym commented on #119
Great news. Thanks for the update!

[2018-01-06 20:11] TheReal1604 opened #270 "Perceval runs in error - GitHub rate limit and exiting"
Calling Perceval via p2o.py:

`python3 p2o.py --debug --index github-data --github-token <my-token> github grimoirelab perceval`

perceval doesn't wait for the rate limit and exit with the following error:

[code]

Any suggestions? :)

[2018-01-07 10:23] valeriocos commented on #270
Hi @TheReal1604, you should add the parameter _--sleep-for-rate_ (which allows the fetch process to sleep until the rate limit is reset) in the GitHub backend.

Let me know if this solves your issue :)

[2018-01-07 16:31] TheReal1604 commented on #270
hi @valeriocos
seems that this options is not supported anymore? Used the actual version of p2o.py from GrimoireELK master repository.

`p2o.py: error: unrecognized arguments: --sleep-for-rate`

[2018-01-08 10:43] valeriocos commented on #270
_--sleep-for-rate_ should go together with the backend params, otherwise you will get the error just above

try this:
[code]

I'm currently not able to reproduce your first issue. I'm using the master version of GrimoireELK and Perceval

[2018-01-08 18:47] TheReal1604 commented on #270
@valeriocos this seems to be working now. Thanks!

But got another issue, seems that the bulk indexing is broken? :/

406 Client Error: Not Acceptable for url: http://127.0.0.1:9200/github-analysis/items/_bulk
Traceback (most recent call last):
  File "/home/cloudreboot/.local/lib/python3.5/site-packages/grimoire_elk/arthur.py", line 196, in feed_backend
    ocean_backend.feed()
  File "/home/clou

[2018-01-09 09:51] valeriocos commented on #270
You are welcome!
Try to use elasticsearch 5.x (https://www.elastic.co/downloads/past-releases).  I tried with the version 5.6.3 and the bug didn't appear (but it did with 6.1.1).

[2018-01-12 08:28] valeriocos commented on #270
@TheReal1604 I would close this issue if you didn't experience any problem when using Elasticsearch 5.x

[2018-01-15 10:55] #270 closed

[2018-01-17 06:35] acs opened #277 "[jenkins] Cyanogen sample for jenkins does not work anymore"
In the samples for perceval usage at:

https://github.com/grimoirelab/perceval#jenkins

the sample jenkins `http://jenkins.cyanogenmod.org/` does not work any more.

[2018-01-23 13:55] valeriocos commented on #59
A new python library that mocks a ssh server could come in handy: https://github.com/carletes/mock-ssh-server

[code]

[2018-01-26 12:51] sduenas opened #309 "Don't use type() to check class type"
Use `isinstance()` instead.

https://github.com/grimoirelab/perceval/blob/f2eb9abc27eeebbb750fdb00ec359bd82be91abe/perceval/client.py#L140

[2018-01-26 14:35] valeriocos commented on #109
This should have been achieved with the integration of the archive within the backends.
Should we close this issue?

[2018-01-26 16:49] sduenas commented on #109
You're right but we can't close this issue yet. We still support cache. Once we remove it we'll close this issue.

[2018-01-29 16:15] sduenas commented on #309
Fixed by #310.

[2018-01-29 16:15] #309 closed

[2018-02-05 09:52] valeriocos commented on #209
This issue is fixed by [PR 311](https://github.com/grimoirelab/perceval/pull/311)

[2018-02-05 09:52] #209 closed

[2018-02-09 15:33] jsmanrique opened #318 "[git] Add Co-authored-by to the list of supported trailers"
GitHub shows commits co-authors if they are noted in the commit message using `Co-authored-by: ` trailer. Perceval might take that into account too.

More info: https://github.com/blog/2496-commit-together-with-co-authors

[2018-02-09 16:29] armijnhemel opened #319 "undocumented dependency: python3-devel"
hello,

on my Fedora 26 I had to install python3-devel when installing perceval system wide. When using:

`su -c "python3 setup.py install"`

it threw this error:

Installed /usr/lib/python3.6/site-packages/urllib3-1.22-py3.6.egg
Searching for dulwich>=0.18.5
Reading https://pypi.python.org/simple/dulwich/
Downloading https://pypi.python.org/packages/3e/e9/96f83f49a02d9e5ba8e906aa6c19f1394de96f7c6

[2018-02-12 10:50] #277 closed

[2018-02-14 08:57] pwnfoo opened #324 "Add --to-date to plugins"
`--from-date` is a really awesome functionality but there is no option to mention an end date in any plugins.

It'd be awesome to have a `--to-date` or `--end-date` functionality to pull data within a given timeframe. This will he helpful for those who wants to pull data for just one year out of x years of data out of a given source.

[2018-02-14 12:31] sduenas commented on #319
This is a problem related to `dulwich` dependencies. According to its README, this can be avoided running `setup.py` with the option `--pure install` or if you're using `pip`, using the option `--global-option="--pure"`. The drawback is, that in some cases, it will reduce the performance when running `git` backend.

In any case, this should be included somehow in our documentation.

@jgbarah what

[2018-02-15 08:37] jsmanrique opened #325 "Add support for Mattermost"
Since Perceval already supports tracking information from Slack, it might be interesting to support also Mattermost

Potential interesting info: [Mattermost API](https://api.mattermost.com/)

[2018-02-15 16:53] valeriocos commented on #324
Hi @sachinkamath,
In the generic backend the option *--to-date* is [available](https://github.com/chaoss/grimoirelab-perceval/blob/9220d045a63a8d7a86056405a29005056785aa53/perceval/backend.py#L226
), however at the moment no specific backend supports it.

Indeed this could be a nice functionality to include in perceval, what do you think @sduenas?

[2018-02-15 21:49] jgbarah commented on #319
I'm not completely sure, but I think this is due to pip not being in the latest version, and thus not installing a precompiled wheel for dulwich.

Please, try the following, and let me know if it worked (create a virtualenv, update installation tools, install perceval and all its dependencies directly from pypi). Please do that in an environment with no python3-devel available:

[code]

[2018-02-17 08:56] sachinkamath opened #326 "[mbox] Error when parsing emails"
### Background
I was running `p2o` on mbox files I had downloaded previously by Perceval.Perceval crashed in the middle with a traceback.

Not sure if it is a bug in perceval, but filing it here anyway so that someone can take a look

Traceback:

[code]

[2018-02-17 10:23] valeriocos commented on #326
Thank you for reporting this issue @sachinkamath
This bug should not appear if you use the code in the master branch. Which version of perceval are you using?
If you want a quick workaround, you can patch your code like this: https://github.com/chaoss/grimoirelab-perceval/pull/311/files

[2018-02-18 22:19] jgbarah commented on #326
Thanks, @valeriocos. It is very likely that @sachinkamath is trying the latest version in pypi. Am I right, @sachinkamath. If that's the case, expect a new release of packages in pypi during this week, whcih should hopefully fix this bug.

[2018-02-19 03:23] sachinkamath commented on #326
Hi @valeriocos and @jgbarah ,

To test what you said, I removed the existing perceval version just to be sure and installed it from the latest master using `pip3 install --user https://github.com/chaoss/grimoirelab-perceval/tarball/master`

I re-ran p2o and the issue seems to persist.

[2018-02-19 03:36] sachinkamath commented on #326
Update : Sorry, it's fixed. I was outside of my virtualenv and I had also installed it locally without using virtualenv at first and forgot to remove it later.

Installing from the master branch works :) Thank you @valeriocos and @jgbarah  💃

[2018-02-19 10:02] sduenas commented on #326
Closing it as is already fixed.

[2018-02-19 10:02] #326 closed

[2018-02-19 11:03] t25kim opened #327 "AttributeError: 'Namespace' object has no attribute 'fetch_archive'"
$ perceval git https://github.com/chaoss/grimoirelab-perceval.git
[2018-02-19 19:58:16,107] - Sir Perceval is on his quest.
Traceback (most recent call last):
  File "/extra_storage/staging/venvs/grimoirelab/bin/perceval", line 4, in <module>
    __import__('pkg_resources').run_script('perceval==0.9.10', 'perceval')
  File "/extra_storage/staging/venvs/grimoirelab/lib/python3.5/site-packages/pkg_r

[2018-02-19 19:19] sduenas commented on #327
Thanks for the bug report. #328 PR fixes this problem.

[2018-02-19 23:48] #327 closed

[2018-02-19 23:49] sduenas commented on #327
Fixed

[2018-02-21 06:13] kkc-al opened #331 "successfully installed perceval 0.9.10 on a Windows machine, but perceval is not recognized as a command on the command prompt"
when i try to run "perceval  --version" or "perceval --help" in the virtual environment, I get "'perceval' is not recognized as an internal or external command, operable program or batch file."

[2018-02-21 06:39] kk-gndu commented on #331
even "Mordred --help" on the command prompt is not working. I am following  the tutorial
Installing GrimoireLab Python modules available at https://grimoirelab.gitbooks.io/tutorial/content/before-you-start/installing-grimoirelab.html

[2018-02-21 07:15] kk-gndu commented on #331
the list of modules installed in the virtual environment:
(grimoirelab) E:\venvs\grimoirelab\Scripts>pip list
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
beautifulsoup4 (4.6.0)
brewer2mpl (1.4.1)
certifi (2018.1.18)
chardet (3.0.4)

[2018-02-23 18:34] acs commented on #318
Maybe we can use pair programming feature in gelk to analyze this new feature.

[2018-02-27 10:50] sduenas commented on #331
I can't check it because I don't have Windows installed. I'm not sure who pip installs packages on Windows systems. I think @valeriocos can check it.

[2018-02-28 12:32] valeriocos commented on #331
The problem seems to be complicated to be solved quickly. We will investigate it.
In the meanwhile, you could use [Oracle VM VirtualBox](https://www.virtualbox.org/) to have Linux in your windows installation

[2018-03-01 09:45] valeriocos opened #335 "Check valid categories for backends"
The current signature of the fetch methods requires a category of the items to be collected. However, no check is done to ensure that the category passed in input is a valid/accepted one for the backend.

A solution could be to define a method which functionalities are similar to the following code:
https://github.com/chaoss/grimoirelab-perceval-mozilla/blob/master/perceval/backends/mozilla/remo.p

[2018-03-01 09:51] sduenas commented on #335
That's a great idea. I think the backend should have a property, probably called `categories` that would return a list of the supported categories (most of the times it will be only one). Therefore, `fetch` method on `Backend` class can get the categories en check whether the given one is valid or not.

I suggest to check it inside backends parent class to avoid code duplication.

[2018-03-01 10:05] valeriocos commented on #335
Cool! yes, the idea is to delegate this check to the parent backend.
I'll start working on this asap

[2018-03-02 18:22] jgbarah opened #337 "SQLite error related to threads"
I'm testing the current version of Perceval (master HEAD) with a current version of the whole stack, from mordred. When running it, I see:

[code]

I'm not sure if this is enough info to debug this, or even if it is really a Perceval issue, but since this is new with this version, and refers the archive, I thought maybe it is. Let me know if you need some more details.

[2018-03-02 18:47] jgbarah commented on #337
More info: after some tests, this seems to happen only sometimes. I couldn´ t find a pattern yet :-(

[2018-03-05 10:37] #335 closed

[2018-03-06 08:58] sduenas commented on #337
This isn't a Perceval issue. There's only one place were threads are in use: git backend. This backend don't support nor uses the archive, though.

[2018-03-06 08:58] #337 closed

[2018-03-15 08:46] VertexC opened #354 "None category not valid for GitHub"
I was going through tutorial for perceval but found the examples didn't work in my case.
I used it under virtual environment.

[code]

Same situation for all backends. Anyone can help?

[2018-03-15 08:55] valeriocos commented on #354
Hi @VertexC, thank you for reporting this error.

The PR https://github.com/chaoss/grimoirelab-perceval/pull/353 should fix this error. In the meanwhile, you can pass the category to the parser. The category for the github backend is "issue" (you can find the categories of each backend at the beginning of the corresponding python file, after the import section, in [perceval/backends/core](https://

[2018-03-15 09:14] #354 closed

[2018-03-15 09:19] sduenas commented on #354
It's fixed in `master` branch but we still need to generate a new pip package with this fix.

[2018-03-15 10:32] valeriocos opened #355 "[github] Negative time sleep when calculating sleep_for_rate_limit"
The error seems to be related to the use of shared tokens between several processes (e.g., percevals or mordreds). The error doesn't pop up when every process uses a non-shared token
[code]

[2018-03-15 17:04] aklapper opened #357 "Gather the Code Review (CR) label status of patches in Gerrit"
It looks like https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/gerrit.py does not gather CR-2, CR-1, CR0, CR+1 data from Gerrit, but only MERGED (=CR+2), ABANDONED and NEW (CR-2, CR-1, CR0, CR+1) status.

Differentiating might be nice to cover different use cases such as
* "This patch has not received any review / feedback at all" (CR0)
* "This patch needs improvem

[2018-03-15 17:21] sduenas commented on #357
Do you have an example of this? By the code of `gerrit` backend (https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/gerrit.py#L448), I see `perceval` is getting all the patches `open` and `closed`. Does Gerrit have other status values for those patches you're refering?

[2018-03-16 10:05] aklapper commented on #357
I was referring to the Label called "Code-Review".
See https://gerrit-review.googlesource.com/Documentation/config-labels.html

[2018-03-16 17:53] sduenas commented on #357
Perceval is currently retrieving that field under the `approvals` entry. Here's an example taken from Mediaki's gerrit: (`Change-Id: Iacee51c31b930710f3ca59b43e01963b531b4b9f`)

[code]

The problem is we're mapping these values as `NEW` in the dashboard. Check the same item in Mediawiki dashboard: https://wikimedia.biterg.io/goto/a19566c40f7396c85d020147232d470b

I think we can close this issue an

[2018-03-16 18:58] aklapper commented on #357
@sduenas: Uh, I see. Thanks a lot for explaining!
Yes, we can close this ticket and re-create in a less-backend'ish repo (which one?).

(It makes sense to map that to NEW as it's neither MERGED nor ABANDONED. However for the use cases I described in the initial comment, more differentiation might sometimes be welcome - that's why I filed this, though it's low priority for me.)

[2018-03-19 18:17] jsmanrique opened #358 "[pipermail] Strange error getting mboxes"
I am trying to analyze [a set of mailing lists](https://lists.ubuntu.com/) and it seems all of them have public archives. For example:
https://lists.ubuntu.com/archives/xubuntu-users/

But, I am having issues getting the data:
[code]

If I try to download the `.mbox` file with wget or curl, I get a 403 error. But I can download it with my web browser.

What am I doing wrong?

[2018-03-19 19:15] sduenas commented on #358
You aren't doing anything wrong. That's a bug caused because https://lists.ubuntu.com/archives/xubuntu-users/ contains a link to the URL that has the problem. `pipermail` backend parsers all the URLs of a webpage and keeps those that are links to `mboxes` files.

[2018-03-20 10:30] pine0207 opened #359 "Duplicated commit update problem"
Hello,
I found several issues on backend.
You know,
1. (git) fetch latest commit infinitely. (latest 1 commit repeat)
2. (jira) often reset from_date. (initial: 1970-01-01)

These problems are update issue on backend.
I guess Perceval's Scheduler has a wrong logic like a timestamp.

Plz, check these problems.
Thanks.

[2018-03-20 10:38] valeriocos commented on #359
Hi @pine0207, thank you for reporting this problem.
Perceval doesn't embed any scheduler, that task is handled by mordred.

Do you have some examples to test this wrong behaviour.
Which versions of perceval, mordred and elk are you using?

[2018-03-20 13:27] #358 closed

[2018-03-20 16:42] valeriocos commented on #53
As reported by the GitHub API every pull request is an issue, but not all issues are pull requests (PRs),
In terms of the API this means that:
- If one opens a bug, the corresponding issue in the API won't have any pull request data until a PR is created for that bug.
- If one sends a PR, the API will create an issue, which will have the pull request data included.

I see two possible solutions to

[2018-03-20 17:29] jgbarah commented on #53
It's difficult for me to figure out scenarlos where people want to have issues and not prs, or viceversa, since they are so intimately intertangled in GitHub.

I would go for the first scenario only if:

* There no or little penalty when you want both issues and prs (since that would be the most common case)
* You're not losing any info, such as prs related to an issue, or issues related to a pr.

[2018-03-21 00:39] pine0207 commented on #359
Thanks to your answer @valeriocos .

Perceval's Scheduler means that Arthur's one. Sorry to misunderstand.
But, I think it isn't Arthur's problem. It relate on Perceval and backend.

I use 0.9.10 perceval version, and all grimoire lab component using. (mordred, elk, even arthur)
As you know, it is old version, but the thing is duplicated fetching.

Below is example I tested.
1. Launch Arthurd.
2.

[2018-03-21 04:58] pine0207 commented on #359
I found that reason.
_**git log --since [from_date]**_
'since' option means contain 'from_date' commit.

But, I want to fetch newest commit.
Plz check me out.
Thanks.

[2018-03-21 09:14] sduenas commented on #319
@jgbarah we have checked the problem is related to dulwich and it's dependency with Python3 develpment libraries (python3-dev in Debian). I'm not sure how add this dependency.

[2018-03-22 10:15] valeriocos commented on #359
Hi @pine0207 , sorry for the late reply.
If you use the parameter latest-items, you should be able to fetch only the latest commits. Thus, the first iteration will collect all commits available, while the other iterations will fetch 0 commits (until no new commits are available).
In your json describing the task, add this:
[code]

[2018-03-22 10:18] valeriocos commented on #359
I'll check the issue with Jira and reply at https://github.com/chaoss/grimoirelab-kingarthur/issues/27

[2018-03-22 10:48] valeriocos commented on #109
Should we close this ticket @acs @sduenas ?

[2018-03-22 10:50] valeriocos commented on #53
A PR with the proposed implementation is available at https://github.com/chaoss/grimoirelab-perceval/pull/172

[2018-03-22 11:04] acs commented on #109
Probably we need another ticket:

Ideally, when working with **perceval archive**, it should work offline. Right?

[2018-03-22 11:06] valeriocos commented on #109
Yes sure, in the current implementation perceval requires internet connection only when fetching data from remote repositories.

[2018-03-22 18:46] sduenas commented on #359
I'm closing this ticket because it isn't related to `perceval`.

As @valeriocos said, you have to use `--latest-items` in `arthur` to don't get duplicated commits. `athur`. `arthur` sets, in recurring jobs, the last date obtained in the previous one as the date to start getting new items. It's the only way to ensure you're not missing anything new that was created at the same time, but for any rea

[2018-03-22 18:46] #359 closed

[2018-03-22 18:58] sduenas commented on #357
Closing this ticket. I've opened a new one in chaoss/grimoirelab#96.

[2018-03-22 18:58] #357 closed

[2018-03-23 16:04] #53 closed

[2018-03-23 16:05] sduenas commented on #109
This was fixed when archive mode added. Closing it.

[2018-03-23 16:05] #109 closed

[2018-03-23 18:09] valeriocos commented on #168
Should we close this issue?

[2018-03-26 17:33] #355 closed

[2018-03-28 16:06] valeriocos commented on #168
This issue has been fixed by adding checks within the GitHub backend to avoid making requests to empty data (e.g., https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L266)

[2018-03-28 16:06] #168 closed

[2018-03-31 07:32] Avfdo1994 opened #367 "Support for Bitbucket, Sonar and Squash"
Is it possible to use perceval with bitbucket, sonar and squash?

[2018-03-31 08:30] acs commented on #367
The current supported data sources are described at:

https://github.com/chaoss/grimoirelab-perceval/blob/master/README.md

There is no support for those data sources.

[2018-03-31 08:32] acs commented on #367
http://www.squashtest.org/en squash data source is this one?

[2018-03-31 09:03] Avfdo1994 commented on #367
@acs Yes, it's http://www.squashtest.org/en

[2018-03-31 09:05] Avfdo1994 commented on #367
Is there any alternative/workaround of using Bitbucket with Grimoire?

[2018-03-31 19:12] jgbarah commented on #367
If you're interested only in git repos, you can easily use the git backend. If you're interested in pull requests, they are not supported yet, a Perceval backend would be needed.

[2018-04-02 23:12] jgbarah opened #368 "[gerrit] url should be hostname"
Currently, the help for `perceval gerrit` reads:

[code]

However, the "url" is not really an url, but the host name where ssh access to the Gerrit instance is granted. I would change this to "hostname".

If this change is done, very likely variable names and paramerters in the Python interface should also be changed from "url" to "hostname".

Do others agree with this change?

[2018-04-03 08:14] sduenas commented on #368
That makes sense.

[2018-04-03 09:31] dpose opened #369 "Not a gzipped file (b'00')"
I've run `perceval git --latest-items gerrit_url` where `gerrit_url` is the url of a git repository on gerrit and I've found the error below:

[code]

I'm using the version of perceval on the master branch, installed on Debian 9.

After some tests, the issue seems to be due to the version of the dulwich package installed as dependency of perceval.
This error is present using the version 0.19 of th

[2018-04-03 11:52] Prabhat-IIT commented on #318
@jsmanrique I think you can close the issue now since it has been solved in [#289](https://github.com/chaoss/grimoirelab-elk/pull/289)

[2018-04-03 12:32] #318 closed

[2018-04-04 12:42] #369 closed

[2018-04-10 08:08] #368 closed

[2018-04-10 09:32] acs commented on #160
Closing this ticket after the evaluation of GraphQL. We don't have plans to use it in the near future.

[2018-04-10 09:32] #160 closed

[2018-04-10 15:38] valeriocos commented on #83
The PR #315 targets this enhancement

[2018-04-11 11:00] #83 closed

[2018-04-12 17:03] sduenas commented on #325
I was having a look to Mattermost to know what kind of information we can get and how. Mattermost is a open source clone/rip of Slack platform that allows users to posts messages in one or several channels.

I think we should follow the same approach we did with Slack backend. The entry point will be a channel using its `channel_id` and Perceval with fetch the `posts` send to that channel. The id

[2018-04-30 15:18] sduenas commented on #325
The latest version of `perceval` (see ab4f504) includes a new backend to fetch the messages sent to a Mattermost channel.

[2018-04-30 15:18] #325 closed

[2018-05-10 21:19] sankalp28 opened #384 "Jenkins job fails"
Hi, Ever since i changes my TFS url in my job, it gives Connection reset and timeout error, that too not always, any clues to fix this.Just note : I'm now using Https with TFS Url.

[2018-05-10 23:34] sduenas commented on #384
Can you give us an example of how you are running it? It would be nice to have the output and the error messages you get.

I suggest to run `perceval` using the next command:
[code]

[2018-05-21 16:09] jgbarah opened #385 "[pipermail] 403 error when getting certain mailing lists"
When retrieving certain mailing lists, I'm getting an error, apparently due to 403 when  accessing them. But the same page which raises this 403 can be retrieved via wget. I did try using wget with some of the archive files for the same mailign list, and that worked too:

[code]

[code]

All of this with latest pip packages (18.05-02).

[2018-05-21 16:10] jgbarah commented on #385
I wonder if this could be somehow related to #358

[2018-05-21 16:56] sduenas commented on #385
@jgbarah I don't think it's related to that bug.

I get the same error. With `wget` and `curl` it works. On this last case changing the URL to https://lists.linuxfoundation.org/pipermail/oss-health-metrics/. Otherwise, I get a 303 error.

Using `requests` library I get a 403 error.

[code]

[2018-05-21 16:59] sduenas commented on #385
It works changing the `User-Agent` header.

[code]

In Perceval we use `'Perceval/' + __version__`. See https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/client.py#L74

[2018-05-22 21:38] jgbarah commented on #385
Could it be a selective banning for Perceval in the server side? If you think it could be, I may contact LF to see what's going on...

[2018-05-22 22:30] sduenas commented on #385
I think we should contact them. In any case, `requests` package has `python-requests/1.2.0` by default as the value to this header. That one is failing too.

[2018-05-23 23:09] jgbarah commented on #385
Message sent to the LF helpdesk.

[2018-05-30 19:39] pixelpshr opened #388 "Perceval behind a firewall"
I'm not sure if this is a problem with Perceval or my brainspace. (New Python user.)
My corporate firewall routes http and https traffic through the same proxy, http://proxy.my.com:80. (It also inserts its on CA auth chain into SSL traffic, but I don't think I've gotten far enough to worry about that problem yet.)
Can anyone help me figure this out? Are firewall proxies supported by Perceval?

Run

[2018-05-31 11:02] sduenas commented on #388
This is a little weird. Do you have problems cloning git repositories using `git` command? Under the hood, `perceval` is calling to that command.

[2018-05-31 13:13] pixelpshr commented on #388
no, no problems with git at all. In fact, I git cloned the perceval repo to try to figure out the problem, but it is still beyond me.

[2018-05-31 14:11] valeriocos commented on #388
I don't know if this can help, but you could try to:
- git clone the perceval repo
- modify the git config to deal with a proxy connection (https://gist.github.com/evantoli/f8c23a37eb3558ab8765)
- and then launch Perceval

[2018-05-31 17:45] jgbarah commented on #388
Just a suggestion to try to figure out where the problem is: could you ensure you can clone the git repo * with the same link Perceval is using*? That is, just run:

[code]

Just to ensure that we don't have a problem on that side (since there are several ways of cloning a git repo, just to discard scenarios).

This said, the connection problem could be related to your firewall using their own CA

[2018-06-01 18:30] pixelpshr commented on #388
Hmmm... the git config might have fixed that part. At least, the python script (above) doesn't crash now.
Now to figure out how that mordred thingy is supposed to work. I'm trying to turn the Dockerfile-full into a bash script (since the Docker container can't reach through the firewalls, either).

[2018-06-01 19:23] pixelpshr commented on #388
Ok, I know nothing at all about pipermail, but it seems to have the same proxy problems as perceval. Should I open a different thread about that, or is the answer simple enough that it can be tacked onto this?

[2018-06-04 09:01] jgbarah commented on #388
I've been researching a bit about this, and it seems using environment variables could be a solution, at least in some cases. I've done some testing and it seems to work with the 'grimoire/full' Docker image, although I'm not sure if my proxy setup is comparable to yours. Would you mind trying to run the container as:

[code]

(but instead of `http://163.117.69.195:3128` and `https://163.117.69.19

[2018-06-05 13:21] valeriocos commented on #388
To avoid `CERTIFICATE_VERIFY_FAILED`, you should use the parameter `--no-verify` (which has been recently included in [Perceval codebase](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/pipermail.py#L148))

[2018-06-05 13:27] pixelpshr commented on #388
How would I get that parameter into the docker container?

[2018-06-05 13:58] valeriocos commented on #388
SInce you are using the grimoire/full docker image, I guess you won't have the latest version of Perceval (right, @jgbarah?).
Once the new image is ready, you just need to modify the `setup.cfg`. In the section called `[pipermail`], add the parameter `no-verify = true`

[2018-06-05 14:57] jgbarah commented on #388
I didn't produce container images for 18.05-03 because of a bug in Mordred which prevents from having a working configuration with grimoirelab/secured. But, @pixelpshr I could produce a container image for you if you can have a spin at it, so we can check if it works with that kind of firewalls. However, very likely 18.05-04 will be out in two days, I'm planning to produce container images right a

[2018-06-05 15:00] jgbarah commented on #388
Do you have access to the firewall signing CA certificate? I'm thinking that another (safest) option would be to install that certificate in the container image... If you do, let me know, and I can have a look at that. I'm a bit limited in testing, I'm not sure how to setup a testing environment like that (but I can try).

[2018-06-05 15:56] pixelpshr commented on #388
I don't think there is any need to rush the process. I can either grab a container for testing, or wait until the next release. I'll leave it up to you.

[2018-06-05 16:00] pixelpshr commented on #388
I do have the addition *.pem file that would need to be added to the container to work in my environment. (But, I'm sure that I cannot distribute it.) I have been trying to figure out how to build some sort of wrapper around the grimoirelab/full container that would allow me to insert the certs, but having no luck.

[2018-06-05 20:36] jgbarah commented on #388
Finally, had to produce a container image for testing some other stuff, so I uploaded that image to DockerHub as grimoirelab/full:testing. It is produced with the head of the master branch for all GrimoireLab modules, so it should include the patch you need for testing `no-verify = true` in the config file, as @valeriocos suggests above.

If you have some time, please give it a try, and let us kno

[2018-06-05 20:41] jgbarah commented on #388
What you need usually are the *public* certificates. I'm not familiar to certificates formats, but in my Debian box, root CA certs come in `.crt` format. You can see an example of how to install them in Debian in https://www.brightbox.com/blog/2014/03/04/add-cacert-ubuntu-debian/ (that's for CACert, but the process is the same). In the end, what is needed is to add the certificate to /usr/local/sh

[2018-06-06 18:37] pixelpshr commented on #388
Using the grimoirelab/full:testing with the addition of the no-verify=true configuration does let perceval /pipermail get past the firewall. Yay!
However, now I'm noticing the same problem in the git connection, as that is failing now. I think I fixed this when running outside of the docker container by executing "git config --global https.proxy ..." But, I don't know how to run that inside of the

[2018-06-06 20:45] pixelpshr commented on #388
Oh! I think I solved that git problem with this:

`$ docker exec -it <container id> git config --global http.proxy http://proxy.mycompany.com:80
`

[2018-06-06 21:01] jgbarah commented on #388
Great! I'm opening an issue for Perceval, because it should use this trick when the no-verify flag is passed to it, so that you don't need to do that.

[2018-06-06 21:19] jgbarah commented on #388
Ooops, I read too fast. I'm not sure I fully understand what you did. Let's recap, please:

* For pipermail, you used 'no-verify=true' in the `[pipermail]` section of the SirMordred configuration file, right? Didn't you need specifying somehow where the proxy is?

* For git, you didn't use `no-verify=true` in the `[git]` section, right? The only thing you had to do is run git config in the contain

[2018-06-07 11:07] pixelpshr commented on #388
Correct on all counts.
I'm still not really satisfied with bypassing the SSL checks in pipermail, though. I think I need to figure out how to get my corporate certs into the container. The should allow pipermail to verify its SSL packets and not need the no-verify configuration.

[2018-06-07 12:12] sduenas commented on #388
Maybe you can try with [this](https://stackoverflow.com/questions/10667960/python-requests-throwing-sslerror/33717517#33717517) or [this](https://stackoverflow.com/a/42982144).

Perceval uses `requests` package to talk HTTP protocol. It can look for certificates using the env variable `REQUESTS_CA_BUNDLE`. More info [here](http://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verificat

[2018-06-07 18:42] jgbarah commented on #388
For git, I'm pretty sure the certificates are those "in the system", which in the case of our container image, which is based on Debian, should be `/usr/local/share/ca-certificates` (see for example https://www.brightbox.com/blog/2014/03/04/add-cacert-ubuntu-debian/ ).

But I don't know if `requests` uses those certificates. According to [this entry in StackOverflow](https://stackoverflow.com/ques

[2018-06-08 21:27] pixelpshr commented on #388
Ok, that bit with the REQUESTS_CA_BUNDLE seems to have done the final trick! I've got a script now that runs the standard grimoirelab/full container, without the no-verify=true, and pipermail is happy.

Here is my script (notice that I'm copying the cert files into the container, rather than mounting the directory):

[code]

[2018-06-09 15:02] jgbarah commented on #388
Thanks a lot! I will include these tricks in the container and/or in the documentation. That you could finally get your stuff working is great news for me!

[2018-06-11 11:40] #388 closed

[2018-06-20 08:42] jgbarah opened #394 "Weird error when running tests"
I'm running tests for Perceval in several ways, and one of them is failing consistently (although others don't). The one that fails is when I run it in a fresh virtualenv, using `utils/build_grimoirelab` from [chaoss/grimoirelab](https://github.com/chaoss/grimoirelab).

To try to reproduce, just clone `chaoss/grimoirelab` and run:

[code]

My output is as follows (note the error close to the end o

[2018-06-22 11:01] #394 closed

[2018-06-22 11:02] sduenas commented on #394
Fixed by #397

[2018-06-29 17:38] filmaj opened #398 "Allow git backend to clone using ssh keys instead of http Basic Auth"
My company's git backend uses GitHub Enterprise behind an SSO authentication scheme, so HTTP Basic Auth is not an option. We can only clone repositories using SSH keys.

I think this would need to be a new feature for perceval.

I am happy to take a stab at putting together this feature in a PR, but could use some guidance. My company and I deploy GrimoireLab internally using the `full` docker ima

[2018-07-03 08:13] muhmaz3 opened #399 "Git backend [Windows 7/10] issue"
For us GitHub backend  works, but the Git backend is not working.  Git is already Install on our test machine, we can clone the repo by using Git command line. We used Perceval example code, but we got an error.  Looking into the  git backend, **if we set `evn = None`, line 1268 then it works.** But  we could  not figure out which environment variable we are missing or why it works  when `env= Non

[2018-07-12 13:37] aswanipranjal opened #408 "[github] How to check when new versions of the reviewed code have been uploaded"
[Following the discussion in the weekly GSoC meeting](https://github.com/aswanipranjal/gsoc-manuscripts/blob/master/IRC-transcripts/IRC-chat-12-07-2018.txt#L86), we need to figure out a way to calculate the new versions of code that the Contributors might submit when they create a PR and it gets reviewed.

If that data is available in the review_comments_data, then we need to figure out how to cal

[2018-07-12 14:00] valeriocos commented on #408
Do you have any idea @aswanipranjal ? In some cases, it may be complicated to detect new code versions, since the contributor could squash his commits at each iteration and use `push --force` to update his pr.

[2018-07-12 14:28] aswanipranjal commented on #408
Yeah, you are absolutely right @valeriocos. I don't know how we can tackle this right now, but I am searching for methods and reading the API docs. I'll comment here as I know more.

[2018-07-17 17:35] sergiocasaleiro commented on #367
Does this mean interested on using Perceval with Bitbucket without the PRs?
If so, how can we specify the authentication?
Thanks!

[2018-07-18 08:09] jgbarah commented on #367
Yes.

If the repository is public, nothing to do, since Perceval uses git for accessing it, and there are no calls too the Bitbucket API. If the repository is private, if you already have your account configured to access it, it should just work, because Perceval is basically running git clone. Please, let us know if it does not work in either of these cases: to be honest, my experience with analy

[2018-07-20 16:50] sduenas commented on #399
Sorry for the late response. I'm not sure about how environment variables work in Windows but `HOME` variable is needed because it's where git configuration file is stored. I'm afraid `os.getenv('HOME', '')` doesn't find this variable and sets its value to `''` which would make your code fail. I'm not sure about this, though.

Would you try to run just this snippet so we can figure out whether `HO

[2018-07-20 17:21] sduenas commented on #398
To clone a repository Perceval runs `git clone` in a subprocess. One way to support SSH would be to use [dulwich](https://github.com/dulwich/dulwich) library instead. I think it can work with SSH keys. Perceval already uses `dulwich` in some parts of the git backend, so it would be easy to support it.

Another option would be a mix of `GIT_ASKPASS` [environment variable](https://git-scm.com/book/g

[2018-07-20 17:22] jgbarah commented on #399
Maybe there is no HOME in Windows: http://www.itprotoday.com/management-mobility/what-environment-variables-are-available-windows

What do you think about checking for HOME, and if that fails, check for HOMEPATH? (or check for Windows, and have a different code in that case, directly reading HOMEPATH....)

[2018-07-20 18:20] muhmaz3 commented on #399
@sduenas I have tried your suggestion and as @jgbarah mentioned, there is no HOME on windows and I also got returned default value. Thereafter, I tried  HOMEDRIVE, and HOMEPATH, USERPROFILE, non of them worked.

[2018-07-20 19:44] jgbarah commented on #399
Weird that HOMEDRIVE and HOMEPATH didn't work... I assume that you checked them using the snippet @sduenas proposed, switching HOME for HOMEDRIVE and HOMEPATH, and you saw the output was the empty string, right?

Could you please check which variables you have defined in your environment? You could run this script:

[code]

as (assuming the file with the script is `test.py`):

[code]

[2018-07-21 10:19] abitrolly opened #416 "Gather data from Pagure"
https://pagure.io/ is an open source issue tracker with Git integration, PRs, stats and other features. Would be nice to extract my own data from it for tracking activity.

[2018-07-21 11:45] valeriocos commented on #416
hi @abitrolly, thank you for your interest in this project! I like your proposal!
would you like to try to implement the backend? it could be a nice first contribution :)

[2018-07-21 14:14] abitrolly commented on #416
In depends. :) I want to extract my daily trail. Perceval seem to dump all available data, which may put too much load on some systems if run daily. Is there a tool that can only follow myself? To track my first contribution. )

[2018-07-21 16:15] valeriocos commented on #416
Grimoirelab platform allows to monitor your daily contribution (and much more). For instance, if you have a look to [this Git dashboard](https://opnfv.biterg.io/app/kibana#/dashboard/Git?_g=()) from one of our clients and click on any of the authors, you will see that the visualizations will show just the contributions of that author. If this solution doesn't fit with your needs, you can make a sc

[2018-07-22 17:02] jgbarah commented on #399
Weird that HOMEDRIVE and HOMEPATH didn't work... I assume that you checked them using the snippet @sduenas proposed, switching HOME for HOMEDRIVE and HOMEPATH, and you saw the output was the empty string, right?

Could you please check which variables you have defined in your environment? You could run this script:

[code]

as (assuming the file with the script is `test.py`):

[code]

[2018-07-22 17:04] jgbarah commented on #399
OK, I see. Then, if all of these are correctly set, maybe it would be a matter of either:

* Checking if running on Windows, and in that case use those instead of HOME or,
* Checking if HOME is defined, if not, check those, hoping that we're running on Windows.

@sduenas what do you think?

[2018-07-22 19:06] jgbarah commented on #398
This is related to chaoss/grimoirelab-sirmordred#165 isn't it? (just to have a cross-reference).

[2018-07-23 12:14] MalloZup opened #419 "gather data from jenkins results"
Label (epic/enhanchement)
Feel free to assign this to me or consider this assigned  :racehorse: :rabbit:

## Tasks:

- [ ] improve backend for retrieve usefull data from Jenkins-ci
- [ ] add tests (unit-or integration depends on the upstream)
- [ ] add documentation

### Additional tasks ( maybe in other issue but here is ok as reminder)
 use the D3.js graphs that i use in https://github.com/Mallo

[2018-07-23 12:15] MalloZup commented on #419
@jgbarah i open this issue as follow-up after our chat and reminder.

[2018-07-23 15:11] sduenas commented on #399
@muhmaz3 would you try with this?

[code]

You have to change it on line **805** of **perceval/backends/core/git.py**. Please run perceval with the debug flag active: `perceval -d`. Please paste her the output.

[2018-07-23 15:58] filmaj commented on #398
@jgbarah yes, I believe so!

[2018-07-24 08:59] muhmaz3 commented on #399
@sduenas
After changing on line 805 as mentioned, I got the following
[code]

[2018-07-24 10:02] muhmaz3 commented on #399
[code]
The error which I get without using the option -d
[code]

[2018-07-24 10:18] sduenas commented on #399
I think `C:\abc` (the place where you are storing the repository is not empty. Will you run it again using an empty directory?

[2018-07-24 10:31] muhmaz3 commented on #399
No, I have tried that long ago, and I have also tried it again as well just now, I get the same error.

My make shift solution in which I set `env = None` (mentioned in my first post) works. I have also tested it on two different window machines.  As you have mentioned and I agree I got to do something with environment variable.

I can do one more test, If you kindly tell me which git configuratio

[2018-07-24 10:42] sduenas commented on #399
According to the traceback, perceval is running an update over that directory instead of a clone. That means the repository already exists there. In any case, have you changed the `HOME` env variable in all its occurrences in the code (`'HOME': os.getenv('USERPROFILE', '')`). In this case, on line **786**. As I supposed you where running it on an empty repository, I only asked you to change the co

[2018-07-24 11:59] muhmaz3 commented on #399
I got your point, I have tried with empty directory, same error, I have also changed line 786 as per your suggestion.
[code]

[2018-07-27 08:52] sduenas commented on #399
I'm wondering whether this issue is related to this (https://stackoverflow.com/questions/20370294/could-not-resolve-host-github-com-error-while-cloning-remote-repository-in-git). We should be missing an environment variable required in Windows to make this work.

[2018-08-07 07:31] jgbarah opened #421 "SQLite error when running from SirMordred"
When producing the dashboard with the `grimoirelab/full` container, when it enters incremental mode, I see the following error:

[code]

I'm not sure if it happens every time I run it, but I've seen the errors several times. Any clue about what could be happening, to narrow the problem? Should I open this in SirMordred instead / in addition to this issue?

[2018-08-19 17:59] Algogator commented on #416
I'd like to pitch in :)

[2018-08-28 19:30] filmaj commented on #398
It looks like by a) having the SSH keys in place appropriately and b) using the git@git / ssh URL for the project, I am able to get perceval to pull git commits properly.

So possibly this issue could just be a documentation one, making the above info explicit.

[2018-08-28 20:14] filmaj commented on #398
oh and also binding an ssh `known_hosts` file into the container was needed :)

[2018-08-28 20:14] #398 closed

[2018-09-03 13:29] MalloZup opened #428 "Config option in perceval: should we remove it ?"
After i did some research on the configuration option `-c` for perceval to me look like that this functionality is not working well + undocumented.
( see pr on wip: https://github.com/chaoss/grimoirelab-perceval/pull/427)

What is not working a part of documentation:

if you see here `defaults` var https://github.com/chaoss/grimoirelab-perceval/blob/master/bin/perceval#L99
this var is not used for

[2018-09-03 13:41] valeriocos commented on #428
Hi @MalloZup thank you for the PR #427 and for raising an interesting point. I checked the code and the option `-c` of Perceval doesn't seem to work.

I agree with you about deleting this feature.

In case you want to dive into a possible fix, the logic to implement should not be so different from the one in the method [_compose_perceval_params](https://github.com/chaoss/grimoirelab-sirmordred/blo

[2018-09-03 15:03] jsmanrique opened #429 "[gitlab] Strange issue getting data from GitLab"
I am testing the following code:
[code]

I am getting the following error:
[code]

It's strange, because if I request the issues site from the browser, I can read them:
`https://gitlab.gnome.org/api/v4/projects/GNOME%2Fnautilus/issues/`

Any reason for such error?

[2018-09-04 15:51] MalloZup commented on #428
@sduenas @valeriocos thanks for your reply i will take care of the removal here :slot_machine: :jack_o_lantern: :japan: :wink:

[2018-09-05 15:28] MalloZup opened #431 "[bugzilla xmlrpc] [feature/bug] how to handle perceval bugzilla-xmlrpc authentification and client"
# how to reproduce:
( this issue was modified)

Basically we need a backend to access bugzilla xmlrpc api.

[2018-09-05 15:40] sduenas commented on #431
I haven't check it but for Bugzilla >= 4 we recommend to use `buzillarest` instead of `bugzilla` backend. That backend supports authentication too. In any case, I'll check this error but I'm afraid the authentication method was changed for > 3 versions.

[2018-09-05 16:54] MalloZup commented on #431
using rest:

[code]
[code]

I will check more when i have time if you have any hint is welcome :+1:

[2018-09-05 16:55] MalloZup commented on #428
merged

[2018-09-05 16:55] #428 closed

[2018-09-06 10:44] MalloZup commented on #431
@sduenas  so i just discovered that the bugzilla in quesiton use

"mybugzilla/xmlrpc.cgi".

And i don't see any xmlrpc client/backend in perceval.

Imho we have 2 solutions:

1) implement xmlrpc backend for perceval
2) use some existing backend and prepare needed data from there on to be passed to kibiter etc.

For that i think i need to know which data and the format should look like, is there an

[2018-09-06 11:10] MalloZup opened #432 "[jenkins] [feature] jenkins backend cannot authenticate"
Some jenkins clients need to authenticate.

I think that we need top pass user and password to the jenkins server and implement this feature on the jenkins backend.

I could have a look on this

[2018-09-11 12:30] sduenas commented on #432
Thanks for working on this.

[2018-09-18 12:40] sduenas opened #436 "[mediawiki] Duplicate entry when inserting into the archive"
When retrieving data using `mediawiki` backend, I got this error. It raises an error because it founds a duplicate entry in the archive.

[code]

[2018-09-19 10:16] jsmanrique commented on #429
Thanks. It seems to work if I get a token.

In any case it's a little bit weird that I need a token to get the information with Python/Perceval, but a simple web browser can get it without any token.

[2018-09-19 10:16] #429 closed

[2018-09-19 10:42] jgbarah commented on #429
@jsmanrique what do you mean by "it's a little bit weird that I need a token to get the information with Python/Perceval, but a simple web browser can get it without any token". Do you mean that you can access the API without any token?

[2018-09-19 10:45] jsmanrique commented on #429
I mean that if I open the following link in my browser, I get some data (without needing any token):
 https://gitlab.gnome.org/api/v4/projects/GNOME%2Fnautilus/issues/

Not sure if it's a GNOME GitLab or GitLab itself issue

[2018-09-21 13:29] sulunemre commented on #327
Hi, the issue is still in the docker image. I think you should rebuild and push
https://hub.docker.com/r/grimoirelab/perceval/

[2018-09-22 16:34] jgbarah commented on #327
Instead of using that Image, please have a look at the "community" (ready to use) images. Yo can find info about them in [SirMorderd in a container](https://chaoss.github.io/grimoirelab-tutorial/sirmordred/container.html), and in the [GitHub directory with info & data about the Docker images](https://github.com/chaoss/grimoirelab/tree/master/docker). Those are following GrimoireLab releases, so sh

[2018-10-01 16:27] #436 closed

[2018-10-08 20:56] MehdiGol opened #442 "Problem resolving github.com"
I'm trying to use Perceval to retrieve commit data from github.com but the code is throwing this exception

<ipython-input-17-15952b6e6b71> in <module>
      9 repo = Git(uri=repo_url, gitpath=repo_dir)
     10 # fetch all commits as an iteratoir, and iterate it printing each hash
---> 11 for commit in repo.fetch():
     12     print(commit['data']['commit'])
 C:\ProgramData\Anaconda3\lib\site-pac

[2018-10-08 21:35] MehdiGol commented on #399
I have the same problem... I also set the proxy and unset it. no change. please help me...

[2018-10-08 22:02] cewilliams commented on #398
Example of what I had to do add to my image start script to implement @filmaj 's comments:
[code]

The important bit being that the key file names in the container need to use `id_rsa` instead of whatever you named them when you generated your key. I also created the .ssh directory in an earlier container layer before binding the keys in, not sure if this binding works without that manual step.

A

[2018-10-17 06:57] sduenas commented on #399
As far as I know, none of the developers have a Windows system running, so it's not possible for us to test it. It should be something related to the environment variables. Try to modify them into https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/git.py#L783 and in https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/git.py#L805

Try if

[2018-10-17 06:57] sduenas commented on #442
This bug is a duplicate of #399.

[2018-10-17 06:57] #442 closed

[2018-10-17 14:01] fgs-dbudwin opened #445 "Issue with requests dependency that causes version incompatability"
Yesterday, `urllib3` which is a dependency for `requests` updated to [version `1.2.4`](https://github.com/urllib3/urllib3/releases/tag/1.24).  Subsequently, `requests` is pulling this latest version of `urllib3` which breaks their version constraint and leads to the following error:

[code]

I think until both `urllib3` and `requests` fix the bug on their end, `grimoirelab-perceval` should pin the

[2018-10-17 16:21] jgbarah commented on #445
Thanks for the heads-up!

@sduenas, @valcos, do you think we should release a new pip package for Perceval with those dependencies pinned? I can do it as soon as a decission is made.

[2018-10-17 21:35] markwalkom opened #446 "Discourse module not retrieving data"
`projects.json` looks like;

[code]

`credentials.cfg` looks like;
[code]

Things seem to start ok, here's the relevant log from the `full` docker image;
[code]

And then it repeats that for a few thousand lines, but adds no data to Elasticsearch;

[code]

[2018-10-18 07:38] sduenas commented on #445
I've been installing perceval on an empty environment and I didn't find any problem even when it installs `urllib3 1.24`:

[code]

I also tested it and it worked:
[code]

Not sure if I did something wrong.

[2018-10-18 11:02] jgbarah commented on #445
You're right, @sduenas. I also tried, in different virtual environments:

[code]

[code]

[code]

[code]

All of them worked...

@fgs-dbudwin, how could we reproduce your problem?

[2018-10-18 14:10] sduenas commented on #446
Can you just `perceval` to see whether it downloads something or not? I tried it with `https://discuss.elastic.co` (as is your case). It takes some time to start returning data.
[code]

[2018-10-19 01:59] markwalkom commented on #446
I let the container run overnight, there's still nothing being sent to Elasticsearch.

So I ran it manually as you suggested. That worked and it's generating data into the output file that was specified.

[2018-10-20 08:06] gaurav5430 opened #447 "Windows - problems cloning a github repo"
On windows 8, this is how i made perceval work within a Windows installation:

**Installing perceval**
while trying to install with pip i got into problems with dulwich on windows trying to build the optional C extensions which probably requires a C compiler on path , so did a separate install of dulwich with --global-option="--pure" . This required installing dulwich dependencies, and then i had

[2018-11-05 11:59] lukaszgryglicki opened #452 "Perceval + Gitlab - resume is not supported - feature request"
According to [docs](https://perceval.readthedocs.io/en/latest/perceval.backends.core.html#module-perceval.backends.core.gitlab) GitLab does not support resuming (`date_from` arg).
It indeed doesn't support it, which makes counting issues/merge requests for a given date period [terribly](https://github.com/cncf/velocity/blob/master/count_gitlab.py) [slow](https://github.com/cncf/velocity/blob/maste

[2018-11-05 13:20] valeriocos commented on #452
Thank you for openining this issue @lukaszgryglicki.

The backend already supports fetch operations from a given date: https://perceval.readthedocs.io/en/latest/_modules/perceval/backends/core/gitlab.html#GitLab.fetch
However the return value of the method `has_resuming` was not updated.
The PR https://github.com/chaoss/grimoirelab-perceval/pull/453 fixes this error.

[2018-11-05 13:32] lukaszgryglicki commented on #452
It doesn't really support resuming, see this output for `/gitlab_issues_and_mrs.sh '2018-11-01 00:00:00' '2018-12-01 00:00:00'`: I'm displaying `obj['data']['created_at']`, this should always be `> 2018-11-01`:
[code]

`gitlab_issues_and_mrs.sh` is:
[code]

`count_gitlab.py` is:
[code]

I'm specifying to get issues / merge requests from "2018-11-01"

[2018-11-05 13:51] lukaszgryglicki commented on #452
BTW something similar seems to happen for Bugzilla: `./apache_bugzilla.sh '2018-11-01 00:00:00'  '2018-12-01 00:00:00'`:

Output (many dates are before `2018-11-01`, like even 2011):
[code]

`apache_bugzilla.sh`:
[code]

`./count_bugzilla.py`:
[code]

[2018-11-05 13:57] valeriocos commented on #452
The resuming/fetch from date is based on the field `updated_at`.
Find below the list of `updated_at` fields for the command below
`perceval gitlab gitlab-org gitlab-ce --category merge_request --sleep-for-rate -t xxx --from-date 2018-01-01`

[code]

[2018-11-05 13:59] lukaszgryglicki commented on #452
Ohh, ok understood. So if I want to use perceval to count new issues created in a given data range - this is impossible, right?

[2018-11-05 14:11] lukaszgryglicki commented on #452
Yes, I know, but I just neede to calculate issues/PRs for a given date period and tried this.
In `Bugzilla` which field is used for resuming?
Maybe there should be a documentation about every possible data source and which field is used for resuming?

[2018-11-05 14:48] valeriocos commented on #452
You should check the method `metadata_updated_on` for every backend in the code. For instance, https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/bugzillarest.py#L142.

The doc already covers this information (e.g., https://perceval.readthedocs.io/en/latest/_modules/perceval/backends/core/dockerhub.html#DockerHub.metadata_updated_on), but maybe it could be improved.

[2018-11-05 15:44] lukaszgryglicki commented on #452
My bad, I didn't know that method, I was just checking [this doc](https://perceval.readthedocs.io/en/latest/perceval.backends.core.html#module-perceval.backends.core.bugzilla), eventually `perceval datasource help`.
Speaking about docs, when checking the document linked above, it would be great to provide examples to some params. It isn't always clear what every parameter means, for example, "laun

[2018-11-05 15:50] valeriocos commented on #452
No problem @lukaszgryglicki !

Could you please open an issue about improving the documentation with examples? It is going to take a while to close it due to the number of backends to review. However, feel free to submit a PR (or more) to include examples.

Thank you!

[2018-11-05 15:51] valeriocos commented on #452
Feel free also to close this issue, if you think there is nothing else to discuss. Cheers.

[2018-11-07 08:14] #452 closed

[2018-11-08 10:34] lukaszgryglicki opened #456 "[Feature request] Bugzilla backend should have --project filter option"
Bugzilla should have a `--project proj_name` flag to filter by project. For example [freedesktop bugzilla](https://bugs.freedesktop.org/query.cgi) or [apache bugzilla](https://bz.apache.org/bugzilla/query.cgi) both have product drop-down filter.
Without that option, I have to pull all issues for apache or freedesktop and filter out almost all of them after checking `bug['data']['product'][0]['__te

[2018-11-08 10:46] lukaszgryglicki commented on #456
BTW: why is Bugzilla data-source so terribly slow? Can it be improved?

[2018-11-08 11:16] valeriocos commented on #456
I guess this should be discussed with @sduenas and maybe @jgbarah

[2018-11-09 18:04] jgbarah commented on #319
I'm adding some notes about this in the tutorial, see chaoss/grimoirelab-tutorial#50

[2018-11-10 15:10] sduenas commented on #456
I've been always reluctant this feature, especially in Bugzilla. Our philosophy with Perceval has been  to download complete datasets from any datasources. That's why you wouldn't find any filter in any of the backends but in Jira and probably on Git. Those filters are there for historic reasons.

One of the reasons I always been against these kind of filters is because it might lead you to have p

[2018-11-12 10:04] jgbarah commented on #456
For a long time I have thought of doing that, but I never found the time. In any case, just for the record: I think it should be easy, following the model of how the git backend deals with branches (you can get commits only for a single branch, or a collection of branches). I think it  is mainly a matter of filtering the query to Bugzilla, when Perceval gets the list of issues to retrieve.

[2018-11-14 16:18] musman-ashraf opened #457 "Problem while fetching issues via GitHub()"
While fetching issues from a repo, half way through I am getting the following.

raise RateLimitError(cause=cause, seconds_to_reset=seconds_to_reset)RateLimitError: Rate limit exhausted.; 3058.0 seconds to rate reset.

any fix I need to do in code in order to avoid it and fetching all the issues via Github().

[2018-11-14 16:23] valeriocos commented on #457
Hi @musman-ashraf , have you tried to set the param [sleep-for-rate](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L77) to True?

[2018-11-14 16:33] musman-ashraf commented on #457
where should I set it?

[2018-11-14 16:38] valeriocos commented on #457
If you are executing perceval from Python, you should have something like:
[code]

If you are using perceval from commandline, you should have something like:
[code]

[2018-11-15 09:13] valeriocos commented on #457
@musman-ashraf I'm going to close this issue. Feel free to reopen it if you need.

[2018-11-15 09:13] #457 closed

[2018-11-15 12:08] musman-ashraf commented on #457
It worked fine. Thank you for your time.

[2018-11-16 16:00] musman-ashraf opened #458 "Time to fetch issues via GitHub() is very high"
I need to fetch issues via Github() from multiple repos, however, after fetching few issues it takes way to much time to fetch next ones.

[2018-11-16 16:20] valeriocos commented on #458
Are you using an access token (https://github.com/settings/tokens)? Generally if you use an access token you should have plenty of requests (5000) per hour, if you don't you have just 60 requests per hour.

[2018-11-16 16:44] valeriocos commented on #458
Try to generate an access token and use it with your script. In order to pass the token, please initialize the GitHub backend in the following way:
[code]

If you want to get an access token:
- on the top right corner, click on your avatar and then settings ( https://github.com/settings/profile)
- click on developer settings (https://github.com/settings/developers)
- then click on personal access

[2018-11-16 16:55] musman-ashraf commented on #458
It worked perfectly fine with access token. Thanks a million!

[2018-11-16 17:01] valeriocos commented on #458
great! I close this issue @musman-ashraf, feel free to reopen it if needed

[2018-11-16 17:01] #458 closed

[2018-11-19 15:11] GregSutcliffe opened #459 "Issue with a "ghost" GitHub user that doesn't return user data"
I'm indexing a Github repo, and I'm hitting an error with a specific PR:

[code]

It appears to be an issue with a specific user that isn't returning data from the API.

[2018-11-20 16:52] GregSutcliffe commented on #459
I have a workaround:

[code]

I'm no Python expert, so it may be a bit hacky, but if this seems reasonable I'll happily submit a PR

[2018-11-21 09:14] valeriocos commented on #459
thank you @GregSutcliffe . @sduenas do you agree about submitting this PR?

WRT the PR I would merge the two if statements in one, for instance:
[code]
If you submit the PR, please increment by one the last number of the variable `version` at the beginning of the file (since the PR targets minor change)

Generally, a PR should come with some related test code. You could add to the file https://git

[2018-11-21 16:42] sduenas commented on #459
In my opinion, we should keep the comment and set the user to `None` or similar. A warning message should be also written.

[2018-11-22 15:21] musman-ashraf opened #460 "Fetching followup commits of pull requests"
Hi, I want to fetch commits related to pull request. So far, Github.fetch() returns me pull requests without having commits details.

However trying Github.fetchitems thorws the follwing ...
github.py", line 241, in __fetch_pull_requests
    raw_pulls = self.client.pulls(from_date=from_date)

AttributeError: 'NoneType' object has no attribute 'pulls'

[2018-11-22 16:01] valeriocos commented on #460
Hi @musman-ashraf

Please, try the code below and let me know. It retrieves the pull requests of chaoss/grimoirelab-perceval and insert the pull request number and the corresponding commits to a dict.
[code]

[2018-11-22 16:33] valeriocos commented on #460
@musman-ashraf let's close this issue, feel free to reopen it if needed

[2018-11-22 16:33] #460 closed

[2018-11-23 10:11] GregSutcliffe commented on #459
Thanks both. Keeping the comment seems reasonable, there may be uses for the body even without the user data. I'll see what I can do, but it will have to wait to next week :)

[2018-11-26 16:20] propol commented on #416
Greetings!
I'd be interested to try to implement Pagure's backend if possible :)
As I understand I will be using the abstract class for backends available, correct?

[2018-11-26 16:32] valeriocos commented on #416
Great, thank you @propol !
Yes, you can have a look at the other [backends](https://github.com/chaoss/grimoirelab-perceval/tree/master/perceval/backends) to see some examples. Feel free to open a PR, and we can iterate over it.

[2018-11-26 17:10] propol commented on #416
Sure, will do when I have some code to show for it :)
Thank you

[2018-11-30 10:02] abitrolly opened #461 "Gather my personal trail data"
As I mentioned https://github.com/chaoss/grimoirelab-perceval/issues/416#issuecomment-406799380 I want to see all my data aggregate from different systems where I active. To build stats and provide reports about value of my contribution to the open source ecosystem, which right now involves too much housekeeping, and is not too reliable to get message to the people who pay me "monies" to explain t

[2018-12-01 13:54] sulunemre opened #462 "How to get GitHub username from Git history?"
When a git repository is hosted on GitHub, can I get GitHub username for a commit with the help of perceval? GitHub API provides that information([for example](https://api.github.com/repos/chaoss/grimoirelab-perceval/commits/89fc35bd518468f7bbf6daab5da35985d872f0ed)) but is it available on perceval?

[2018-12-01 16:34] sduenas commented on #462
Although GitHub API provides that, Perceval currently doesn't support it. Perceval only gathers data from issues and PRs (what we call `categories`). Any PR will be welcome to support `commit` category.

[2018-12-01 19:46] valeriocos commented on #462
Hi @sulunemre,
The feature you mention is not covered by Perceval, but implemented in [ELK](https://github.com/chaoss/grimoirelab-elk/blob/master/grimoire_elk/enriched/git.py#L237), another component of GrimoireLab. In case you were planning to use the data extracted with the Git backend, you may do the following:
- execute the Git backend on a GitHub repository
- collect the JSON documents
- iter

[2018-12-02 11:00] abitrolly commented on #461
I need raw data over specified period, ability to filter it and enrich with some conclusions, This also needs filters saved for reproducing result. In particular for GitHub:

1. (raw) timeline that shows activities from GitHub
2. (filtered) time events related to some context (task, project, problem, whatever)
3. (filtered, approximated) time spend on those events
4. (new data) my layer of additio

[2018-12-02 11:14] abitrolly commented on #461
Forgot to mention - people I collaborate with and events from upstream projects related to my issues in a context are important. Reading the issues takes time. Preparing answers takes time. Validating information is also time. Reading logs on Travis and reproducing issue. Would be nice to see this merged.

[2018-12-03 11:12] valeriocos commented on #461
@abitrolly , your idea seems really interesting, however I'm not sure the current GrimoireLab can help you, since the metrics for users it provides don't reach the level of granularity you want.

From what I understood, you would like to have a timeline visualization that combines the data about  the time you spend on development-related activities (reading logs, coding, writing issues, etc.) plus

[2018-12-12 01:50] RobSmyth commented on #331
I'm having the same p[roblem. Has any work been done on this?

[2018-12-17 09:02] valeriocos commented on #462
@sulunemre I would close this issue, feel free to reopen it if needed.

[2018-12-17 09:02] #462 closed

[2018-12-20 11:22] jgbarah opened #465 "Error related to autoprofile"
When launching the last SortingHat from SirMordred, I get the following error:

[code]

This happens with the default `grimoirelab/full` container, when run as:

[code]

The problem happens after a little while, apparently when   the first data source is done, and autoprofile is fired to update the SortingHat database.

[2018-12-20 13:37] sduenas commented on #465
This is an error in SortingHat not in Perceval. Would you open it there?

[2018-12-20 13:37] #465 closed

[2018-12-21 09:19] sduenas opened #466 "Support `to-date` parameter in GitHub backend"
It would be nice to support `to-date` in GitHub backend to limit the number of items retrieved. GitHub usually is slow due to rate limits. With this parameter the set of data retrieved can be delimited making the process faster in case someone wants only a set of the full data.

[2018-12-26 03:45] abitrolly opened #467 "My personal data from StackExchange"
Continuing #461 I am trying to get my trail from StackExchange. Basically, I want to recreate https://stackexchange.com/users/9178178/anatoli-babenia?tab=activity on my home page in as much detail as possible (removed comment, edited post, got +2 rep etc.).

![image](https://user-images.githubusercontent.com/8781107/50431162-ade67d80-08d9-11e9-8233-aebeda723117.png)

**First**, I haven't found how

[2018-12-26 11:19] canasdiaz opened #468 ""ArchiveError" with issues from https://gitlab.com/gitlab-org/gitlab-runner repo"
Hey folks,
using Mordred I've found what seems to be a Perceval :beetle: .

How to reproduce:
* download issues for the repo https://gitlab.com/gitlab-org/gitlab-runner
* version: the one stated at https://github.com/chaoss/grimoirelab/blob/master/releases/0.2.2

This is the error output:

[code]

[2018-12-28 16:38] #466 closed

[2019-01-10 08:53] sduenas commented on #467
Perceval doesn't get data related to one specific user only. You'll have to change the code to do it. I'm closing this issue. Feel free to contribute with a PR if you want.

[2019-01-10 08:53] #467 closed

[2019-01-14 16:17] musman-ashraf opened #470 "retrieval of comments of jira issue"
Hi, i am currently fetching jira issue using Jira(url='...', project='...'). However, JSON object does not contain comments of jira issues . Is there any way? thanks in advance

[2019-01-15 04:11] acs opened #471 "[github] requests.exceptions.HTTPError: 502 Server Error: Bad Gateway"
Trying to get the github data from Apache Spark project I have found the same exception in two different executions. The command used was:

[code]

The first one:

2019-01-14 17:26:42,127 Error feeding ocean from github (https://github.com/apache/spark): 502 Server Error: Bad Gateway for url: https://api.github.com/repositories/17165658/issues?state=all&per_page=100&direction=asc&sort=updated&requ

[2019-01-15 04:32] acs commented on #471
I have retried it this morning with a good fiber connection and no issue until the end of the rate limit (5000 requests). So it seems that the Bad Gateway error could appear when the GItHub servers are overloaded. My yesterday testing was done using a mobile connection.

[2019-01-15 06:43] acs commented on #471
In this morning, just 2 hours later, and using a good connection also, the same error appeared.

[2019-01-15 14:44] valeriocos commented on #471
Hi @acs thank you for reporting this bug. I'm currently performing some tests but it seems that the error is gone if you replace the code at: https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L485 with
[code]

[2019-01-15 16:41] acs commented on #471
Great news! I will try to check it asap. Thanks @valeriocos Would this code be included in the next release of perceval?

[2019-01-17 19:22] lukaszgryglicki opened #474 "Perceval GitHub fails to process kubernetes/kubernetes repo"
See `time ./bin/perceval github kubernetes kubernetes --category issue -t "`cat /etc/github/oauth`" --sleep-for-rate --from-date 2014-01-01` output:
[code]

I was initially thinking that this is due to the huge size of `k/k` repo but `torvalds/linux` is bigger and seems to work (never waited till finish, it would take hours! Interrupted after about 10 minutes): `time ./bin/perceval github torvalds

[2019-01-17 19:46] lukaszgryglicki commented on #474
Seems like I know why `linux` works and `kubernetes` not. Kubernetes has 100s more issues and PRs (`linux` GitHub repo is only a mirror). Seems like `Perceval` is not able to process issues/PRs from repos with tens/hundreds of thousands of issues/PRs. probably some internal paging or something like this is needed, I don't think that user should call Perceval N times for `k/k` repo each time giving

[2019-01-18 07:00] lukaszgryglicki commented on #474
When I merged most recent `upstream/master` today it seems to work OK for `kubernetes/kubernetes` repo :)
That `upstream/master` merge works both when using single GitHub token and also with my new feature PR [adding support for GitHub tokens pool](https://github.com/chaoss/grimoirelab-perceval/pull/473).
I will give it more time...

[2019-01-18 07:02] lukaszgryglicki commented on #474
Unfortunately, not that easy, now `too many 502 error messages` for command: `time ./bin/perceval github kubernetes kubernetes --category issue -t "`cat /etc/github/oauths`" --sleep-for-rate --from-date 2014-01-01`:
[code]

[2019-01-18 14:32] lukaszgryglicki commented on #474
GitHub is unable to process all K8s issues at once. But I think `Perceval` should deal with that.
- First, detect that GitHub failed due to attempting to get too much data at once.
- Second: once detected retry dividing request into smaller parts (like for example iterate date ranges or divide by some other mean).
- Finally - when GitHub request divided into N smaller requests - run each of N requ

[2019-01-21 13:09] sanacl opened #476 "IncompleteRead getting data from groups.io"
I've seen the error below in our Bitergian production instances where we are analyzing the group `cloudfoundry+cf-dev`

The error:
[code]
How to reproduce:
* get a valid token for groups.io
* subscribe to the group at https://lists.cloudfoundry.org/g/cf-dev/ and get a token
* execute ```perceval groupsio cloudfoundry+cf-dev -t ***``` using the token

[2019-01-23 10:42] valeriocos commented on #476
thank you @sanacl to report this issue. It seems that there is a problem with the upstream server, in a nutshell, the reading operation on the data being fetched remotely is interrumpted by the server.
I left a message on groups.io API group, you can follow the discussion here: https://beta.groups.io/g/api/topic/impossible_to_download/29431590?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,294315

[2019-02-05 13:08] sanacl commented on #476
I've got the same error with a different group using a brand new token. Find the traceback attached just in case it helps:

[code]

[2019-02-12 11:19] sduenas opened #480 "Add category to fetch GitHub repositories metadata"
The entry point for repositories in GitHub REST API provides basic information such as number of stars, forks and watchers: https://developer.github.com/v3/repos/

A new category should be added to GitHub backend to retrieve this kind of data.

This issue is related to chaoss/grimoirelab#184.

[2019-02-16 03:02] choldgraf opened #482 "What's the best way to incrementally update your data?"
Hello 👋 I think perceval looks really cool! I'm exploring using it to keep a running dataset of several of our repositories, and mining that data to find ways we can improve our community dynamics!

I'm still trying to figure out the right way to store data...right now I'm just storing things as JSON lines. But this brings up the challenge of *updating* data once an initial data-dump has been acco

[2019-02-16 12:55] valeriocos commented on #482
Hi @choldgraf , thank you for using Perceval. Arthur seems the tool you may need (https://github.com/chaoss/grimoirelab-kingarthur), in a nutshell it's a scheduler of Perceval jobs (and it takes care of incrementality). You may want to have a look also to mordred (https://github.com/chaoss/grimoirelab-sirmordred), which is the orchestrator of GrimoireLab, and it provides support for incrementality

[2019-02-16 17:03] choldgraf commented on #482
Hey @valeriocos - thanks for the ideas :-)  I had originally looked into kingarthur and sirmordred, but I feel like these are a bit heavy-handed for me. I had checked out the kingarthur docs, but in the getting started page it says

"The first step is to run a Redis server that will be used for communicating Arthur's components. Moreover, an Elastic Search server can be used to store the items gen

[2019-02-17 04:58] Polaris000 opened #483 "[github] perceval commandline auth by user and password"
I had a look at other issues and pull requests but have n't found one addressing this issue. The [grimoirelab tutorial documentation](https://chaoss.github.io/grimoirelab-tutorial/perceval/github.html#retrieving-from-github-with-authentication) states:

   with no credentials
   with a user and password
   with a user token

[code]

I'm using v0.12.3 and the `-u` and `-p` flags are not available.

[2019-02-18 08:17] valeriocos commented on #483
Hi @Polaris000 , sorry for the late reply. It seems that it is just an inconsistency in the documentation. the GitHub perceval backend can use an API token, but doesn't support the use of username and password.
It would be amazing if you could open an inssue in the grimoirelab-tutorial [repo](https://github.com/chaoss/grimoirelab-tutorial) to update the documentation (thank you a lot).

I would cl

[2019-02-18 08:23] valeriocos commented on #482
@choldgraf no worries. If you pass me a list of repositories you want to analyze, I can setup things for you and share with you the configuration (no $$$ needed).
Note that Grimoirelab components are available also on Docker, so you may not need to dig into the specificities of the technologies used.

[2019-02-18 10:24] Polaris000 commented on #483
Thanks for the reply! I'll send a PR in the grimoirelab tutorial repo.

[2019-02-18 10:24] #483 closed

[2019-02-19 09:48] valeriocos commented on #480
The PR https://github.com/chaoss/grimoirelab-perceval/pull/481 addresses this issue.

[2019-02-20 12:11] valeriocos commented on #482
@choldgraf I'm going to close this issue, feel free to reopen it if needed.

[2019-02-20 12:11] #482 closed

[2019-02-20 16:00] choldgraf commented on #482
no problem, and thanks for the help (and your offer to help). I'll dig into the Docker image when I have a moment and can try to figure that one out :-)

[2019-02-20 22:26] #480 closed

[2019-02-28 15:23] maoo opened #486 "Add ancestors to Confluence backend"
In order to establish whether a Confluence page (whose activity gets tracked by the Confluence Perceval backend), I've been working on enriching the Confluence backend with `ancestors` (see https://developer.atlassian.com/server/confluence/expansions-in-the-rest-api/).

The ancestors expansion feature should be disabled by default and enabled via optional parameter.

A Pull Request is on the way,

[2019-03-04 16:59] #486 closed

[2019-03-09 12:33] InosRahul opened #489 "[pipermail] 403 error when starting sirmordred using docker"
docker run -p 127.0.0.1:5601:5601 -v $(pwd)/credentials.cfg:/override.cfg  -t grimoirelab/ful

'''
Starting container: 95ab2764a9d4
Starting Elasticsearch
[ ok ] Starting Elasticsearch Server:.
Waiting for Elasticsearch to start...
tcp        0      0 0.0.0.0:9200            0.0.0.0:*               LISTEN      -
Elasticsearch started
Starting MariaDB
[ ok ] Starting MariaDB database server: mysqld

[2019-03-09 13:18] valeriocos commented on #489
thank you @InosRahul for reporting this issue. The problem is related to the pipermail links (e.g., lists.linuxfoundation.org/pipermail/chaoss-...)  which are not accessible. You can check it by clicking on any of these links. Furthermore, it seems that this depends on a bug: https://lists.linuxfoundation.org/mailman/listinfo/chaoss

Could you please try other pipermail urls ?

[2019-03-10 22:41] sduenas commented on #471
I'm going to close this since seems to be a problem with GitHub. I think we cannot do more at this moment.

[2019-03-10 22:41] #471 closed

[2019-03-10 22:47] #91 closed

[2019-03-10 23:04] sduenas opened #490 "Filter sensitive data when generating items"
Some data such as email or names can be considered as sensitive. Although, Perceval fetches these data, some user might want to filter these data before the items are generated. For that reason, Perceval should provide a way to generate this kind of filtered items.

Fields considered as sensible must be predefined (`hardcoded`) for each backend. When these items are generated, metadata should cont

[2019-03-11 08:40] valeriocos commented on #489
@InosRahul I have just tried with the URLs you posted abouve, and it seems that the problem in upstream is gone. Could you check it again, please?

[2019-03-11 13:41] InosRahul commented on #489
Yes, the issue is solved and all links are working.
Thank You.

[2019-03-11 13:41] #489 closed

[2019-03-21 00:19] sduenas commented on #490
My idea to implement this feature consist on:

* Every backend will have a list of **confidential** or **classified** fields. This list will be empty most of the times. By default, this list will be defined inside `Backend` class as empty. It can be reused and it won't be necessary to set it in every subclass.
* `Backend` class will have a parameter in `__init__` method to set if it will be necess

[2019-03-22 03:53] vchrombie commented on #28
@jgbarah
Is this work still pending?

I found this issue as a good way to start tweaking the code and learn more about Perceval.

[2019-03-22 09:30] valeriocos commented on #28
I'm not sure that producing a JSON doc that includes all items retrieved by Perceval can be a good solution when mining large repositories (https://github.com/torvalds/linux), since the JSON obtained may not fit in memory. Currently perceval provides the feature [--json-line](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backend.py#L325), which produces a JSON line for each o

[2019-03-22 11:33] sduenas commented on #28
Yeah, that's the point about not having a long document. The solutions are either use `--json-line` flag or parse the output as I described [here](https://github.com/chaoss/grimoirelab-perceval/issues/28#issuecomment-200330136),

[2019-03-22 11:33] #28 closed

[2019-03-23 02:52] sarvesh211999 opened #493 "Perceival Github Returns Pull Request Under Issue Category also"
The Existing Problem with Perceval is that when running the below command with category **issue** it also fetches the pull request because the github api returns the pull request under issues.
`$ perceval github --json-line -category issue omegaup omegaup --sleep-for-rate -t a247a6b7d506736da6d653cddc060a96bfbd9cb3 > data_source.json`

For Example:
This is actually a pull request that is returned

[2019-03-23 08:11] valeriocos commented on #493
Hi @sarvesh211999 , thank you for reporting this issue.

As stated in the GitHub API, [every pull request is an issue, but not every issue is a pull request.](https://developer.github.com/v3/pulls/#labels-assignees-and-milestones). Thus, when fetching issues, some PRs are also returned, You can recognize them because they include the attribute 'pull_request'.
When enabling the category 'pull_reque

[2019-03-23 08:46] sarvesh211999 commented on #493
Yeah I know that GitHub API return additional information when  category pull_request is provided and actually that information is the important information and more useful.
So I was thinking to remove this pull request lines when Perceval is call with issue category as it creates a lot of confusion and there is not that much of information.

[2019-03-23 09:05] valeriocos commented on #493
Perceval tries to manipulate/modify as less as possible the data returned by the API in order to have kind of one-to-one correspondence with the original data, so the removal you propose can't be added to Perceval.

[2019-03-23 09:17] jgbarah commented on #493
As Valerio commented, Perceval just follows the API. It is not an end-user tool. If you come to the GitHub API, and retrieve data, it is reasonable that Perceval gets for you all what GitHub returns for that kind of API. Of course, higher level tools, such as Grimoire-ELK, should tell issues apart from pull requests, so that users are not confused.

I'm closing this, as we don't think is really a

[2019-03-23 09:17] #493 closed

[2019-03-23 09:29] valeriocos opened #494 "[doc] Update info about categories returned by Perceval"
The information about the categories returned by Perceval is not updated with the latest codebase:
- https://github.com/chaoss/grimoirelab-perceval/blob/master/bin/perceval#L35
- https://github.com/chaoss/grimoirelab-perceval#usage

Furthermore, wrt the GitHub categories, some more information could be added at the lines below to explain the overlap of some of the data returned when fetching issue

[2019-03-23 09:30] valeriocos commented on #493
Sure @jgbarah , just opened an issue: https://github.com/chaoss/grimoirelab-perceval/issues/494
@sarvesh211999 feel free to work on it.

Thanks

[2019-03-26 14:36] #490 closed

[2019-03-27 09:00] jgbarah commented on #494
Thanks to chaoss/grimoirelab-tutorial#74 this is now fixed in the tutorial. But README and help for Perceval itself, explaining categories for GitHub, are not done. PRs welcome.

[2019-03-27 09:04] jgbarah commented on #474
@lukaszgryglicki thanks for your comments. I agree with you. i'm labeling this as "enhacement" and "help wanted", just in case somebody can help with this (in addition to you if you can find the time, of course).

[2019-03-27 09:16] lukaszgryglicki commented on #474
Thanks!

[2019-03-27 11:18] vchrombie commented on #494
I would be happy to contribute.
Can I take up this issue and send a patch for it?

[2019-03-27 11:45] valeriocos commented on #494
Thank you @vchrombie , sure! You can start with:

[2019-03-27 13:46] vchrombie commented on #494
I updated it in the README. Should I update that in the codebase too?

What I am thinking is, updating about the `category` here looks cluttered.
https://github.com/chaoss/grimoirelab-perceval/blob/master/bin/perceval#L35ter

Or shall I add it as a `optional argument for github` under this line in the codebase?
https://github.com/chaoss/grimoirelab-perceval/blob/master/bin/perceval#L75

[2019-03-27 18:02] valeriocos commented on #494
Yes, sure. I would modify here: https://github.com/chaoss/grimoirelab-perceval/blob/master/bin/perceval#L50, something like:
`github           Fetch issues, pull requests and repository information from GitHub`

Also GitLab could be changed since it includes [two categories ](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/gitlab.py#L87)

what do you think ?

[2019-03-27 18:04] valeriocos commented on #494
If you want, you can improve also the method descriptions in github.py. As a reference, you can take a look at the methods in [git.py](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/git.py#L910)

[2019-03-28 16:50] vchrombie commented on #494
Sure @valeriocos, I will update you with the changes.

[2019-03-28 17:12] GeorgLink opened #498 "Require DCO sign-off for new commits"
This issue is to activate [protobot/dco](https://github.com/apps/dco) (or similar bot) to check that all commits have a sign-off in this repository.

The [CHAOSS Project Charter section 8.2.1](https://chaoss.community/about/charter/#user-content-8-intellectual-property-policy) requires that all contributions are signed-off. The CHAOSS project has been piloting the use of DCO sign-offs. Once contri

[2019-03-28 22:02] vchrombie opened #499 "[feature-request] Progress bar showing the stats of retrieving data using Perceval."
I was using Perceval to get the data of GitHub projects and I observed one thing that the user doesn't know how much of the scraping is done or how much is still pending.

How about adding a progress bar which can show the statistics of the data retrieval work like when you update your packages in Ubuntu, you get the progress bar like the last line in the below picture.

![Screenshot_20190329_0316

[2019-03-29 08:30] valeriocos commented on #499
Hi @vchrombie , thank you for sharing this idea. It could be a nice feature, but it won't work for all backends. For instance, AFAIK the GitHub API doesn't return the number of all issues (just the number of [open ones](https://developer.github.com/v3/repos/)), you can get that number by scrolling the paginated issues. Maybe, the GitHub GraphQL API offers this kind of feature, but IMHO I would avo

[2019-03-29 09:41] valeriocos commented on #494
Great, thank you @vchrombie

[2019-03-29 15:45] valeriocos commented on #499
if you agree @sduenas , we can close this issue. Although the idea is interesting, it doesn't seem to be feasible. Thank you @vchrombie for the proposal.

[2019-03-30 00:58] vchrombie commented on #499
I was also thinking about it.

Ya, true that. One of the rules of a good software product; Keep It Simple. :)

[2019-03-30 00:59] vchrombie commented on #499
You're welcome. I am okay with it. We can close this issue. :+1:

[2019-03-30 01:00] vchrombie commented on #499
You're welcome. I am okay with it. We can close this issue. :+1:

[2019-03-30 01:00] #499 closed

[2019-03-30 15:48] Polaris000 opened #500 "Extra commits fetched by perceval"
When perceval is run on certain repositories, the number of commits fetched by perceval is different from the number visible on the repository's page on github.

Though I looked around, and even fetched data from a different set of repositories, the number of commits fetched is still different in some cases.

Since the data is thousands of lines long, it is not easy to tell which commits are extra

[2019-03-30 16:24] valeriocos commented on #500
Thank you @Polaris000 for reporting this issue. Under the hood, once Perceval has cloned a repository, it executes the command below, which retrieves the commits in all refs. This should explain the mismatch you see.
[code]

Feel free to have a look at the documentation of the method and the Git log command (to know each param what it does):
- https://github.com/chaoss/grimoirelab-perceval/blob/ma

[2019-03-30 16:32] Polaris000 commented on #500
Thanks for the prompt reply @valeriocos! I'll have a look at the resources you mentioned. I'll close this issue once I've had a look.

[2019-03-30 16:48] Polaris000 commented on #500
I can't believe I forgot that github by default shows you the main development branch (generally master)! Thanks a lot for your time!
The thing that threw me off was that my script for getting master commits was slightly incorrect.

Once again, thanks!

[2019-03-30 16:48] #500 closed

[2019-03-30 16:52] valeriocos commented on #500
You're welcome @Polaris000 :)

[2019-03-31 20:37] harshalmittal4 opened #503 "Specifying the --from-date and --to-date formats in the help messages for the backends."
Hey @valeriocos @jgbarah, I tried running perceval with different date formats for the --from-date, --to-date fields, and it supports many formats. But just to avoid the dilemma for the user regarding the input date format, would it be nice if it is explicitly stated in the help message (for eg, it could be YYYY-MM-DD or DD-MM-YYYY). Please let me know about this or I shall close it :sweat_smile:

[2019-03-31 21:30] jgbarah commented on #503
I think it could be a good idea to have a valid format in the help message, yes... What do you think, @valcos, @sduenas?

[2019-04-01 07:40] valeriocos commented on #503
+1

Thank you @harshalmittal4 for the proposal. The formats supported are the following ones: https://github.com/chaoss/grimoirelab-toolkit/blob/master/grimoirelab_toolkit/datetime.py#L97. I guess the description of supported formats (or a subset) could go over here: https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backend.py#L311

What do you think @sduenas ?

[2019-04-01 09:27] harshalmittal4 commented on #503
MM-DD-YYYY, YY-MM-DD, YYYY-MM-DD HH:mm:SS +HH:MM, among others.
    When the timezone is not provided, UTC+0 will be set as default
    (using `dateutil.tz.tzutc` object).

@sduenas Please have a look.
Thanks @jgbarah, @valeriocos. Let me know what formats to be added if this is to be included.

My views on this : We must add atmost 2 supporting formats, so that the help message appears prompt.

[2019-04-01 13:30] sduenas opened #504 "Expand list of classified fields in Meetup backend"
The list of classified items should be expanded to:
* `data.venue.*`
* `data.rsvps`
* `data.event_hosts`

[2019-04-01 18:51] #504 closed

[2019-04-02 06:25] harshalmittal4 opened #507 "Error in retrieving pull_request data for a particular repository"
I am trying running perceval for retrieving pull_requests data for [Cloud-CV/EvalAI](https://github.com/Cloud-CV/EvalAI) repository using the command
`perceval github -t XXXX --json-line --sleep-for-rate --category pull_request Cloud-CV EvalAI >> evalai_info.json`
but getting the following error message after retrieving some data :
![Screenshot from 2019-04-02 11-52-42](https://user-images.githubu

[2019-04-02 06:30] harshalmittal4 commented on #507
The error message seems to suggest that `self.__get_user(comment['user']['login'])
` is returning NoneType object.

[2019-04-02 07:17] valeriocos commented on #507
Thank you @harshalmittal4 for reporting this issue. I'm checking it

[2019-04-02 08:42] valeriocos commented on #507
This issue has been already reported for another repo: https://github.com/chaoss/grimoirelab-perceval/issues/459

[2019-04-02 08:58] harshalmittal4 commented on #507
Hey @valeriocos, I went through the issue #459. May I send a PR for this according to @sduenas comment [here](https://github.com/chaoss/grimoirelab-perceval/issues/459#issuecomment-440732841), you can verify once the PR is ready!

[2019-04-02 09:26] valeriocos commented on #507
Yes, sure @harshalmittal4, thanks!
I was able to reproduce the issue locally, if it can be useful for you I'm going to add the steps to reproduce it (basically the from-date param) and the failing comment asap (my github rate limit token expired and I'm waiting for its regeneration)

[2019-04-02 09:30] valeriocos commented on #498
done @GeorgLink

[2019-04-02 09:30] #498 closed

[2019-04-02 09:49] valeriocos commented on #507
The conf to reproduce quickly the error is:
[code]

Find below the failing doc:
[code]

[2019-04-02 13:25] GeorgLink commented on #498
Thanks @valeriocos

[2019-04-02 14:04] harshalmittal4 commented on #507
Thanks @valeriocos, this will be useful! I will look into this.

[2019-04-04 04:41] harshalmittal4 commented on #507
Hey @valeriocos, sorry for the delay, I had some college stuff submission. Please review the changes.

[2019-04-04 04:46] harshalmittal4 commented on #503
Hey @jgbarah, @valeriocos, @sduenas, ping.
Please let me know which formats to show in help message, for now shall I go with these two:
`YYYY-MM-DD and MM-DD-YYYY`

[2019-04-04 08:19] valeriocos commented on #503
@harshalmittal4 thank you for the ping.
What do you think about changing the help message at:
- https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backend.py#L317
- https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backend.py#L320

with something like:
[code]

what do you think ?

[2019-04-04 11:20] harshalmittal4 commented on #503
Yes @valeriocos, they seem good.  We could also replace the word `e.g.` with `format`.
Anyways, so shall I modify it according to this :
`help="fetch items updated since this date (e.g., YYYY-MM-DD, MM-DD-YYYY)"
help="fetch items updated before this date (e.g., YYYY-MM-DD, MM-DD-YYYY)"`

[2019-04-05 09:05] harshalmittal4 commented on #503
@valeriocos @jgbarah ping! :sweat_smile::

[2019-04-05 10:13] valeriocos commented on #503
I would prefer to use `e.g.,` instead of `format` since the former provides some valid examples, while the latter seems to me that the  YYYY-MM-DD, MM-DD-YYYY are the only valid formats.

Please @harshalmittal4 submit the PR when you have time, thank you.